.ui-tables{
    table{
      width: 100%;
      text-align: center;
      padding:0px; 
      border-spacing:0px; 
      border-style:none; 
      border-collapse:collapse;
      thead{
        background-color: #F5F6FA;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
        color:#333;
      }
      tbody>tr{
        height: 40px;
        line-height: 40px;
        font-size: 13px;
        color: #666;
        border-bottom: 1px solid #F1F2F7;
        border-top: 1px solid #fff;
        // vertical-align: top;
        text-align: left;
        &:hover{
          background-color: #f6f6f6;
          border-top:1px solid #F1F2F7;
        }
        td{
          vertical-align: top;
        }
      }
        
    }
  
}
.remove-button ,.add-button{
  width: 200px;
  height: 40px;
  border-radius: 4px;
  background-color: #499df1;
  color: #fff;
  margin-right: 30px;
}