.info-box{
	width: 442px;
	height: 208px;
	border: 1px dotted #DFDFDF;
	border-radius: 4px;
	.info-input{
		width: 252px;
		height: 36px;
		background: #FFFFFF;
		border: 1px solid #DFDFDF;
		border-radius: 4px;
	}
}