.g-create{
	width:775px;
	min-height:420px;
	display:inline-block;
	overflow-x:hidden;
	.ui-form-controller{
		width:220px;
	}
	.ui-form-label{
		padding-right:20px;
	}
	.u-operations{
		width:100%;
		min-height:40px;
		position:relative;
		.ui-form-item{
			position:absolute;
			left:0; top:0;
			&:nth-child(2){
				left:230px; top:0;
			}
			&:nth-child(3){
				left:390px; top:0;
			}
		}

	}
	.u-operation-label{
		font-size:14px;
		color:#333333;
		padding-left:40px;
		margin-bottom:10px;
	}
	.u-operation-content{
		margin-left:60px;
	}
	.u-operation-list{
		color:#666;
		font-size:14px;
		&>div{
			margin-left:14px;
		}
	}
	.u-operation-lists{
		color:#666;
		font-size:14px;
		margin-left:0 !important;
	}
	.u-error-tip{
		color:red;
		font-size:14px;
		margin-top:14px;
		text-align: center;
	}
	.u-method-title{
		font-size:14px;
		color:#666;
		padding-left:28px;
		margin-top:30px;
		position:relative;
		.require-label{
			color: red;
			position: absolute;
			left: 16px;
			top: 5px;
		}
	}
	.u-method-content{
		position:relative;
		min-height:40px;
		.ui-form-item{
			position:absolute;
			left:25px; top:0;
			&:nth-child(2){
				left:300px; top:0;
			}
			
		}
		.ui-form-controller{
			width:550px !important;
		}
		.u-method-add{
			position:absolute;
			left:665px; top:10px;
			width:80px;
		}
	}
	.u-method-content-list{
		width:250%;
		min-height:20px;
		line-height:20px;
		padding-left:105px;
		margin-top:16px;
	}
	.u-add-list{
		width:750px;
		min-height:20px;
		word-break:break-all;
		min-height:20px;
		height:auto;
		font-size:14px;
		color:#666;
		margin: 10px 0;
		.u-add-delete{
			cursor: pointer;
			font-size:14px;
			color:#499df1;
			margin-left:15px;
		}
	}

}
.ui-btn-center{
	display:inline-block;
	margin-right:20px;
}
.u-method-contentE{
	margin-top: -30px
}
.dialog-body{
	padding-right:0 !important;
}


