.g-delete{
		width:300px;
		height:150px;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-150px;
		margin-top:-75px;
		border-radius:4px;
	
	.u-delete-title{
		width:100%;
		float:left;
		margin:60px 0 25px;
		text-align:center;
	}
	.u-operation-lable{
		float:left;
		width:50px;
		font-size:14px;
		color:#666;
		.u-require{
			color:red;

		}

	}
}