.ui-dropdown-ul{
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(48, 48, 48, 0.8);
	z-index:100;
	padding : 10px 0;
	background:#fff;
	.ui-dropdown-li{
		padding : 0 10px;
		height:30px;
		line-height: 30px;
		text-align: center;
		cursor: pointer;
		color:#666;
	}
	.ui-dropdown-li:hover{
		background :#f2f2f2;
	}
}
.ui-title-text{
	cursor: pointer;
}
.ui-title-text:before{
	content:"";
	display: block;
	position: absolute;
	left: -9px;
	width: 10px;
	height: 30px;
}
.ui-small-square{
	position: absolute;
    top: 4px;
    left: -5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
    border-left: solid 5px rgba(48, 48, 48, 0.8);
    border-right: none;
    box-sizing: border-box;
}
