.ui-dropdown-ul{
	border:solid 1px #eee;
	border-radius: 4px;
	box-shadow: 0 0 4px #eee;
	z-index:100;
	padding : 10px 0;
	background: #fff;
	.ui-dropdown-li{
		padding : 0 10px;
		height:30px;
		line-height: 30px;
		text-align: center;
	}
	.ui-dropdown-li:hover{
		background :#eee;

	}
}
