.ui-hour-style,.ui-minute-style{
	margin:0;
	padding:0;
	margin-top: 4px;
	min-width: 90px;
	height: 210px;
	border:1px solid #dfdfdf;
	border-radius: 4px;
	// border-right: none;
	display: inline-block;
	background-color: #fff;
	overflow-y: auto;
	padding-top: 5px;
	text-align: center;

}
.ui-hour-style p,.ui-minute-style p{
	margin: 0px;
	padding: 0px;
	height: 30px;
	transition: all 0.02s;
}
.ui-hour-style p:hover,.ui-minute-style p:hover{
	background: rgb(245, 245, 245);
	
	font-size: 20px;
	cursor: pointer;
}