.ui-tree{
    position:relative;
    min-height:200px;
}

.tree-node {
    position:relative;
    padding-left:20px;
    .item-title {
        height:30px;
        color:#333;
        font-size:14px;
    }
}