.member-list-table{
    td{
    position:inherit!important;
  }
}
.member-list-div{

  display: block;
  .renderFilter{
    width: 300px;
  }
	
}

.search-form-second-door{
	.community-list{
		.ui-form-controller{
			width:156px;
		}
	}
}



