.second-door-open-log{
  tr:hover{
    background-color: #d7ffd6;
  }
  tr:nth-child(odd):hover{
    background-color: #d7ffd6;
  }
}

.search-form-second-door{
	.community-list{
		.ui-form-controller{
			width:156px;
		}
	}
}



