.g-userAuth{
	.searchForm{
		position:relative;
		z-index:9 !important;
	}
	.dialog-content{
		.dialog-body{
			overflow-x: hidden;
			.g-roleMange{
				overflow-x: hidden;
			}
			.g-roleEdit{
				overflow-x: hidden;
			}
		}
	}
}