.m-visitors-to-record{
  .ui-table-wrap {
	    text-align: center;
	    z-index: 99;
	    position: relative;
	}
	.renderFilter {
	    width: 299px;
	}
	.ui-drawer {
	    z-index: 999;

	}
  .ui-form-controller select{
    background: #fff;
  }


  .m-visitors-to-record-detail{
    .ui-form-controller{
      width: 200px;
      height: 41px;
      line-height: 43px;
    }
    .ui-form-item{
      width: 50%;
      padding-left: 0;
      padding-right: 0;
    }
    .ui-form-label{
      width: auto;
    }
  }
}
