.ui-drawer-title{
    position: relative;
    font-size: 18px;
    margin-left: -5px;
    .new-icon{
      display: inline-block;
      width: 42px;
      height: 42px;
      vertical-align:middle;
      margin-right: 15px;
      // background: url(./images/company.svg) no-repeat;
      background-position: center center;
    }
    .order-close{
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      right: 0px;
      top:0px;
      cursor: pointer;
      background: url(./images/closeIcon.svg) no-repeat;
      background-position: center center;
      
    }
}