.g-menu{
    .new-nav{
        border-bottom: 1px solid #e8e9e9;
        margin-bottom: 10px;
        .ui-button{
            margin: 20px 0 30px 0;
        }
    }
    .ui-form-label{
            margin-right: 20px;
    }
    .ui-dialog{
        .ui-button{
            float: none;
            margin-right: 20px;
        }
        .ui-btn-center{
            display: inline-block;
        }
        .ui-form-label{
            margin-right: 20px;
        }
    }

}