.g-menu{
    .list{
        padding-bottom: 20px;
    }
    .new-nav{
        .ui-button{
            margin: 20px 0 10px 0;
        }
    }
    .ui-form-label{
        margin-right: 20px;
    }
    .ui-dialog{
        .ui-button{
            float: none;
            margin-right: 20px;
        }
        .ui-btn-center{
            display: inline-block;
        }
        .ui-form-label{
            margin-right: 20px;
        }
    }

}