.dynamics_profile{
    position: fixed;
    width: 100%;
    left: 0px;
    top: 60px;
    overflow: auto;
    bottom: 41px;
    .title-img{
        width: 100%;
    }
    .dynamics_list{
        width: 860px;
        margin: auto;
        margin-top: 30px;
        border-top:1px solid #E1E6EB;
        .browse_more{
            border: 1px solid #999999;
            border-radius: 4px;  
            width: 120px;
            height: 36px;
            text-align: center;
            font-size: 14px;
            color: #999999;   
            line-height: 36px;
            margin: auto;
            cursor: pointer;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .browse_more:active{
             box-shadow:0px;
        }
    }
}