

.change-member{

	padding:20px;
	box-sizing: border-box;
	
	.change-member-item{
		width:50%;  
		padding:10px;  
		display: inline-block;
		box-sizing: border-box;
		vertical-align: top;
		&:first-of-type{
			border-right:solid 1px #515151;
		}
	}

}
	