.change-member-item-box{
    .section{
        margin-bottom : 0;
    }
    .section-body{
        padding:0;
        padding-top:20px;
        .ui-form-controller{
            margin-bottom: 0px;
        }
    }
    
    .add-member-to-group{
        padding-bottom:0;
        
    }
    
    
}
.change-member-item-box>.ui-dialog:last-of-type{
    width:1000px!important;
}

