.change-member-item-box{
    .section{
        margin-bottom : 0;
    }
    .section-body{
        padding:0;
        padding-top:20px;
        .ui-form-controller{
            margin-bottom: 0px;
        }
    }
    
    
}