.change-member-item-box{
    .section-body{
        padding:0;
        padding-top:20px;
        .ui-form-controller{
            margin-bottom: 0px;
        }
    }
    .table{
        
        .title{
            height:45px;
            border-top:solid 1px #eee;
            border-bottom:solid 1px #eee;
        }
        .item-line{
             height:45px; 
             border-bottom:solid 1px #eee;
             
             &:nth-of-type(odd){
                background: #f2f2f2;
            }
        }
        .item-line-span{
             display:inline-block;
             width:15%;
             height:45px;
             line-height:45px;
             text-align:center;
             vertical-align: top;
        }
        .last-line-span{
            width:10%;
            cursor: pointer;
            color: #499df1;
        }
        .first-line-item{
            display:inline-block;
            width:5%;
            cursor: pointer;
            
        }
        .community-item-span{
            width:25%;
        }
    }
    
    .group-member-search{
        margin-bottom:20px;
    }
}