
.pagination{

	.item-prev,
	.item-body,
	.item-next{
		display:inline-block;
	}

	.item-prev{

	}

	.item-body{

	}

	.item-next{

	}

	.item{
		display:inline-block;
		padding:5px 10px;
		border:1px solid #ddd;
		border-radius:4px;
		margin-left:5px;
	}

}


