
.ui-pagination{
	font-size:14px;
	color:#666666;
	.item-prev,
	.item-body,
	.item-next{
		display:inline-block;
	}

	.item-prev{
		.item{
			border:1px solid #ddd;
			border-radius:4px;
			background:url('images/left2.png') no-repeat center center;
		}
	}

	.item-body{
		vertical-align: top;
		margin-top:2px;

	}

	.item-next{
		.item{
				border:1px solid #ddd;
				border-radius:4px;
				background:url('images/right2.png') no-repeat center center;
			}
	}

	.item{
		
		display:inline-block;
		width:28px;
		height:28px;
		line-height:28px;
		text-align:center;
		margin-left:5px;
		cursor:pointer;
		color:#666666;
		&.active{
			
			color:#499df1;
		}
	}

}


