.no-print{
	display: inline-block;
	.main-navs{
		display:block;
	}



	.new-logo{
		position: relative;
		display: inline-block;
		width: 120px;
		left: 0px;
		height: 60px;
		background: url(images/logo.png) 0px -25px  no-repeat;
		background-size: 110px 110px;

	}
	.hide-heng{
		position: relative;
		text-align: center;
		height: 40px;
		width: 40px;
		left: 10px;
		margin-top: 16px;
		background:url(images/hide_heng.png) -7px -3px no-repeat;
	 	background-size: 36px 30px;

	}
	.hide-shu{
		position: relative;
		text-align: center;
		margin-top:0px;
		left: 17px;
		height: 40px;
		width: 40px;
		background:url(images/hide_shu.png) 0 2px no-repeat; 	
		background-size: 30px 36px;

	}
	.information-logo{
		font-size: 22px;
		color: #374359;
		cursor: pointer;
		.info-num{
			font-size: 14px;
			color: red;
		}
	}
	.ui-un-read-count{
		position: absolute;
		cursor: pointer;
		color: #fff;
		background-color: red;
		padding:1px 3px;
		border-radius: 15px;
		transform:scale(.9);
		top:-5px;
		left:11px;
		font-size:12px;
		padding-top: 2px;
		padding-right: 5px;
	}
	.redLogo{
		position: relative;
	}
	.redLogo:after{
		content:'';
		border:2px solid red;
		height: 0px;
		display: inline-block;
		position: absolute;
		border-radius: 4px;
		right: 0;
	}
}