/*
*{
    font-family: Lantinghei SC,Open Sans,Arial,Hiragino Sans GB,Microsoft YaHei,STHeiti,WenQuanYi Micro Hei,SimSun,sans-serif;
}
*/

html,
body{
	margin: 0 0 ;
}

html{
	height:100%;
	position:relative;
}

body{
    font-family: Lantinghei SC,Open Sans,Arial,Hiragino Sans GB,Microsoft YaHei,STHeiti,WenQuanYi Micro Hei,SimSun,sans-serif;
	height:100%;
	background-color:#F1F2F7;
	position:relative;
}

.container{
	margin-top:60px;
	padding:25px 20px;
	position:relative;
	height:auto;
	overflow:hidden;
	height:100%;
	position:relative;
}

.main-navs{
	display:block;
}

.app {
	top:0;
	let:0;
	right:0;
	bottom:0;
	position:relative;
	//border:1px solid red;
}
