
.main-navs{
	display:block;
}



.new-logo{
	position: relative;
	display: inline-block;
	width: 150px;

	height: 60px;	
	background: url(images/logo.png) 20px 10px  no-repeat;


}
.hide-heng{
	text-align: center;
	height: 24px;
	width: 24px;
	margin-left: 81px;
	margin-top: 15px;
	background:url(images/hide_heng.png) 0 0 no-repeat; 

}
.hide-shu{
	text-align: center;
    margin-top:0px;
    margin-left: 84px; 
	height: 24px;
	width: 24px;
	background:url(images/hide_shu.png) 0 0 no-repeat; 

}
