.m-activity-list-manage{
	position: relative;
	.close-navs{
		position: absolute;
		width: 100%;
		height: 100%;
	}	
}
.m-activity-list-manage{
	#keywords{
		width:148px;
	}
}
.edit-activity{
	.select-one{
		width: 16px;
	    height: 16px;
	    position: absolute;
	    left: 0px;
	    bottom: 0px;
	    margin-left: -8px;
	    background: #fff;
	}
	width:100%;
	height:100%;
	padding:39px 46px 39px 46px;
	box-sizing:border-box;
	overflow-y: scroll;
	.title-box{
		width:100%;
		height:40px;
		margin-bottom:20px;
		.title-img{
			width:44px;
			margin-left: -3px;
			height:44px;
		}
		.title-text{
			font-size: 18px;
			display:inline-block;
			height:40px;
			line-height:40px;
			vertical-align: top;
			margin-left:22px;
			margin-top: 3px;
		}
		.close-page{
			width:16px;
			height:16px;
			float: right;
    		margin-top: -16px;
    		.close-page-img{
    			width:16px;
				height:16px;
    		}
		}
	}
	.detail-info{
		.activity-info{
			.activity-title{
				width:100%;
				height:40px;
				span:nth-of-type(1){
					display:inline-block;
					width:40px;
					height:40px;
					border: solid 1px #499DF1;
				    border-radius: 20px;
				    line-height: 40px;
				    text-align: center;
				    color: #499DF1;
				    box-sizing: border-box;
				}
				span:nth-of-type(2){
					display:inline-block;
					width:22px;
					height:1px;
					background: #499DF1;
					vertical-align: middle;
				}
				span:nth-of-type(3){
					color: #499DF1;

				}
			}
			.activity-detail-info{
				border-left:dashed 1px #499DF1;
				padding-top: 10px;
				padding-left:30px;
				margin-left: 20px;
				position:relative;
				.select-one{
					position:absolute;
					
					top:50%;
					background:#fff;

				}
				.ui-time-select-all{
					.ui-hour-style{
						min-width:68px;
						width:68px;
					}
					.ui-minute-style{
						min-width:68px;
						width:68px;
					}
				}
			}
		}
		.enroll-info{
			.enroll-title{
				width:100%;
				height:40px;
				span:nth-of-type(1){
					display:inline-block;
					width:40px;
					height:40px;
					border: solid 1px #499DF1;
				    border-radius: 20px;
				    line-height: 40px;
				    text-align: center;
				    color: #499DF1;
				    box-sizing: border-box;
				}
				span:nth-of-type(2){
					display:inline-block;
					width:22px;
					height:1px;
					background: #499DF1;
					vertical-align: middle;
				}
				span:nth-of-type(3){
					color: #499DF1;

				}
			}
			.enroll-detail-info{
				border-left:dashed 1px #499DF1;
				padding-top: 10px;
				padding-left:40px;
				margin-left: 20px;
				position:relative;
				.select-one-see{
					width:16px;
					height:16px;
					position:absolute;
					left:-8px;
					top:50%;
					background:#fff;
					margin-top:-8px;
				}
			}
		}
		.enroll-info-last{
			margin-left:20px;
			border-left:dashed 1px #499DF1;
			position:relative;
			.select-one-see{
				width:16px;
				height:16px;
				position:absolute;
				left:0;
				bottom:0;
				margin-left: -8px;
   				 background: #fff;
			}
			.enroll-title{
				position:absolute;
				left:-20px;
				width:100%;
				height:40px;
				background:#fff;
				span:nth-of-type(1){
					display:inline-block;
					width:40px;
					height:40px;
					border: solid 1px #499DF1;
				    border-radius: 20px;
				    line-height: 40px;
				    text-align: center;
				    color: #499DF1;
				    box-sizing: border-box;
				}
				span:nth-of-type(2){
					display:inline-block;
					width:22px;
					height:1px;
					background: #499DF1;
					vertical-align: middle;
				}
				span:nth-of-type(3){
					color: #499DF1;

				}

			}
			
			.enroll-detail-info{
				
				position:relative;
				.select-one-see{
					width:16px;
					height:16px;
					position:absolute;
					left:-8px;
					top:50%;
					background:#fff;
					margin-top:-8px;
				}
			}
		}
	}
}
.new-create-activity{
	.select-one{
		width: 16px;
	    height: 16px;
	    position: absolute;
	    left: 0px;
	    bottom: 0px;
	    margin-left: -8px;
	    background: #fff;
	}
	width:100%;
	height:100%;
	padding:39px 46px 39px 46px;
	box-sizing:border-box;
	overflow-y: scroll;
	.title-box{
		width:100%;
		height:40px;
		margin-bottom:20px;
		.title-img{
			width:44px;
			margin-left: -3px;
			height:44px;
		}
		.title-text{
			font-size: 18px;
			display:inline-block;
			height:40px;
			line-height:40px;
			vertical-align: top;
			margin-left:22px;
			margin-top:3px;
		}
		.close-page{
			width:16px;
			height:16px;
			float: right;
    		margin-top: -16px;
    		.close-page-img{
    			width:16px;
				height:16px;
    		}
		}
	}
	.detail-info{
		.activity-info{
			.activity-title{
				width:100%;
				height:40px;
				span:nth-of-type(1){
					display:inline-block;
					width:40px;
					height:40px;
					border: solid 1px #499DF1;
				    border-radius: 20px;
				    line-height: 40px;
				    text-align: center;
				    color: #499DF1;
				    box-sizing: border-box;
				}
				span:nth-of-type(2){
					display:inline-block;
					width:22px;
					height:1px;
					background: #499DF1;
					vertical-align: middle;
				}
				span:nth-of-type(3){
					color: #499DF1;

				}
			}
			.activity-detail-info{
				border-left:dashed 1px #499DF1;
				padding-top: 10px;
				padding-left:30px;
				margin-left: 20px;
				position:relative;
				.select-one{
					position:absolute;
					
					top:50%;
					background:#fff;

				}
				.ui-time-select-all{
					.ui-hour-style{
						min-width:68px;
						width:68px;
					}
					.ui-minute-style{
						min-width:68px;
						width:68px;
					}
				}
			}
		}
		.enroll-info{
			.enroll-title{
				width:100%;
				height:40px;
				span:nth-of-type(1){
					display:inline-block;
					width:40px;
					height:40px;
					border: solid 1px #499DF1;
				    border-radius: 20px;
				    line-height: 40px;
				    text-align: center;
				    color: #499DF1;
				    box-sizing: border-box;
				}
				span:nth-of-type(2){
					display:inline-block;
					width:22px;
					height:1px;
					background: #499DF1;
					vertical-align: middle;
				}
				span:nth-of-type(3){
					color: #499DF1;

				}
			}
			.enroll-detail-info{
				border-left:dashed 1px #499DF1;
				padding-top: 10px;
				padding-left:26px;
				margin-left: 20px;
				position:relative;
				.select-one-see{
					width:16px;
					height:16px;
					position:absolute;
					left:-8px;
					top:50%;
					background:#fff;
					margin-top:-8px;
				}
			}
		}
		.enroll-info-last{
			margin-left:20px;
			border-left:dashed 1px #499DF1;
			position:relative;
			.select-one-see{
				width:16px;
				height:16px;
				position:absolute;
				left:0;
				bottom:0;
				margin-left: -8px;
   				 background: #fff;
			}
			.enroll-title{
				position:absolute;
				left:-20px;
				width:100%;
				height:40px;
				background:#fff;
				span:nth-of-type(1){
					display:inline-block;
					width:40px;
					height:40px;
					border: solid 1px #499DF1;
				    border-radius: 20px;
				    line-height: 40px;
				    text-align: center;
				    color: #499DF1;
				    box-sizing: border-box;
				}
				span:nth-of-type(2){
					display:inline-block;
					width:22px;
					height:1px;
					background: #499DF1;
					vertical-align: middle;
				}
				span:nth-of-type(3){
					color: #499DF1;

				}

			}
			.stationList{
				.ui-tooltip{
					left:50%;
				}
			}
			
			.enroll-detail-info{
				border-left:dashed 1px #499DF1;
				padding-top: 10px;
				padding-left:40px;
				margin-left: 20px;
				position:relative;
				.select-one-see{
					width:16px;
					height:16px;
					position:absolute;
					left:-8px;
					top:50%;
					background:#fff;
					margin-top:-8px;
				}
			}
		}
	}
}
#allmap{
	width:400px;
	height:400px;
}
.photo-box{
	margin-bottom: 15px;
	.photo-title{
		font-size: 14px;
		line-height: 14px;
		color: #333;
		padding-bottom: 10px;
		display: block;
		padding-left:15px;
	}
	.photo-img-box{
		border:dashed 1px #c5c5c5;
		height: 159px;
		width: 524px;
		background-color: #fff;
		padding:10px;
	}
	.content-info{
		width: 95%;
		margin-left: 16px;
		position:relative;
		&>p{
			color:#333;
			margin:0;
			img{
				width: 90%;
				margin-left: 5%;
			}
		}
	}
}
.enroll-info{
	.enroll-detail-info-detail{
		border-left: dashed 1px #499DF1;
	    padding-top: 10px;
	    padding-left: 24px;
	    margin-left: 22px;
	    position: relative;
		.select-one-see{
			width:16px;
			height:16px;
			position:absolute;
			left:-8px;
			top:50%;
			background:#fff;
			margin-top:-8px;
		}
	}
}

