.m-or-role{
     margin-left: 42px;
     padding: 35px 45px 0px 53px;
    .title{
        position: relative;
        font-size: 18px;
        margin-left: -5px;
        .new-icon-add{
        display: inline-block;
        width: 42px;
        height: 42px;
        vertical-align:middle;
        background: url(../images/meeting.svg) no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        }

        label{
        vertical-align:middle;
        display: inline-block;
        margin-left: 14px;
        }
    }
    .person-close{
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        right: 0px;
        top:0px;
        cursor: pointer;
        background: url(../images/close1.png) no-repeat;
        background-position: center center;
    }
 }
 .role-tab{
     width:658px;
     margin:0 auto;
 }
 .m-edit-role{
    margin-top:25px;
    margin-left: 38px; 
     .add-code{
         display:inline-block;
         .ui-label-text{
             line-height:35px;
             height:35px;
         }
     }
 }

 .m-edit-enable{
       display:inline-block;
       .ui-form-controller{
           margin-top:6px;
           color: #666;
       }
   }