.switch-dialog{
    height: 535px;
    background: #fff;
    text-align: center;
    .serch{
        background: #FFFFFF;
      
       
        .search-icon{
          margin-top: -25px;
          margin-right: 9px;
        }
    }
    .tree-content-left-right{
        border: 1px solid #E1E6EB;
        height: 426px;
         border-radius: 4px;
         margin-top: 10px;
         overflow-y: auto;
        .everyHave{
            position: relative;
            min-height: 36px;
            line-height: 17px;
            box-sizing: border-box;
            padding: 10px;
            border-bottom:1px solid #E1E6EB;
            cursor: pointer;
          
        }
        
    }
    .content-left{
        width: 230px;
       
        overflow: auto;
        height: 476px;
        
        display: inline-block;
       
        float: left;

    }
    .content-right{
        width: 230px;
        float: left;
        height: 476px;
        margin-left: 10px;
         display: inline-block;
        left:10px;
        overflow-y: auto;
        background: #FFFFFF;
       
      
    }

    .tree-content-left-right:hover{
        border: 1px solid #AADBFE;
    }

    .botton{
        display: inline-block;
        padding: 0px 25px;
        cursor: pointer;
        
    }
    .tree-dialog-bottom{
        background: #F6F6F6;
        height: 40px;
        width: 100%;
        text-align: center;
        line-height: 40px;
        position: absolute;
        bottom: 0px;
    }
    .tree-content{
        display: inline-block;
        text-align:left;
    
    }
}