.people-detail{
    display: -webkit-flex;
    display: flex;
    .detail-left{
        height:690px;
        width: 160px;
        flex-grow: 0;
        display:flex;
        display: -webkit-flex;
        flex-direction:column;
        -webkit-flex-direction:column;
       .left-pic{
           height:80px;
           background:#fff;
           border-top-left-radius: 80px;
           border-top-right-radius: 80px;
       }
       .left-text{
           background:#fff;
           flex:1;
       }
    }
    .detail-right{
        margin-left: 16px;
        width: auto;
        flex-grow: 1;
    }
}
