.people-detail{
    display: -webkit-flex;
    display: flex;
    .detail-left{
       width: 160px;
       flex-grow: 0;
       background: #ccc;
    }
    .detail-right{
        margin-left: 16px;
        width: auto;
        background: #F7E8B4;
        flex-grow: 1;
    }
}
