.ui-btn-center {
    margin-right: 30px;
    display: inline-block;
}
.u-hight-form{
	position:relative;
}
.u-error-tip{
	position:absolute;
	color:red;
	font-size:14px;
	top:70px;
	left:340px;
}
.g-loginlog{
	.ui-tooltip{
		&.center{
			left:50% !important;
			transform:translateX(-50%);
		}
	}
	.top-arrow{
		display:none !important;
	}
	.ui-table td{
		&:nth-child(4){
			.ui-tooltip{
				display:inline-block;
				width:360px;
				white-space:normal;
			    word-wrap:break-word;
			    word-break: normal;
			}

		}
	}
}
