.s-date-search{
	.inline{
		width:630px;
		margin-top: 10px;
	}
	.ui-line-down-list{
		display:inline-block;
	}
	.statis-date-title{
		display: inline-block;
	    margin-top: 17px;
	    font-size: 14px;
	    color: #666;
	}
}