.customer-searchUpper{
  form{
  	.ui-form-label{
		padding-bottom: 8px;
	}
  }
  .ui-calendar .calendar-wrap {
	    position: absolute;
	    bottom: -50px;
	    left: -30px;
	    width: 330px ;
	    height: 380px ;
	    overflow-y: hidden;
	     margin-left: -10px;
		top:auto;
	      margin-top: -10px;
	}
  .ui-line-down{
  	margin-left: -5px;
  }	
}