.customer-searchUpper{
.ui-calendar .calendar-input .line{
   &:before{
  	 border-right:none;
  }	
}
   
  form{
  	.ui-form-label{
		padding-bottom: 8px;
	}
  }
  
  .ui-line-down{
  	margin-left: -5px;
  }	
}