.ui-print-baseinfo{
	width:760px;
	height:149px;
	margin:0 auto;
	.baseinfo{
		color:#2d8dcd;
		font-size:12px;
		padding:12px 0;
		text-indent:12px;
	}

	.infolist{
		width:50%;
		float:left;
		font-size:12px;
		color:#333333;
		div{
			text-indent:22px;
			margin-bottom:15px;
			span{
				font-size:12px;
			}
		}
	}
}