.ui-print-baseinfo{
	width:700px;
	height:98px;
	margin:0 auto;
	.baseinfo{
		color:#2d8dcd;
		font-size:10px;
		padding:7px 0;
		text-indent:12px;
	}

	.infolist{
		float:left;
		font-size:12px;
		color:#333333;
		div{
			text-indent:22px;
			margin-bottom:6px !important;
			span{
				font-size:10px;
			}
		}
	}
}