.metting-reservation{

    .reservation-introduction{
         position: absolute;
        height: 60px;
        width: 300px;
        background: rgba(0,0,0,0.6);
        position: absolute;
        padding: 5px 4px;
        color: #fff;
        font-size: 12px;
        line-height: 17px;
        box-sizing: border-box;
        top: 30px;
        div{
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
        }
        .reservation-introduction-mask{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    .reservation-detail{
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        
      
        .mask{
            position: fixed;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            z-index: 90;
            
        }
        .detail{
            position: absolute;
            text-align: left;
            width: 234px;
            padding: 16px;
            box-sizing: border-box;
            background: #fff;
            z-index: 99;
            top: 0;
            left: 0;
            transform: translateY(-50%);
            margin-left: 20px;
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
            .close{
                height: 15px;
                span{
                    width: 15px;
                    height: 15px;
                    float: right;
                    background: url(images/close.svg) no-repeat;
                    background-position: center center;    
                    background-size:100% 100%; 
                    cursor: pointer;
                }
            }
             .time,.place,.reservation-people{
              
               color: #499DF1;
               font-size: 12px;

               span{
                   vertical-align: middle;
               }
               div{
                    display: inline-block;
                    margin: 0px;
                    padding: 0px;
                    vertical-align: middle;
                    padding-left: 10px;
                    line-height: 20px;
                    width: 150px;
               }
             }
             .delete-btn{
                 width: 80px;
                 height: 30px;
                 line-height: 30px;
                 background: #FF5B52;
                 text-align:center;
                 color: #fff;
                 display: block;
                 margin: auto;
                 font-size: 14px;
                 border-radius: 4px;
                 cursor: pointer;
                 box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
                 margin-bottom: 12px;
                 margin-top: 9px;
             }
        }
        .detail-right:after {
            content: '';
            position: absolute;
           
            top: 50%;
            margin-left: -26px;
            transform: translateY(-50%);
        
            width: 0;
            height: 0;
            border-right: 10px solid #fff;
        
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;

        }
        .detail-left:after{
            content: '';
            position: absolute;
            top: 50%;
            left: 100%;
            margin-left: 0px;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-left: 10px solid #fff;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
        }
    }
    .metting-Timeline{
        width: 100%;
        background: #fff;
        box-sizing: border-box;
        text-align: left;
        margin-top: 40px;
        
        .metting-Timeline-box{
            width: 100%;
            overflow-x: scroll;
            
            
            .metting-Timeline-shaft{
                position: relative;
                height: 90px;
                border-bottom: 1px solid #CCCCCC;
                margin-bottom: 10px;
                .metting-hours-box:last-child{
                    border-right: 1px solid #ccc;
                }

                .hours{
                    font-size: 12px;
                    color: #ccc;
                    width: 42px;
                    box-sizing: border-box;
                    height: 80px;
                    border-left: 1px solid #ccc;
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    span{
                        display: inline-block;
                        margin-left: 5px;
                    }
                }
                .half-hours{
                    width: 42px;
                    box-sizing: border-box;
                    height: 40px;
                    border-left: 1px solid #ccc;
                    position: absolute;
                    right: 0px;
                    bottom: 0px;
                }
               
            }
             .metting-Timeline-shaf:last-child{
                    border-right: 1px solid #ccc;
            }
        }
        .sticky-notes{
            width: 100%;
            height: 26px;
            line-height: 26px;
            background: rgba(40,50,67,0.80);
            span{
                font-size: 12px;
                color: #fff;
                display: inline-block;
                margin: 0 6px;
            }
        }
    }
    .metting-reservation-content{
        border-top: 1px solid #E8E9E9;
    }
    .meeting-reservation-from{
        font-size: 14px;
        margin-top: 25px;
        margin-bottom: 10px;
        .ui-form-controller.inline{
            width: 252px;
            max-width:100%;
            padding-left: 10px;
        }
        .Select--single > .Select-control{
            width: 252px;
        }
        .ui-form-label{
           
            display: inline-block;
            vertical-align: top;
            line-height: 40px;
            padding-bottom: 0px;
        }
        .Select.Select--single.is-searchable{
            display: inline-block;
        }

        .ui-form-controller{
            display: inline-block
        }
        .meeting-reservation-select{
            margin-top: 3px;margin-left: -35px;
            display: inline-block;
            .ui-form-controller.inline{
                width: 100px;
                max-width:100%;
                .Select-control{
                    width: 100px;
                }
            }
            .ui-form-label.inline{
                padding-left: 10px;
            }
        }
    }
}
