.node-formwork{
    #edui1_bottombar{
        display: none;
    }
    #container{
        top:70px;
        position: absolute;
        margin-left: 20px;
        right: 584px;
        border-right: none;
    }
    .textbox-top{
        border-bottom: 1px solid #DFDFDF;
        left: 20px;
        top: 20px;
        right: 0;
        position: absolute;
        height: 50px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 4px;
    }
    .kr-top{
        right: 30px;
        position: absolute;
        height: 50px;
        top:0;
    }
    .kr-top span{
       margin-left: 10px;
       border-radius: 4px;
    }
    .kr-top span button{
        margin-top: 10px;
        width: 80px;
        height: 30px;
        background: #FCFCFC;
        border: 1px solid #E7E7E7;
        border-radius: 4px;
        ont-family: PingFangSC-Regular;
        font-size: 14px;
        color: #666666;
    }
    .textbox-top>span{
        margin-left: 3px;
       display: inline-block;
        height: 100%;
        line-height: 50px;
        font-family: PingFangSC-Regular;
        font-size: 16px;
        color: #666666;
    }
    .container-right{
        border-top:1px solid #DFDFDF;
        position: absolute;
        top: 70px;
        height: 606px;
        width: 584px;
        overflow: hidden;
        right: 0;
        background: #FFFFFF;
    }
    .insert-cachet{
        width: 500px;
        height: 500px;
        background-color: red;
        position: absolute;
        top: 130px;
        left: 30%;
        margin-left: -125px;
        z-index: 9999;
        display: none;
    }
    .field-lable-container{
        position: absolute;
        top:150px;
        bottom: 200px;
        width: 100%;
        background-color:#00ff00;
    }
    .field-lable{
        height: 50px;
        width: 100%;
        background-color: #8c8c8c;
    }
    .field-lable span{
        line-height: 50px;
        padding-left: 25%;
    }
            .kr-list{
                height: 50px;
                width: 100%;
                border-bottom: 2px dashed black;
                position: relative;
            }
            .kr-list span{
                display: inline-block;
                height: 50px;
                line-height: 50px;
                padding-left: 25%;
            }
            .kr-list .covering-1 {
                position: absolute;
                background-color: red;
    
            }

}