.second-door-upgrade{
	tr:hover{
    	background-color: #deeeff;
  	}
  	tr:nth-child(odd):hover{
    	background-color: #deeeff;
  	}
  	thead {
		background-color: #fff;
		tr:first-child:hover{
			background-color: #fff;
		}
	}
	.tfoot tr:hover{
		background-color: #fff;
	}
}

.upgrade-tip-text{

	color : red;
	padding-left :10px;
}



