.m-agreement-list{

	.m-agreementList-searchForm{
		.searchForm-col{
			float: right;
			position: relative;
			display: inline-block;
		}
		.searchForm-col-select{

		}
		.date-component{
			width: 252px;
		}
	}

	
}
