
.ui-title{
	width:100%;
	display:inline-block;
}
.ui-head{
	width:100%;
	border-top:dotted 3px #ccc;
	display:inline-block;
	margin-top:-20px;
	position:relative;
}
.ui-title-mid{
	height:40px;
	position:absolute;
	left:40%;
	top:-22px;
	margin:0 auto;
	line-height:40px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	text-align:center;
	padding:0 50px;
	display:inline-block;
	background:#499df1;
    color:#fff;
	margin:0 5px;
}

.ui-body{
	width:100%;
	margin-top:-10px;
	border-left:dotted 3px #ccc;
	border-right:dotted 3px #ccc;
	display:inline-block;
}