
.ui-title{
	width:100%;
	display:inline-block;
	margin:50px 0;
}
.ui-head{
	width:100%;
	max-width:1150px;
	border-top:dashed 2px #ccc;
	display:inline-block;
	margin-top:-20px;
	position:relative;
}
.ui-title-mid{
	height:40px;
	position:absolute;
	left:40%;
	top:-22px;
	margin:0 auto;
	font-size:18px;
	font-family: '方正兰亭中黑';
	line-height:40px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	text-align:center;
	padding:0 50px;
	display:inline-block;
	background:#499df1;
    color:#fff;
	margin:0 5px;
}

.ui-body{
	width:100%;
	max-width:1150px;
	margin-top:-8px;
	border-left:dashed 2px #ccc;
	border-right:dashed 2px #ccc;
	border-bottom:dashed 2px #ccc;
	display:inline-block;
	
}
.ui-body-inner{
	margin:30px 24px 30px 24px;
}