.ui-title-mid{
	height:40px;
	line-height:40px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	background:#499df1;
	text-align:center;
	padding:0 50px;
	display:inline-block;
	color:#fff;
	margin:0 5px;
}
.ui-title-dot{
  width:40%;
  height:3px;
  border-bottom:dotted 3px #ccc;
  margin-top:-8px;
  display:inline-block;
}