    
    .belong-of-door-group{
        // max-height: 300px;
        // overflow: scroll;
        border-bottom: solid 1px #eee;
        .section-body{
            padding-left:10px;
            padding-right:10px;
            .item-block{
                display:inline-block;
                height:100%;
                text-align:center;
            }
            .title-line{
                width:100%;
                height:50px;
            }
            .content-item-line{

            }
        }
    }
   