.second-door-upgrade{
	tr:hover{
    	background-color: #deeeff;
  	}
  	tr:nth-child(odd):hover{
    	background-color: #deeeff;
  	}
  	thead {
		background-color: #fff;
		tr:first-child:hover{
			background-color: #fff;
		}
	}
	.tfoot tr:hover{
		background-color: #fff;
	}
}

.upgrade-tip-text{

	color : red;
	padding-left :10px;
}
.door-permission-group-search{
	.Select{
		width:155px;
	}
	.ui-form-controller{
		width:155px;
	}
	.ui-form-controller,.ui-form-label{
		display:inline-block;
	}
	.ui-form-label{
		vertical-align: top;
    	margin-top: 10px;
	}
	.communityId-span{
		.ui-form-label{
			vertical-align: top;
			margin-top: 0;
		}
	}
}
.new-creat-door-group{
	padding-top:30px;
}
.search-company-permmision{
	float: left;
    margin-top: -64px;
	.section-body{
		padding-top:0;
	}
	.new-create-authoriazation{
		margin-top:20px;
	}
}




.door-permission-manage {

}




