.m-list-org{
    margin-top:20px;
    .detail-header{
        background: #F5F6FA;
        border:solid 1px #E1E6EB;
        border-left:solid 1px #E1E6EB;
    }
    .detail-header .header-row{
        border-right:solid 1px #E1E6EB; 
    }
    .ui-table tbody tr.detail-row{
        border:solid 1px #E1E6EB;
        border-left:solid 1px #E1E6EB;
    }
    .ui-table tbody tr:nth-child(2n+1) {
        background-color: #fff;
    }
    .ui-table tbody tr:hover {
    background-color: #f6f6f6;   
    }
}
.m-add-role{
    margin-top: 20px;
    margin-left: 21px;
}