ul,li{
	list-style:none;
	padding:0;
	margin:0;
}

a{
	text-decoration:none;
	color:rgba(0, 0, 0, 0.65);
	font-family:Roboto, sans-serif;
}

.g-sidebar-nav{
	width:180px;
	.m-sidebar-nav{
		width:180px;
		display:inline-block;
		text-align: center;
		padding-bottom:5px;
		.u-sidebar-nav-title{
			width:100%;
			height:50px;
			line-height:50px;
			color: #79859a;
			font-size: 16px;
			position:relative;
			span:nth-child(1){
				font-size: 18px;
				height: 24px;
    			width: 24px;
    			position: absolute;
    			display: inline-block;
    			top: 16px;
			    left: -20px;
			}
		}
		.u-sidebar-navlist{
			width:100%;
			display:inline-block;
			a{
				width:100%;
				height:48px;
				line-height:48px;
				display:inline-block;
				color:#c8d2d9;
				font-size: 14px;
			}
			.u-sidebar-nav-active{
				background:#283243;
				color:#fff;
			}
		}

	}



}