.communityList-m{
   padding: 35px 45px 45px;
   margin-left: 42px;
  .community-listDate{
    margin-top:-11px;
  }
  .community-list-time{
    .ui-form-controller{
      width:110px;
    }
  }
  .community-line-down{
     display: inline-block;
     margin-top: 20px;
  }
  .list-btn-center{
    margin-right: 30px;
    display: inline-block;
  }
  .cheek{
   .two-round{
     left:-42px;
   }
  }

  .title{
    .list-icon{
     display: inline-block;
    width: 42px;
    height: 42px;
    vertical-align: middle;
     background:url(../images/community.svg) no-repeat center;
     background-size: 100%;
   }
  }

 .addBtn{
  width:24px;
  height:24px;
  background:url(../images/add.svg) no-repeat center;
  background-size: 200% 200%;
  display:inline-block;
  margin-left:8px;
  margin-right:5px;
  margin-bottom: -5px;
  cursor:pointer;
}
.minusBtn{
  width:24px;
  height:24px;
  background:url(../images/minus.svg) no-repeat center;
  background-size: 200% 200%;
  display:inline-block;
  margin-bottom: -5px;
  cursor:pointer;
}
li{
	&:nth-child(1){
	  .minusBtn{
	  	display:none;
	  }
	}
 }
}
