.u-input-number{
     line-height: 25px;
     height:27px;
     width:auto;
     margin-top: -3px;
     vertical-align: middle;
     display: inline-block;
    .u-number-minus{
        display: inline-block;
        width: 20px;
        height: auto;
        text-align: center;
        background: #f5f7fa;
        font-size: 16px;
        border-radius: 4px 0 0 4px;
        border: 1px solid #dcdfe6;
        cursor: pointer;
        user-select:none;
        vertical-align: bottom;
    }
    .num-right{
        border-radius: 0 4px 4px 0;
    }
    .u-number-input{
        width: 58px;;
        background-color: #fff;
        border: 1px solid #dcdfe6;
        border-right: none;
        border-left: none;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        height: 100%;
        outline: none;
        padding: 0 15px;
        text-align: center;
    }
    .no-minus{
        color: #c0c4cc;
        cursor: not-allowed;
    }
}