.basic-table{
	width: 900px;

	tr{
		border:1px solid #dfdfdf;
	}

	td{
		vertical-align:top;
	}
	th{
		width: 50px !important;
	}
	.pre-year,
	.next-year{
		width:100px;
		height:100px;
	}

	.pre-year{

	}
	.next-year{

	}

	.company-name{
		width:100px !important;
		height:100px;
		top:0;
	}

	.d3-content{
		width:100%;
		height:100px;
	}
	.employees-content{
		width:100%;
		min-height:100px;
	}


}

// .header-title{
// 	width:200px;
// 	height:100px;
// }

		.d3-container{
			position: relative;
			ul{
				padding: 0;
				margin: 0;
				width: 700px;
				height: 50px;
				z-index: 10;
				position: absolute;
				top: 0;
			}
			li{
				display: inline-block;
				line-height: 50px;
				width: 58px;
				height: 50px;
				color: #fff;
				text-align: center;
			}
		}
		.year{
			/* background-color: #333; */
			width: 100%;
			height: 50px;
			margin: 0;
			position: relative;
			.red-node,.blue-node,.same-node{
				position: absolute;
				width: 6px;
				height: 6px;
				left: 0;
				display:inline-block;
				margin-top: 20px;
				
				
				&:before{
					content: '';
					width: 6px;
					height: 6px;
					display: inline-block;
					border: 2px solid red;
					border-radius: 6px;
					border-color: #54c5a5 #54c5a5 red red;
					transform: rotate(45deg);
					position: absolute;
				}
				
			}
			.red-node{
				&:before{
				border-color:red ;

				}

			}
			.blue-node{
				&:before{
					border-color:#54c5a5;

				}

			}
			p{
				padding: 2px;
				margin:0;
			}
		}
		.year>div{
			display: inline-block;
			float: left;
		}
		.grey{
			background: #b7cad4;
			// opacity: .2;
			height: 50px;
		}
		.blue{
			background-color: #499df1;
			// opacity: .2;
			height: 50px;
		}
		.white{
			background-color: #fff;
			height: 50px;
		}


