.m-update-log {
    height:460px;
    position: relative;
    border-radius: 4px;

    .log-close {
        background-image:url('./images/icon_close.png');
        background-size:contain;
        position: absolute;
        top:-36px;
        right:-40px;
        border-radius:40px;
        width:40px;
        height:40px;
    }

    .log-header {
        height:219px;
        background-image:url('./images/pic.png');
        background-size:421px 219px;
        background-repeat: no-repeat;
        position: relative;
        border-radius:4px 4px 0 0 ;

        h3{
              top: 54px;
    position: absolute;
    font-weight: 600;
    left: 65px;
    font-size: 20px;
    color: #0E0E0E;
    position:relative;

            .text {
                z-index:2;
                position: absolute;
            }

            .bg {
           display: inline-block;
    width: 195px;
    height: 13px;
    background-color: #fd9091;
    top: 8px;
    left: -11px;
    position: absolute;
    z-index: 0;
            }
        }

        .time{
            right:60px;
            top:70px;
            font-size: 19px;
color: #0E0E0E;
font-weight:600;
            position: absolute;
        }
    }
    .log-body {
      
        background-color:#fff;
       
        padding-top:20px;
        border-radius:0 0 4px 4px;
        height:241px;
        box-sizing:border-box;

        .title-main {
font-size: 20px;
color: #0E0E0E;
margin-left:-10px;
font-weight:600;
margin-bottom:21px;
 padding-left:27px;
    padding-right:27px;
        }

        .log-list {
font-size: 16px;
color: #333333;
  height:140px;
  overflow-y:scroll;
   padding-left:27px;
    padding-right:27px;

            li{
                margin-bottom:10px;
                line-height:30px;
                 word-break: break-all;
            }
        }
    }
}