.m-update-log {
    height:600px;
    position: relative;
    .log-header {
        height:260px;
        background-image:url('./images/pic.png');
        background-size:500px 260px;
        background-repeat: no-repeat;
        position: relative;

        h3{
              top: 42px;
    position: absolute;
    font-weight: 600;
    left: 65px;
    font-size: 22px;
    color: #0E0E0E;
        }
        .time{
            right:70px;
            top:80px;
            font-size: 24px;
color: #0E0E0E;
font-weight:600;
            position: absolute;
        }
    }
    .log-body {
        height:260px;
        background-color:#fff;
        padding-left:27px;
        padding-right:27px;
        padding-top:20px;

        .title-main {
font-size: 20px;
color: #0E0E0E;
margin-left:-10px;
font-weight:600;
        }

        .log-list {
            margin-top:20px;
font-size: 16px;
color: #333333;
height:120px;
overflow-y:scroll;

            li{
                margin-bottom:10px;
                line-height:30px;
            }
        }
    }

    .log-footer{

        border-top:1px solid #ddd;
        padding-top:10px;
        padding-bottom:10px;
        text-align: center;

        .close-btn {
            width:120px;
            height:40px;
            line-height: 40px;
            display: inline-block;
            border: 1px solid #394457;
            border-radius: 4px;

            font-size: 20px;
            color: #394457;
            cursor: pointer;

        }

    }

}