.ui-detailContents{
	margin-top:58px;
	border-left:2px dashed #499df1;
	position:relative;
	width:96%;
	margin-left:20px;
	padding-left:50px;
	.circles{
		width:14px;
		height:14px;
		border:1px solid #499df1;
		border-radius:50% 50%;
		-webkit-border-radius:50% 50%;
		-moz-border-radius:50% 50%;
		-ms-border-radius:50% 50%;
		text-align:center;
		position:absolute;
		left:-9px;
		top:50%;
		margin-top:-8px;
		background:#fff;
		.circ{
			width:8px;
			height:8px;
			margin-top:3px;
			margin-left:3px;
			background:#499df1;
			border-radius:50% 50%;
			-webkit-border-radius:50% 50%;
			-moz-border-radius:50% 50%;
			-ms-border-radius:50% 50%;
		}
	}
	.ones{
		position:absolute;
		left:-20px;
		top:-60px;
		
		p{
			width:38px;
			height:38px;
			line-height:38px;
			border:1px solid #499df1;
			border-radius:50% 50%;
			-webkit-border-radius:50% 50%;
			-moz-border-radius:50% 50%;
			-ms-border-radius:50% 50%;
			text-align:center;
			font-size:16px;
			background:#ffffff;
			color:#499df1;
		}
		.txts{
			position:absolute;
			width:200px;
			left:40px;
			top:25px;
			span{
				font-size:16px;
			}
			.u-border{
				position:absolute;
				left:0;
				top:10px;
				height:1px;
				width:20px;
				background:#5cb2ff;
			}
			color:#5cb2ff;
			font-weight:500;
			.u-info-txt{
				padding-left:25px;
			}

		}

	}
}

.ui-textInfos{
	margin-top:45px;
	padding-bottom:20px;
	border-left:2px dashed #499df1;
	position:relative;
	width:96%;
	margin-left:20px;
	padding-left:50px;
	.circles{
		width:14px;
		height:14px;
		border:1px solid #499df1;
		border-radius:50% 50%;
		-webkit-border-radius:50% 50%;
		-moz-border-radius:50% 50%;
		-ms-border-radius:50% 50%;
		text-align:center;
		position:absolute;
		left:-9px;
		bottom:0;
		background:#fff;
		.circ{
			width:8px;
			height:8px;
			margin-top:3px;
			margin-left:3px;
			background:#499df1;
			border-radius:50% 50%;
			-webkit-border-radius:50% 50%;
			-moz-border-radius:50% 50%;
			-ms-border-radius:50% 50%;
		}
	}
	.ones{
		position:absolute;
		left:-20px;
		top:-60px;
		
		p{
			width:38px;
			height:38px;
			line-height:38px;
			border:1px solid #499df1;
			border-radius:50% 50%;
			-webkit-border-radius:50% 50%;
			-moz-border-radius:50% 50%;
			-ms-border-radius:50% 50%;
			text-align:center;
			font-size:16px;
			background:#ffffff;
			color:#499df1;
			
		}
		.txts{
			position:absolute;
			width:200px;
			left:40px;
			top:25px;
			span{
				font-size:16px;
			}
			color:#5cb2ff;
			font-weight:500;
			.u-border{
				position:absolute;
				left:0;
				top:10px;
				height:1px;
				width:20px;
				background:#5cb2ff;
			}
			.u-info-txt{
				padding-left:25px;
			}

		}

	}

}



