body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        height: 260px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        
    }
    .swiper-slide1{
            background: #abcdef;
        }
     .swiper-slide2{
            background: #febaba;
        }
      .swiper-slide3{
            background: grey;
        }
       .swiper-slide4{
            background:lightgreen;
        }
     .swiper-slide5{
            background: #666;
        }
      .swiper-slide6{
            background: #bdaedb;
        }


    .swiper-slide2 {
        text-align: center;
        font-size: 18px;
        background: #fff;
        width: 100%;
        height: 260px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        .swiper-slide1{
            background: #abcdef;
        }
     .swiper-slide2{
            background: #febaba;
        }
      .swiper-slide3{
            background: grey;
        }
       .swiper-slide4{
            background:lightgreen;
        }
     .swiper-slide5{
            background: #666;
        }
      .swiper-slide6{
            background: #bdaedb;
        }
        
    }