.new-my-address{
  padding:46px;
  .close-new-div{
  	width:100%;
  	height:17px;
  	.close-new-img{
  		widtj:17px;
  		height:17px;
  		float:right;
  	}
  }
  .tabs-lines{
    border-right:none;
  }
  .new-my-address-tabs{
  	.community-guide-box{
  		padding-top:20px;
  		box-sizing:border-box;

  	}
  }
}