.new-my-address{
  padding:46px;
  .close-new-div{
  	width:100%;
  	height:17px;
  	.close-new-img{
  		widtj:17px;
  		height:17px;
  		float:right;
  	}
  }
  .community-guide-list{
    border-top: solid 1px #d7d7d7;
    padding-bottom: 25px;
    .guide-list-item{
      height:39px;
      line-height:39px;
      border-bottom: solid 1px #d7d7d7;
      .operation-btn{
        float:right;
        width:71px;
        color:#499DF1;
        span{
          dispaly:inline-block;
          width:30px;
          cursor: pointer;
        }
        span:first-of-type{
          margin-right:6px;
        }
      }
    }
  }
  .community-guide-list-no{
    width:100%;
    text-align: center;
    .list-no-img{
      dispaly:inline-block;
      width:95px;
      height:133px;
      margin:0 auto;
    }
  }
  
  
}
.hidden-list{
  display:none;
}
.info-box{
  width: 402px;
  height: 164px;
  border: 1px dotted #DFDFDF;
  border-radius: 4px;
  padding:22px 20px;
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
  .info-list{
    display: inline-block;
    text-align: left;
  }
  .info-input{
    width: 238px;
    padding-left: 10px;
    height: 32px;
    display: block;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
  }
  .info-input+.info-input{
    margin-bottom: 12px;
  }
  .caozuo{
    color: #499DF1;
    position: absolute;
    right: -42px;
    width:30px;
    top:50%;
    transform:translateY(-50%);
    .add-info-box,.less-info-box{
      width: 20px;
      height: 20px;
      border:2px solid #499DF1;
      font-size: 22px;
      display: inline-block;
      text-align: center;
      line-height: 20px;
      border-radius: 15px;
      cursor: pointer;
    }
    .add-info-box{
      margin-bottom: 10px;
    }
  }
}
.ui-upload-header{
  width: 130px;
  height: 130px;
  display: inline-block;
  background: #FBFBFF;
  border-radius: 65px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-right: 20px;
  .ui-uploadimg-inner{
    width: 100%;
    height: 100%;
  }
  .image{
    width: 100%;
    height: 100%;
    border-radius: 65px;
    float: left;
  }
  .upload-input{
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 65px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}