.communityList-m{
  .community-listDate{
    margin-top:-11px;
  }
  .title{
    .list-icon{
     background:url(../images/community.svg) no-repeat center;
     background-size: 100%;
   }
  }
  .cheek{
   .two-round{
     left:-42px;
   }
  }
  
  .commmunity-open{
     width:100%;
     margin-top:8px;
     .open-inner{
       width:90px;
       margin:0 auto;
        text-align: left;
        cursor:pointer;
       .list-text{
        font-size: 16px;
        color:#499df1;
        margin-right:10px;
        display: inline-block;
        vertical-align: middle;
       }
       .list-pic{
       width:18px;
       height:16px;
       display:inline-block;
       background:url(../images/down.svg) no-repeat center;
       background-size:100%;
       vertical-align: middle;
      }
     }
     
  }
  .commmunity-down{
     width:100%;
     margin-top:8px;
     .open-inner{
       width:90px;
       margin:0 auto;
        text-align: left;
        cursor:pointer;
       .list-text{
        font-size: 16px;
        color:#499df1;
        margin-right:10px;
        display: inline-block;
        vertical-align: middle;
       }
       .list-pic{
       width:18px;
       height:16px;
       display:inline-block;
       background:url(../images/top.svg) no-repeat center;
       background-size:100%;
       vertical-align: middle;
      }
     }
     
  }
  .location-m{
     position:relative;
  }
  .list-length-textarea{
      margin-right: 15px;
      position: absolute;
      right: 0px;
  }
  .community-line-down{
     display: inline-block;
     margin-top: 20px;
  }
  .mapLocation{
     width:16px;
     height:20px;
     display:inline-block;
     background:url(../images/location.svg) no-repeat center;
     background-size: 100%;
     position: absolute;
     left: 50%;
     margin-left: -50px;
     top:35px;
     z-index: 2;
     margin-top:0;
  }
 .addBtn{
  width:24px;
  height:24px;
  background:url(../images/add.svg) no-repeat center;
  background-size: 200% 200%;
  display:inline-block;	
  margin-left:8px;
  margin-right:5px;
  margin-bottom: -5px;
  cursor:pointer;
}
.minusBtn{
  width:24px;
  height:24px;
  background:url(../images/minus.svg) no-repeat center;
  background-size: 200% 200%;
  display:inline-block;	
  margin-bottom: -5px;
  cursor:pointer;
}
li{
	&:nth-child(1){		
	  .minusBtn{
	  	display:none;
	  }
	}
 }
}
