.communityList-m{
   padding: 35px 45px 45px;
   margin-left: 42px;
  .community-listDate{
    margin-top:-11px;
  }
  .community-list-time{
    .ui-form-controller{
      width:110px;
    }
  }
  .list-btn-center{
    margin-right: 30px;
    display: inline-block;
  }
  .upload-pic-first{
     display:inline-block;
     margin-left:28px;
  }
  .title{
    .list-icon{
      display: inline-block;
      width: 42px;
      height: 42px;
      vertical-align: middle;
     background:url(../images/community.svg) no-repeat center;
     background-size: 100%;
   }
  }
  .cheek{
   .two-round{
     left:-42px;
   }
  }

  .commmunity-open{
     width:100%;
     margin-top:8px;
     .open-inner{
       width:90px;
       margin:0 auto;
        text-align: left;
        cursor:pointer;
       .list-text{
        font-size: 16px;
        color:#499df1;
        margin-right:10px;
        display: inline-block;
        vertical-align: middle;
       }
       .list-pic{
       width:18px;
       height:16px;
       display:inline-block;
       background:url(../images/down.svg) no-repeat center;
       background-size:100%;
       vertical-align: middle;
      }
     }

  }
  .commmunity-down{
     width:100%;
     margin-top:8px;
     .open-inner{
       width:90px;
       margin:0 auto;
        text-align: left;
        cursor:pointer;
       .list-text{
        font-size: 16px;
        color:#499df1;
        margin-right:10px;
        display: inline-block;
        vertical-align: middle;
       }
       .list-pic{
       width:18px;
       height:16px;
       display:inline-block;
       background:url(../images/top.svg) no-repeat center;
       background-size:100%;
       vertical-align: middle;
      }
     }

  }
  .location-m{
     position:relative;
  }
  .list-length-textarea{
      margin-right: 15px;
      position: absolute;
      right: 0px;
  }
  .list-len-textarea{
      margin-right:-15px;
  }
  .community-line-down{
     display: inline-block;
     margin-top: 20px;
  }
  .mapLocation{
     width:16px;
     height:20px;
     display:inline-block;
     background:url(../images/location.svg) no-repeat center;
     background-size: 100%;
     position: absolute;
     left: 50%;
     margin-left: -50px;
     top:35px;
     z-index: 2;
     margin-top:0;
  }
 .addBtn{
  width:24px;
  height:24px;
  background:url(../images/add.svg) no-repeat center;
  background-size: 200% 200%;
  display:inline-block;
  margin-left:8px;
  margin-right:5px;
  margin-bottom: -5px;
  cursor:pointer;
}
.minusBtn{
  width:24px;
  height:24px;
  background:url(../images/minus.svg) no-repeat center;
  background-size: 200% 200%;
  display:inline-block;
  margin-bottom: -5px;
  cursor:pointer;
}
li{
	&:nth-child(1){
	  .minusBtn{
	  	display:none;
	  }
	}
 }
}

.community{
  margin: 0 20px;
  .communitybutton-input{
      border: 1px solid #ddd;
      padding: 0px;
      height: 38px;
      line-height: 38px;
      border-radius: 4px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
      width: 100%;
      box-sizing: border-box;
  }
  .community-button-label{
      margin-top: 10px;
      display: block;
      line-height: 14px;
      color: #333333;
      padding-bottom: 10px;
      padding-left: 11px;
      position: relative;
  }
  .project-item{
      display: inline-block;
      position: relative;
      padding: 4px 18px;
      padding-right:30px;
      border-radius: 16px;
      background-color: rgb(224,224,224);
      margin-right:10px;
      margin-top:10px;
      .icon-close{
          font-size:10px;
          position: absolute;
          right:11px;
          top:50%;
          transform:translateY(-50%);
          color:#333;

      }
  }
 
}

