.clear:after {
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}
.ui-print-Discounts{
  width: 700px;
  margin: 0 auto;
  font-size: 10px;
  
  .normal-discounts-head{
      line-height: 26px;
      font-size: 12px;
      color: #2d8dcd;
      font-family: "FZLTZHJW -GB1-0";
      padding-left: 12px;
      
    }
  
}

