.clear:after {
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}
.ui-print-Discounts{
  width: 700px;
  margin: 0 auto;
  font-size: 10px;
  table{
    th:nth-child(4){
      border-right: 1px solid #c1c1c1;
    }
  }
  .normal-discounts-head{
      line-height: 26px;
      font-size: 12px;
      color: #2d8dcd;
      font-family: "FZLTZHJW -GB1-0";
      padding-left: 12px;
      
    }
    .discounts-table-bottom{
      color: #333;
      border: 1px solid #c1c1c1;
      border-top: 0;

      span{
        line-height: 34px;
        display: inline-block;
        vertical-align: top;
      }
      span:nth-child(1){
        text-align: center;
        font-size: 12px;
        width: 110px;
        border-right: 1px solid #c1c1c1;
      }
      span:nth-child(2){
        font-size: 16px;
        padding-left: 24px;
      }
      span:nth-child(3){
        font-size: 16px;
        padding-left: 54px;
      }
      
    }
    .discounts-bottom{
      margin-top:5px;
      line-height:28px;
      font-size: 14px;
      color:#000;
    }
  
}

