.door-warn-search{
  .sec-list{
    margin:10px;
  }
  .ui-list-group:first-child{
  	.list-group-item:last-child{
  		.ui-form-controller{
  			width: 180px
  		}
  	}
    .list-group-item:nth-child(3){
      .ui-form-controller{
        width: 200px
      }
    }
  }
}
.second-door-warn-table{
  tr:hover{
    background-color: #deeeff;
  }
  tr:nth-child(odd):hover{
    background-color: #deeeff;
  }
  thead {
    background-color: #fff;
    tr:first-child:hover{
      background-color: #fff;
    }
  }
  .tfoot tr:hover{
    background-color: #fff;
  }
}

.warn-content-box{
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
}






