.door-warn-search{
  .sec-list{
    margin:10px;
  }
  .ui-list-group:first-child{
  	.list-group-item:last-child{
  		.ui-form-controller{
  			width: 180px
  		}
  	}
  }
}
.second-door-warn-table{
  tr:hover{
    background-color: #d7ffd6;
  }
  tr:nth-child(odd):hover{
    background-color: #d7ffd6;
  }
}

.warn-content-box{
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
}






