.g-not-pass{
    .ui-table td{
        &:nth-child(1){
            width:50px;
        }
        &:nth-child(2){
            width:100px;
        }
        &:nth-child(3){
            width:100px;
        }
        &:nth-child(9){
            max-width:140px;
            .ui-tooltip{
                display:inline-block;
                width:360px;
                white-space:normal;
                word-wrap:break-word;
                word-break: normal;
                .top-arrow{
                    display: none;
                }
            }
          }
    }

}