.g-not-pass{
    .ui-table td{
        &:nth-child(1){
            width:50px;
        }
        &:nth-child(2){
            width:200px;
        }
        &:nth-child(3){
            width:180px;
        }
        // &:nth-child(3){
        //     max-width:260px;
        //     .ui-tooltip{
        //         display:inline-block;
        //         width:360px;
        //         white-space:normal;
        //         word-wrap:break-word;
        //         word-break: normal;
        //         .top-arrow{
        //             display: none;
        //         }
        //     }
        //   }
    }

}