.print-other{
    width:210mm;
    height:297mm;
    margin:auto;
    padding-bottom: 200px;
    .print-other-chapter{
        position: relative;
        img{
            position: absolute;
            display: inline-block;
            width: 160px;
            height: 160px;
        }
    }
}