.print-other{
    width:200mm;
    position: relative;
    // height:297mm;
    margin:auto;
    box-sizing: border-box;
    padding: 20px;
    
    // .print-other-chapter{
    //     position: relative;
    //     img{
    //         position: absolute;display: inline-block;width: 160px;height: 160px;
    //     }
    // }
  
}