.print-other{
    width:200mm;
    position: relative;
    margin:auto;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 0px;
    table {
        tbody{
            tr{
                line-height: 24px;
                p{
                    line-height: 8px;
                }
            }
        }
    }
 
  
}