   
    .can-operate-equipment{
        padding:40px;
        .start-end{
            display:inline-block;
            max-width: 159px;
            min-width: 100px;
            word-wrap: break-word;
            word-break: break-all;
            white-space: normal;
        }
        .section-body{
            padding-bottom: 50px;
        }
        
    }
    .group-member-search{
        .ui-form-controller{
            width:150px;
        }
    }
    .new-create-authoriazation{
        .section-body{
            padding-top:20px;
        }
        .new-create-authoriazation-box{
            float:right;
            margin-top: -60px;
        }
    }
    .all-equipment{
        tfoot tr td:first-of-type{
            position: relative!important;
        }
    }