   
    .can-operate-equipment{
        padding:40px;
        .start-end{
            display:inline-block;
            max-width: 159px;
            min-width: 100px;
            word-wrap: break-word;
            word-break: break-all;
            white-space: normal;
        }
        .section-body{
            padding-bottom: 50px;
        }
        .new-create-authoriazation{
            float: right;
            margin-top: -60px;
        }
    }
    .group-member-search{
        .ui-form-controller{
            width:150px;
        }
    }