.ui-article_list{
    position: relative;
    border-bottom: 1px solid #E1E6EB;
    padding: 30px 0px;
   
    .ui-article-img{
        display: inline-block;
        width: 202px;
       
        margin: 0px 0px 0px 30px;
    }
    .ui-article-content{
        position: absolute;
        right: 42px;
        left:262px;
        top: 26px;

        .ui-article-title{
            font-size: 20px;
            color: #333333;
        }
        .ui-article-text{
            font-size: 14px;
            color: #666666;
            margin-top: 12px;
            word-break: break-all;
        }
    }
}
.ui-article_list:hover{
    background: #EEF1F3;
    cursor: pointer;
}