.print-dialog{
		.agreement-pic{
			width: 190px;
			height: 270px;
			// border:1px solid red;
			.check-logo{
				border:2px solid #fff;
				width: 55px;
				height: 55px;
				border-radius: 55px;
				display: inline-block;
				margin-top: 95px;

			}
			.checked-logo{
				border: 2px solid #7ED321;
				background: #7ED321 url('images/Check.svg') no-repeat ;
				display: inline-block;
				margin-top: 95px;
				width: 55px;
				height: 55px;
				border-radius: 55px;
				background-position:center;
			}
		}
		.no-cachet{
			background-size: 100% 100%;
			background-image: url(images/noCachet.png);
		}
		.cachet{
			background-image: url(images/cachet.png);
			background-size: 100% 100%;
		}
	}