.print-Station{
  width: 760px;
  margin: 0 auto;
  font-size: 12px;

    .supplement-station-head{
      line-height: 34px;
      border-top: 2px solid #499cd4;
      span{
        font-size: 12px;
      }
      .method-list{

        display: inline-block;
        .discheck{
          margin-left: 10px;
      		width:8px;
      		height:8px;
      		display:inline-block;
      		border:1px solid #ababab;
      		border-radius: 2px;
      		margin-right:5px;
      		vertical-align: middle;
      	}
      	.checked{
          margin-left: 10px;
      		width:10px;
      		height:10px;
      		display:inline-block;
      		border-radius: 2px;
      		margin-right:5px;
      		vertical-align: middle;
      		background:#2d8dcd;
      		position:relative;
      	}
      	.checked:after{
      	    content: '';
      	    position: absolute;
      	    width: 5px;
      	    height: 2px;
      	    background: transparent;
      	    top: 2px;
      	    left: 2px;
      	    border: 2px solid #ffffff;
      	    border-top: none;
      	    border-right: none;
      		-webkit-transform: rotate(-45deg);
      		-moz-transform: rotate(-45deg);
      		-o-transform: rotate(-45deg);
      		-ms-transform: rotate(-45deg);
      		transform: rotate(-45deg);
      	}
      }
      .method-list:nth-child(1){
        margin-left: 2px;
      }
      .right-date{
        float: right;

      }
      .enter-info{
        color: #2d8dcd;
        font-family: "FZLTZHJW -GB1-0";
        padding-left: 16px;
      }
    }
    .normal-station-head{
      line-height: 34px;
      font-size: 12px;
      border-top: 2px solid #499cd4;
      span{
        font-size: 12px;
      }
      .enter-info{
        color: #2d8dcd;
        font-family: "FZLTZHJW -GB1-0";
        padding-left: 12px;
      }
    }
    p{
      margin: 0;
    }


    .auto-height{
      height: auto;
    }
    table{
      width: 100%;
      border-collapse:collapse;
      border-spacing:0;
      tbody{

        font-family: "FZLTHJW -GB1-0";
        text-align: center;

        border-right: 1px solid #c1c1c1;
        border-bottom: 1px solid #c1c1c1;
        border-top: 1px solid #c1c1c1;
        tr{
          th{
            padding: 0;
            line-height: 32px;
            background-color: #2d8dcd;
            color: #fff;
            border-top: 1px solid #c1c1c1;
            border-right: 1px solid #fff;
            border-left: 1px solid #c1c1c1;
          }
          th:nth-child(7){

            border-right: 1px solid #c1c1c1;
          }
          td{
            padding: 0;
            line-height: 26px;
            border-left: 1px solid #c1c1c1;
            border-top: 1px solid #c1c1c1;
            color: #333;
            height: 26px;
          }
          td:nth-child(1){
            width: 130px;
          }
          td:nth-child(2){
            width: 130px;
          }
          td:nth-child(3){
            width: 78px;
          }
          td:nth-child(4){
            width: 78px;
          }
          td:nth-child(5){
            width: 158px;
          }
          td:nth-child(6){
            width: 100px;
          }
          td:nth-child(7){
            width: 102px;
          }
        }


      }
    }
    .station-bottom {
      color: #333;
      border: 1px solid #c1c1c1;
      border-top: 0;

      span{
        line-height: 44px;
        display: inline-block;
        vertical-align: top;
      }
      span:nth-child(1){
        text-align: center;
        font-size: 12px;
        width: 124px;
        border-right: 1px solid #c1c1c1;
      }
      span:nth-child(2){
        font-size: 16px;
        padding-left: 24px;
      }
      span:nth-child(3){
        font-size: 16px;
        padding-left: 54px;
      }
      span:nth-child(4){
        float: right;
        padding-right: 10px;
        font-size: 12px;
        color: #f00;
      }
    }
    p:nth-child(3){
      color: #666;

      line-height: 34px;
    }
}
