.m-importData{
	padding-top:6px;
	padding-right:38px;
	padding-left:30px;
	.m-upload-file{
       display: inline-block;
       margin-right: 10px;
       vertical-align: top;
       margin-top: 45px;
	 }
      .import-logo{
      	    width:150px;
      	    height:90px;
      	    background:#f6f6f6;
			color: #7ab55c;
			display: inline-block;
			font-size: 80px;
			text-align: center;
			position: relative;
			border-radius: 5px;
			.chooce-file{
				height: 90px;
				width:100%;
			}
			.import-pic{
				width:27px;
				height:27px;
				background:url(../images/Upload.svg) no-repeat center;
				background-size: 27px 27px;
			    display: inline-block;
			    margin-bottom: 22px;
			}
		}
		.import-font{
			display: inline-block;
			width: 100%;
			text-align: center;
			color: #499df1;
			position: relative;
			// cursor: pointer;
			.chooce{
				width: 100px;
				cursor: pointer;
			}
			input[type='file']{
				cursor: pointer;
			}
		}
		.load-demo{
			display: inline-block;
			text-align: center;
			margin:20px 0;
			cursor: pointer;
			width:78px;
			height:18px;
			background:url(../images/download.svg) no-repeat left center;
			background-size: 16px 16px;
			color:#499df1;
			padding-left:8px;
			margin-left:22px;
		}
		.load-demo:before{
			content:'';
		}
		.file-name{
			display: inline-block;
			width: 100%;
			text-align: center;
			margin:10px 0;
		}
		.chooce-file{
			position: absolute;
			width: 100px;
			left: 0;
			transform:translateX(0px);
			opacity: 0;
			cursor: pointer;
		}
	}
	.source-customer{
	  display: inline-block;
      margin-top: 22px;
     
}