.m-addPerson{
     margin-left: 42px;
     padding: 35px 45px 48px 53px;
     .ui-table td{
         max-width: initial;
     }
    .title{
        position: relative;
        font-size: 18px;
        margin-left: -5px;
        .new-icon{
        display: inline-block;
        width: 42px;
        height: 42px;
        vertical-align:middle;
        background: url(./images/meeting.svg) no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        }

        label{
        vertical-align:middle;
        display: inline-block;
        margin-left: 10px;
        }
    }
    .person-close{
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        right: 0px;
        top:0px;
        cursor: pointer;
        background: url(./images/close.svg) no-repeat;
        background-position: center center;
    }
}

.leave-len-textarea{
    width: 100% !important;
    text-align: right;
    float:none !important;
}

 .m-member-card{
    .ui-form-label.inline{
        margin-right:7px;
    }
    .ui-form-controller.inline{
        input{
            width: 252px;
            height: 36px;
            line-height: 36px;
        }
    }
 }

 .m-inservice-list{
    .ui-table td{
        max-width:none;
    }
 }
 .list-scroll-data{
    width:100%;
    overflow-x:scroll;
 }
 .name-list-absolute{
    position:absolute;
    width:100px;
    left:0;
 }
