.ui-print-Common-item{
	padding:0;
	position: relative;
	// border:1px solid red;
	.logo-pic{
		position: absolute;
		bottom:90px;
		width: 160px;
		height: 160px;
		right:20%;
	}
	.ui-print-Common-item-title{
		font-size: 22px;
		text-align: center;
		border-bottom:2px solid #499df1;
		padding-top:0;
		padding: 15px 0;
	}
	.ui-print-Common-item-content{ 
		padding-top: 15px; 
		display: -webkit-flex;
		justify-content:space-between;
		&>div{
			width:48%;
			p{
				color:#333;
				margin:0;
				font-size: 13px;
				font-family: "FZLTHJW -GB1-0";
			}
		}
	}
}