.edit-form{
	.person-info{
		padding-left: 10px;

	}
	.person-name{
		font-size: 16px;
		font-weight: 500;
	}
	.person-status{
		font-size: 12px;
		padding: 2px 8px;
		background: #ff6868;
		border-radius: 4px;
		margin: 0 15px;
		color: #fff;
	}
	.person-id{
		font-size: 14px;
	}
}