.g-create{
	width:300px;
	height:400px;
	.ui-form-controller{
		width:220px;
	}
	.ui-form-label{
		padding-right:20px;
	}
	.u-operations{
		width:100%;
		min-height:40px;
		position:relative;
		.ui-form-item{
			position:absolute;
			left:0; top:0;
			&:nth-child(2){
				left:230px; top:0;
			}
			&:nth-child(3){
				left:390px; top:0;
			}
		}

	}
	.u-operation-label{
		font-size:14px;
		color:#333333;
		padding-left:40px;
		margin-bottom:10px;
	}
	.u-operation-content{
		margin-left:60px;
	}
	.u-operation-list{
		color:#666;
		font-size:14px;
		&>div{
			margin-left:14px;
		}
	}
	.u-operation-lists{
		color:#666;
		font-size:14px;
		margin-left:0 !important;
	}
	.u-error-tip{
		color:red;
		font-size:14px;
		margin-top:14px;
		text-align: center;
	}
	.u-method-title{
		font-size:14px;
		color:#666;
		padding-left:28px;
		margin-top:16px;
		position:relative;
		.require-label{
			color: red;
			position: absolute;
			left: 16px;
			top: 5px;
		}
	}
	.u-method-content{
		position:relative;
		.ui-form-item{
			position:absolute;
			left:0; top:0;
			&:nth-child(2){
				left:230px; top:0;
			}
			
		}
		.u-method-add{
			position:absolute;
			left:425px; top:0;
			width:80px;
		}
	}

}