.m-w-voucher{
  .u-search{
    height: 32px;
    margin:26px 0;
  }
  .u-high-search{
    width:24px;
		height:24px;
		display:inline-block;
		float:right;
		margin:2px 0 0 28px;
		background:url(images/search.svg) no-repeat center center;
		background-size: cover;
  }
  .ui-table td{
  	&:nth-child(8){
  		.ui-tooltip{
  			display:inline-block;
  			width:360px;
  			white-space:normal;
  		    word-wrap:break-word;
  		    word-break: normal;
  		}
  	}
  }
}
