.ui-pic-open{
	display:inline-block;
	height:24px;
	line-height:26px;
	width:110px;
	color:#333;
	font-size:16px;
	padding-left:30px;
	//background:url(../images/open.png) no-repeat left center;
}
.ui-open-in{
	display:inline-block;
	background:#fff;
	width:100%;
}
.statis-date-start{
  width: 258px;
  margin-left: -9px;
}
.statis-date-end{
  width: 258px;
  margin-left: -4px;
}
.ui-line-down-list{
	display:inline-block;
	margin-top: 20px;
    margin-left: 4px;
    margin-right: 6px;
}
.ui-open-in table  th{
	border-left:solid 1px #eee !important;
	border-right:solid 1px #eee !important;
	color:#fff;
	height:54px;
	font-size:14px;
	width:11.1%;
}
.ui-open-in table  th:nth-child(odd){
	background:#319eff;
}
.ui-open-in table  th:nth-child(even){
	background:#5cb2ff;	
}
.ui-open-in table  td{
	border:solid 1px #eee !important;
	font-size:14px;
	color:#666;
	height:50px;
	background:#fff;
}
.ui-open-in table thead{
	border:none !important;
}
.s-date-search{
	margin-top:18px;
	margin-right:-8px;
}
.statis-date-title{
	display:inline-block;
	color:#333;
}
.static-openCompany{
	color:#499df1;
	font-size:16px;
	display:inline-block;
	margin-right:20px;
}
.static-upload{
	color:#ccc;
	font-size:16px;
	display:inline-block;
}
.static-section-inner{
	margin-top:-20px;
}
.statis-date-start .date-input span:nth-child(2){
    float:left;
}
.statis-date-end .date-input span:nth-child(2){
    float:left;
}





