.ui-pic-open{
	display:inline-block;
	height:24px;
	line-height:26px;
	width:96px;
	color:#333;
	font-size:16px;
	padding-left:30px;
	margin-left:20px;
	background:url(../images/open.png) no-repeat left center;
}
.ui-open-info{
	display:inline-block;
	background:#fff;
	width:100%;
}
.statis-date-start{
  width: 258px;
  margin-left: -9px;
}
.statis-date-end{
  width: 258px;
  margin-left: -4px;
}
.ui-line-down-list{
	display:inline-block;
	margin-top: 20px;
    margin-left: 4px;
    margin-right: 6px;
}
.ui-open-info table  th{
	border-left:solid 1px #eee !important;
	border-right:solid 1px #eee !important;
	color:#fff;
	max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.ui-open-info table  th:nth-child(odd){
	background:#319eff;
}
.ui-open-info table  th:nth-child(even){
	background:#5cb2ff;	
}
.ui-open-info table  td{
	border:solid 1px #eee !important;
	font-size:14px;
	color:#666;
	max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	background:#fff;
}
.ui-open-info table thead{
	border:none !important;
}
.s-date-search{
	margin-top:18px;
	margin-right:10px;
}
.statis-date-title{
	display:inline-block;
	color:#333;
}








