.g-activitys{
  .ui-table td{
    &:nth-child(8){
      width:280px;
    }
    &:nth-child(2){
        .ui-tooltip{
          width:200px;
          display: inline-block;
          white-space: normal;
          word-wrap: break-word;
          word-break: normal;
        }
        
      }
      &:nth-child(3){
        .ui-tooltip{
          width:300px;
          display: inline-block;
          white-space: normal;
          word-wrap: break-word;
          word-break: normal;
        }
        
      }
      &:nth-child(7){
        .ui-tooltip{
          width:300px;
          display: inline-block;
          white-space: normal;
          word-wrap: break-word;
          word-break: normal;
        }
        
      }
  }
  
}

.g-create-activity{
	position: relative;
	padding: 35px 0 48px 0;
  iframe{
    width:550px;
  }
  .title-text{
    padding-left:30px;

  }
  .m-activity-list{
    padding-left: 83px;
    padding-right:40px;
  }
  .ui-new-uploadimg-box-center{
    text-align:left;
  }

  .u-photo-box{
    margin-bottom: 15px;
    .u-photo-title{
      font-size: 14px;
      line-height: 14px;
      color: #333;
      padding-bottom: 10px;
      display: block;
      padding-left:15px;
    }
    .u-photo-img-box{
      border:dashed 1px #c5c5c5;
      height: 159px;
      width: 524px;
      background-color: #fff;
      padding:10px;
    }
    
    
  }
  
  .u-notice-con{
    width:560px;
    margin-left:16px;
    img{
      width:100%;
    }
    p{
      word-break: break-all;
    }
  }
	form{
    padding-left: 83px;
    position: relative;
  }
  .u-icon-tip{
    position: absolute;
    left:130px;
    top:71px;
    z-index:100;
    p{
      padding:0;
      margin:0;
    }
  }
  .u-cost{
      text-indent: 14px;
  }
  .u-unit{
    position: absolute;
    left:100px;
    top:106px;
    z-index:70;
    color:#000;
    font-size:16px;
    font-weight:500;
  }

	.u-create-close{
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      right: 0px;
      top:0px;
      cursor: pointer;
      background: url(./images/closeIcon.svg) no-repeat;
      background-position: center center;    
    }
    .u-create-title{
	  position: relative;
    font-size: 18px;
    height:45px;
	  .u-create-close{
	  	  vertical-align:middle;
	      display: inline-block;
	      margin-right: 20px;

	  }
	   
  }
  .u-img-list{
    width:540px;
  	.u-list-title{
  		color:#333;
  		text-indent:15px;
  		margin-bottom:16px;
  	}
  	img{
  		margin-left:15px;
  		width:150px;
  		height:150px;
  	}
  }
  

}
.ui-btn-center {
    margin-right: 30px;
    display: inline-block;
}



.clearFix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearFix{zoom:1}
