.g-oa-labour{

  .search-form .icon-searching {
    margin-left: 11px !important;
  }
  .left{
    width: 30%;
    background: #F0F1F6;
    border-radius: 4px 0 0 4px;
    height: auto;
  }
  .right{
      width: 65%;
      height: auto;
      .header{
        border-bottom: 1px solid #e8e9e9;
        padding-top: 12px;
        padding-bottom: 12px;
        .title{
            padding-left: 20px;
            cursor: pointer;
            height: 25px;
            line-height: 25px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-left: 5px solid #499df1;
            .square{
                width: 7px;
                height: 7px;
                border: 1px solid #666;
                border-top: none;
                border-left: none;
                transform:rotateX(45deg);
                display: inline-block;
                margin-left: 4px;
            }
        }
        
      }
  }
  .ui-btn-center{
  	display:inline-block;
  	margin-right:20px;
  }
}
