.g-oa-labour{
  display: flex;
  .search-form .icon-searching {
    margin-left: 11px !important;
  }
  .left{
    padding: 10px 10px 0 10px;
    background: #F0F1F6;
    border-radius: 4px 0 0 4px;
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
    flex: 1.1;
    .header{
        position: relative;
          .title{
            line-height: 40px;
            height: 40px;
            border-radius: 4px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            display: inline-block;
            padding: 0 8px;
            cursor:pointer;
            .title-text{
              margin-right: 10px;
            }
            .title-list{
              position: absolute;
              top: 40px;
              left: 0;
              display: none;
              width: 100%;
              height: auto;
              border-radius: 4px;
              background: #fff;
              z-index: 2;
              border-top-left-radius: 0;
              border-right-left-radius: 0;
              .top-square{
                position: absolute;
                background: #fff;
                width: 7px;
                height: 7px;
                top: -2px;
                left: 50%;
                box-shadow: -2px -2px 2px -1px #dfdfdf;
                transform: translateX(-50%) rotate(45deg);
                z-index: -1;
              }
              .item{
                box-sizing: border-box;
                text-align: left;
                line-height: 30px;
                height: 30px;
                display: block;
                width: 100%;
                border-radius: 4px;
                padding-left: 10px;
                cursor:pointer;
                &:hover{
                  background: #F5F6FA;
                }
              }
            }
            &:hover{
              .title-list{
                display: inline-block;
              }
            }
            .square{
              display: inline-block;
              width: 7px;
              height: 7px;
              border: 1px solid #666;
              border-top: none;
              border-left: none;
              transform:rotate(45deg);
              margin-bottom: 3px;
          }
          }
      }
    .oa-tree{
      margin-left: 1px;
      margin-top: 9px;
    }
    .search{
      width:96%;
      line-height: 38px;
      height: 38px;
      background: #fff;
      border: 1px solid #DFDFDF;
      border-radius: 4px; 
      position: relative;
      margin-left: 2%;
      input{
        height: 38px;
        width: 86%;
        display: inline-block;
        border: none;
        padding: 0;
        margin-left: 2px;
        vertical-align: top;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding-left: 15px;
      }
      .searching{
        width: 13%;
        height: 38px;
        background: url('./images/search.svg') no-repeat center;
        background-size: 45%;
        border-left:1px solid #dfdfdf; 
        display: inline-block;
        position: absolute;
        right: 0;
      }
    }
  }
  .right{
      display: inline-block;
      background: #fff;
      padding: 0 2%;
      vertical-align: top;
      flex:4;
      min-height: 910px;
      .center-row{
        height: 72px;
        box-sizing: border-box;
        padding: 16px 0;
        position: relative;
        border-bottom: 1px solid #e8e9e9;
        .department{
          position: absolute;
          top: 16px;
          left: 0;
          height: 50px;
          width: 100%;
          .department-logo{
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            background: url('./images/department.svg') no-repeat left center;
            background-size:cover; 
          }
          .department-name{
            position: absolute;
            top: 0px;
            left: 50px;
            font-size: 14px;
            color: #333333;
          }
          .department-tab-list{
            position: absolute;
            top: 21px;
            left: 50px;
            white-space: nowrap;
            .department-tab{
              display: inline-block;
              height: 33px;
              font-size: 14px;
              color: #666;
              border: none;
              margin-right: 15px;
              cursor: pointer;
            }
            .department-tab-active{
              font-family: PingFangSC-Medium;
              color: #4990E2;
              border-bottom: 2px solid #4990E2;
            }
          }
        }
        .button-group{
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          .btn-center{
            display:inline-block;
            margin-right:10px;
          }
        }
      }
  }
  .ui-btn-center{
        margin-right: 29px;
        display: inline-block;
    }
  .u-delete-title{
      width:100%;
      float:left;
      margin:36px 0 25px;
      text-align:center;
	}
  .tfoot td{
    padding-top: 34px;
    padding-bottom: 34px;
  }
}







