
    .ui-range-field{
        display: inline-block;
        input{
            border: 1px solid #ddd;
            padding: 0px;
            height: 38px;
            line-height: 38px;
            border-radius: 4px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;
            width:112px;
            box-sizing: border-box;
        }
    }