.m-activity-list{
	position: relative;
	.close-navs{
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
.new-create-activity{
	.select-one{
		width:16px;
		height:16px;
	}
	width:100%;
	height:100%;
	padding:39px 46px 39px 46px;
	box-sizing:border-box;
	overflow: scroll;
	.title-box{
		width:100%;
		height:40px;
		margin-bottom:20px;
		.title-img{
			width:40px;
			height:40px;
		}
		.title-text{
			font-size: 18px;
			display:inline-block;
			height:40px;
			line-height:40px;
			vertical-align: top;
			margin-left:10px;
		}
		.close-page{
			width:16px;
			height:16px;
			float: right;
    		margin-top: -16px;
    		.close-page-img{
    			width:16px;
				height:16px;
    		}
		}
	}
	.detail-info{
		.activity-info{
			.activity-title{
				width:100%;
				height:40px;
				span:nth-of-type(1){
					display:inline-block;
					width:40px;
					height:40px;
					border: solid 1px #499DF1;
				    border-radius: 20px;
				    line-height: 40px;
				    text-align: center;
				    color: #499DF1;
				    box-sizing: border-box;
				}
				span:nth-of-type(2){
					display:inline-block;
					width:22px;
					height:1px;
					background: #499DF1;
					vertical-align: middle;
				}
				span:nth-of-type(3){
					color: #499DF1;
					
				}
			}
			.activity-detail-info{
				border-left:dashed 1px #499DF1;
				padding-top: 10px;
				padding-left:30px;
				margin-left: 20px;
			}
		}
		.enroll-info{
			.enroll-title{
				width:100%;
				height:40px;
				span:nth-of-type(1){
					display:inline-block;
					width:40px;
					height:40px;
					border: solid 1px #499DF1;
				    border-radius: 20px;
				    line-height: 40px;
				    text-align: center;
				    color: #499DF1;
				    box-sizing: border-box;
				}
				span:nth-of-type(2){
					display:inline-block;
					width:22px;
					height:1px;
					background: #499DF1;
					vertical-align: middle;
				}
				span:nth-of-type(3){
					color: #499DF1;
					
				}
			}
			.enroll-detail-info{
				border-left:dashed 1px #499DF1;
				padding-top: 10px;
				padding-left:30px;
				margin-left: 20px;
			}
		}
	}
}
