.ui-search{
	margin-top:45px !important;
	margin-left:5px;
}

.ui-date-start{
  width: 258px;
  margin-left: -9px;
}
.ui-date-end{
  width: 258px;
  margin-left: -4px;
}
.ui-line-down{
	display:inline-block;
	margin-top: 20px;
    margin-right: 5px;
    margin-left: 3px;
}
.ui-listDate{
	margin-top: -11px;
}