.add-community-guide-form{
  box-sizing:border-box;
  padding:46px 44px;
  .close-new-div{
    width:100%;
    height:17px;
    .close-new-img{
      widtj:17px;
      height:17px;
      float:right;
    }
  }
  .add-guide-title{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom:20px;
    margin-left: 11px;
  }
}