.operation-home{
	display:flex;
	.home-left{
		height:200px;
		border:1px solid green;
		flex:2;
		margin-right: 20px;
	}
	.home-right{
		width:320px;
		height: 200px;
		// margin-left:20px; 
		border:1px solid black;
		flex:1;
	}
}





