.ui-form-controller{

	color:#666;
	padding-bottom:14px;
	dispaly:block;
	line-height:14px;
	padding-left:10px;


	&.inline{
		display:inline-block;
		min-width: 100px;
	}
	&.simple{
		padding-bottom:0;
		padding-left:0;
	}


	.error-wrap {
		color:red;
		padding:5px 0;
	}

	select,
		input[type=text],
		input[type=email],
		input[type=password],{
			box-sizing:border-box;
			width:100%;
			display:block;
			height:40px;
			padding-left:10px;
			padding-right:10px;
			border:1px solid #ddd;
			border-radius:4px;
		}

		input[disabled]{
			cursor:not-allowed;
			background-color:#eaeaea;
		}

		textarea{
			box-sizing:border-box;
			width:100%;
			display:block;
			height:40px;
			padding-left:10px;
			padding-right:10px;
			border:1px solid #ddd;
			border-radius:4px;
			padding-top:10px;
			height:100px;
			resize: vertical;
		}


		select,
		input[type=text],
		input[type=email],
		textarea,
		input[type=password],{
			font-size:16px;
			&:focus{
				outline:none;
				border-color:green;
			}
		}

		input[type=text]{
			&.render-text{
				cursor:not-allowed;
				border:none;
				background-color:transparent;
			}
		}



	p{
	
	}
	
}
