.ui-tab-default{
    width:88px;
    height:40px;
    color:red,;
    display:inline-block;
    background:'#EEF2F5';
    cursor:pointer;
    line-height:40px;
    text-align:center;
    font-size: 14px;
    font-family: PingFangSC-Regular;
}