.ui-init-class{

   color:#666666;
   
   background:url(./images/norl_tab.png) no-repeat;
   background-size: 100% 100%;
}
.ui-active-class{
    color:#4990E2;
    background:url(./images/sel_tab.png) no-repeat;

    background-size: 100% 100%;
}
