.ui-init-class{
   padding: 10px 17px;
   color:#666666;
   background:url(./images/norl_tab.png) no-repeat;
   background-size: 100% 100%;
}
.ui-active-class{
    padding: 10px 17px;
    color:#4990E2;
    background:url(./images/sel_tab.png) no-repeat;
    background-size: 100% 100%;
}
.ui-line-active{
    background:#fff;
    border-bottom: 2px solid #499df1;
    padding:10px 0;
}
.ui-line-init{
    background:#fff;
    border-bottom: 1px solid #D7D7D7;
    padding:10px 0;
}

.ui-oa-tabs-line{
    position: absolute;
    height: 2px;
    background: #499df1;
    bottom: 0px;
    transition: all .3s;
}