.door-warn-search{
  .customer-box{
    .ui-form-label{
      display: inline-block;
      margin-top: 12px;
      vertical-align: top;
    }
    .ui-form-controller{
      display: inline-block;
    }
  }
  .sec-list{
    margin:10px;
  }
  .list-group-item{
  .ui-form-item{
    margin-bottom: 0;
    padding-bottom: 0;
  }
    
  }
  .ui-list-group:first-child{
  	.list-group-item:last-child{
  		.ui-form-controller{
  			width: 180px
  		}
  	}
    .list-group-item:nth-child(3){
      .ui-form-controller{
        width: 156px
      }
    }
  }
}
.second-door-warn-table{
  tr:hover{
    background-color: #deeeff;
  }
  tr:nth-child(odd):hover{
    background-color: #deeeff;
  }
  thead {
    background-color: #fff;
    tr:first-child:hover{
      background-color: #fff;
    }
  }
  .tfoot tr:hover{
    background-color: #fff;
  }
  .doc-name-tip{
    width: 160px;
    height : 135px;
    
    .tip-title{
      display: inline-block;
      width: 80px;
      margin: 0;
      text-align: right;
    }
    .tip-content{
      display: inline-block;
      width: 80px;
      margin: 0;
      text-align: left;

    }
  }
}

.warn-content-box{
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
}
.fir-list{
  margin-bottom: 10px;
}









