.m-location-choice{
    .double-column{
            width: 100%;
            box-sizing: border-box;
            padding: 30px;
            padding-top: 0px;
            margin-left: 10px;
        .text-num{
            width: 100%;
           
            border-bottom:solid 1px #666; 
            text-align: right;
            margin-bottom: 15px;
        }
        .column-bar{
            width: 50px;
            height: 245px;
            float: left;
            text-align: center;
            box-sizing: border-box;
            padding: 20px 5px;
        }
        .text-bar{
            height: 37px;
            line-height: 37px;
            padding: 0 10px;
            border-bottom: 1px solid #DFDFDF;
            border-radius: 4px 4px 0px 0;
            position: absolute;
            width: 100%;
            box-sizing: border-box;
            top: 0px;
        }
        .bottom{
            text-align: center;
            margin-left: -5px;
            padding-top: 28px;
            width: 100%;
            float: left;
            height: 10px;
        }
        .column-left,.column-right{
            width: 250px;
            height: 245px;
            float: left;
            position: relative;
            border-radius: 4px;
            border: 1px solid #DFDFDF;
            box-sizing: border-box;
            padding-top: 37px;
            background-color: white;
            overflow: hidden;
            .content{
                
                height: 208px;
                overflow: auto;
            }
        }
        .top,.down{
            height: 100px;
            line-height: 100px;
            div{
                display: inline-block;
                line-height: 16px;
                vertical-align: middle;
                .rightAllSelect{
                    cursor: pointer;
                    background: url(./images/left.svg) no-repeat;
                    background-position: center center;
                    background-size: 20px;

                }
                .leftAllSelect{
                    cursor: pointer;
                    background: url(./images/right.svg) no-repeat;
                    background-position: center center;
                     background-size: 20px;
                }
                .leftSelect{
                    cursor: pointer;
                    background: url(./images/leftOne.svg) no-repeat;
                    background-position: center center;
                    background-size: 20px;

                }
                .rightSelect{
                    cursor: pointer;
                    background: url(./images/rightOne.svg) no-repeat;
                    background-position: center center;
                    background-size: 20px;

                }
                span{
                    display: inline-block;
                    width: 21px;
                    line-height: 20px;
                    height: 20px;
                    border: 0px solid #499DF1;
                    border-radius: 3px;
                    margin: 7px 0px;
                    color: #499DF1;
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
        }
        .every-num{
            height: 36px;
            line-height: 36px;
            padding: 0px 10px;
            box-sizing: border-box;
            cursor: pointer;
            font-size: 14px;
        }
        
    }
}