.ui-print-Intention{
  width: 700px;
  margin: 0 auto;
  font-size: 12px;

    p{
      margin: 0;
    }
    p:nth-child(1){
      line-height: 26px;
      color: #2d8dcd;
      border-top: 2px solid #2d8dcd;
      padding-left: 12px;
      font-family: "[FZLTZHJW -GB1-0]";
    }

    p:nth-child(2),p:nth-child(3),p:nth-child(4){
      line-height: 22px;
      margin: 10px 12px 0 12px;
      font-size: 14px;
      color: #333;
      font-family: "[FZLTHJW -GB1-0]";
    }
    p:nth-child(2){
      margin-top: 5px;
    }
    .fixed-height{
      height: 230px;
    }
    .auto-height{
      height: auto;
      min-height: 100px;
      //min-height: 360px;
    }
    .print-text{
    	width:676px;
      color:#333;
    	margin:15px auto 0;
    	position:relative;
      span{
        font-size: 14px;
      }

    	font-family: "[FZLTHJW -GB1-0]";
    	.border-b{
    		height:0;
    		border-bottom:1px solid #c2c2c2;
    		display:inline-block;
    		position:absolute;

    	}
    	.one-text{
    		width:532px;
    		top:18px;
    		left:144px;
    	}
    	.two-text{
    		width:676px;
    		top:44px;
    		left:0px;
        // margin-left: 28px;
    	}
    	.three-text{
    		width:676px;
    		top:70px;
    		left:0px;
        // margin-left: 28px;
    	}
    	.four-text{
    		width:676px;
    		top:96px;
        // margin-left: 28px;
    		left:0px;
    	}
      .five-text{
        width:676px;
        top:122px;
        // margin-left: 28px;
        left:0px;
      }
    }

}
