.print-Intention{
  width: 760px;
  margin: 0 auto;
  font-size: 12px;

    p{
      margin: 0;
    }
    p:nth-child(1){
      line-height: 34px;
      color: #2d8dcd;
      border-top: 3px solid #2d8dcd;
      padding-left: 12px;
      font-family: "[FZLTZHJW -GB1-0]";
    }
    p:nth-child(2){
      margin-top: 14px;
    }
    p:nth-child(2),p:nth-child(3),p:nth-child(4){
      line-height: 22px;
      margin: 12px 12px 0 12px;
      font-size: 14px;
      color: #333;
      font-family: "[FZLTHJW -GB1-0]";
    }
    .fixed-height{
      height: 308px;
    }
    .auto-height{
      height: auto;
      min-height: 110px;
      //min-height: 360px;
    }
    .print-text{
    	width:736px;
      margin: 0 12px;
      color:#333;
    	margin:15px auto 0;
    	position:relative;
    	font-family: "[FZLTHJW -GB1-0]";
    	.border-b{
    		height:0;
    		border-bottom:1px solid #c2c2c2;
    		display:inline-block;
    		position:absolute;

    	}
    	.one-text{
    		width:582px;
    		top:20px;
    		left:154px;
    	}
    	.two-text{
    		width:708px;
    		top:50px;
    		left:0px;
        margin-left: 28px;
    	}
    	.three-text{
    		width:708px;
    		top:80px;
    		left:0px;
        margin-left: 28px;
    	}
    	.four-text{
    		width:708px;
    		top:110px;
        margin-left: 28px;
    		left:0px;
    	}
    }

}
