.print-Intention{
  width: 790px;
  margin: 0 auto;
  font-size: 12px;
    p{
      margin: 0;
    }
    p:nth-child(1){
      line-height: 36px;
      color: #2d8dcd;
      border-top: 3px solid #2d8dcd;
      padding-left: 12px;
      font-family: "[FZLTZHJW -GB1-0]";
    }
    p:nth-child(1)+p{
      margin-top: 16px;
      line-height: 24px;
      font-family: "[FZLTHJW -GB1-0]";
    }
    
}
