.watch-text{
  margin-bottom: 60px;
  .ui-field-tabel{
    table{
      margin-top:5px;
    }
  }
  .main-form{
    margin-bottom: 40px;
    .main-name{
      font-weight: 600;
      margin-bottom: 10px;
    }
    .ui-toolbar{
      .add-text{
          display:inline-block;
          width:20px;
          height:20px;
          background: url(./images/add.svg) no-repeat center;
          background-size:84%;
         transition: all 0.1s;
          
        }
        .add-text:hover{
          background: url(./images/addActive.svg) no-repeat center;
          background-size:84%;
        }
      .edit-form{
        display:inline-block;
        width:20px;
        height:20px;
        background: url(./images/edit.svg) no-repeat center;
        background-size:84%;
        transition: all 0.1s;
        
      }
      .edit-form:hover{
        background: url(./images/editActive.svg) no-repeat center;
        background-size:84%;
      }
      .del-form{
        display:inline-block;
        width:20px;
        height:20px;
        background: url(./images/del.svg) no-repeat center;
      transition: all 0.1s;
       background-size:84%;
      }
      .del-form:hover{
        background: url(./images/delActive.svg) no-repeat center;
         background-size:84%;
      }
    }
  }
  .detail-form{
    .add-two-wrap{
      margin-left:178px;
    }
  }
}

.form-mask{
  display:inline-block;
  position:relative;
  .mask-icon{
    position: absolute;
    top: -2px;
    left: 107px;
  }
}

.not-del-form{
  display: inline-block;
  color: #D6DFE8;
  margin-right: 14px;
  vertical-align: top;
  line-height: 22px;
  .del-tip{
    background: url(./images/no.svg) no-repeat left center;
    background-size: 17px 17px;
    width: 100px;
    height: 20px;
    text-align: right;
    display: inline-block;
  }
  .up-tip{
    white-space: nowrap;
  }
}

.add-text-form{
    margin-left: 42px;
    padding: 38px 45px 48px 62px;
    .customer-close{
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      right: 0px;
      top:0px;
      cursor: pointer;
      background: url(../../images/close1.png) no-repeat;
      background-position: center center;
    }
    .title{
    position: relative;
    font-size: 18px;
    margin-left: -42px;
    .new-icon{
    display: inline-block;
    width: 42px;
    height: 42px;
    vertical-align:middle;
    background: url(../../images/text.svg) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    }

    label{
    vertical-align:middle;
    display: inline-block;
    margin-left: 10px;
    }
  }
}

.m-has-create{
  .has-done{
    font-size: 14px;
    color: #666666;
    width:252px;
    margin-left: 10px;
  }
}
