.watch-text{
  .main-form{
    .main-name{
      font-weight: 600;
      margin-bottom: 10px;
    }
    .add-wrap{
        font-size: 14px;
        color:#333;
        display:inline-block;
        margin-right:14px;
        .add-form{
          display:inline-block;
          width:20px;
          height:20px;
          background: url(./images/add.svg) no-repeat center;
          background-size: 100%;
        }
     }
  }
}
