html,
body{
	margin: 0 0 ;
}

html{
	height:100%;
	position:relative;
	padding-bottom:0 !important;
}

body{
    font-family: Lantinghei SC,Open Sans,Arial,Hiragino Sans GB,Microsoft YaHei,STHeiti,WenQuanYi Micro Hei,SimSun,sans-serif;
	height:100%;
	background-color:#F9F9FC;
	position:relative;
}

.app {
	top:0;
	right:0;
	left:0;
	position:relative;
	bottom:0;
	min-height:100%;
	height:auto;
	.app-container{
		min-height:100%;
		top:0;
		left:0;
		right:0;
		position:absolute;
		overflow:hidden;
	}
}

.container{
	margin-top:60px;
	margin-bottom:20px;
	padding:25px 20px;
	height:auto;
	position:relative;
}

.ui-tab-control{
    padding: 10px 17px;
    display:inline-block;
    cursor:pointer;
    text-align:center;
    font-size: 14px;
    font-family: PingFangSC-Regular;
}
.ui-oa-del{
	width: 15px;
	height: 15px;
	background: url(./images/del.svg) center;
	background-size: cover;
	display: inline-block;
	float: right;
}

.oa-imulation-input{
	box-shadow: border-box;
    border: 1px solid #ddd;
    padding: 0px;
    height: 38px;
    line-height: 38px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
	background: #fff;
	cursor: pointer;
}
.oa-search-icon{
	width: 15px;
	height: 15px;
	background: url(./images/icon_search_nor.svg) center;
	background-size: cover;
	display: inline-block;
	float: right;
}
.clear:after{
	content:'';
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	visibility:hidden;
}

input::-webkit-file-upload-button { cursor:pointer; }
