.bgc{
	border:1px solid red;
	position: absolute;
	height: 100%;
	width: 100%;
	&:before{

	}
}
.head-circle{
	height: 30px;
	width: 30px;
	display: block;
	margin:0 auto;
	border: 1px solid ;
	border-image:-webkit-linear-gradirnt(#08e661, #44a2e7);
}
.content{
	position: relative;
}
.container{
	border:1px solid #333;
}