.g-applogin-list{
  .u-high-search{
    width:24px;
    height:24px;
    display:inline-block;
    float:right;
    margin:2px 0 0 28px;
    background:url(images/search.svg) no-repeat center center;
    background-size: cover;
  }
  .search-form .icon-searching {
    margin-left: 11px !important;
  }
  .ui-tooltip.center {
    left: 49%;
    text-align: center;
    .top-arrow{
      display: none;
    }
  }
  .list-group-item {
      padding-right: 0px !important;
  }
  .u-operations-edit-title{
		color: #333;
		font-size: 18px;
		margin-bottom: 30px;
		font-family: PingFangSC-Medium;
	}
  .u-audit-close{
    width:18px;
    height:18px;
    float:right;
    display:inline-block;
    background:url('images/close.svg') no-repeat center center;
    background-size: cover;
  }
  .ui-btn-center{
  	display:inline-block;
  	margin-right:20px;
  }
}
