.m-done-audit{
	.u-audit-add{
		padding: 0 0 80px 0;
	}
	.ui-detailContents,.ui-textInfos{
	 margin-left:68px !important;
	 border-left:1px dashed #499df1;
 }
 .ui-textInfos{
	padding-left:68px !important;
}
	.u-search{
		margin:26px 0;
	}
	.list-delete{
	 .sureIncome{
	 	   font-size: 14px;
		    color: #333;
		    width: 100%;
		    text-align: center;
		    margin-top: 44px;
		    margin-bottom: 46px;
	 }
	 .ui-detailContents,.ui-textInfos{
		margin-left:68px !important;
		border-left:1px dashed #499df1;
	}
}
.u-audit-add-title{
	span{
		font-size:18px;
	}

}
	.u-high-search{
		width:24px;
		height:24px;
		display:inline-block;
		float:right;
		margin:2px 0 0 28px;
		background:url(images/search.svg) no-repeat center center;
		background-size: cover;
	}
	.u-audit-edit .u-table tr td{
		word-break: break-all;
	}
	.ui-table tr td{

		&:nth-child(12){
			.ui-tooltip{
				display:inline-block;
				width:360px;
				white-space:normal;
			    word-wrap:break-word;
			    word-break: normal;
			}

		}
	}

}
.ui-line-down{
	display: inline-block;
    margin-top: 20px;
    margin-left: -11px;
    margin-right: 6px;
}
.ui-btn-center {
    margin-right: 30px;
    display: inline-block;
}
