.m-done-audit{
	.u-search{
		margin:26px 0;
	}
	.list-delete{
	 .sureIncome{
	 	   font-size: 14px;
		    color: #333;
		    width: 100%;
		    text-align: center;
		    margin-top: 44px;
		    margin-bottom: 46px;
	 }
}
	.u-high-search{
		width:24px;
		height:24px;
		display:inline-block;
		float:right;
		margin:2px 0 0 28px;
		background:url(images/search.svg) no-repeat center center;
		background-size: cover;
	}
	.ui-table td{
		&:nth-child(12){
			.ui-tooltip{
				display:inline-block;
				width:360px;
				white-space:normal;
			    word-wrap:break-word;
			    word-break: normal;
			}
			
		}
	}
}
