

.ui-select-time{
	.ui-time-select-all{
		position: absolute;
		width:225px;
	}
	.ui-hour-style,.ui-minute-style{
		margin:0;
		padding:0;
		width: 108px;
		height: 150px;
		border:1px solid #dfdfdf;
		border-radius: 4px;
		// border-right: none;
		display: inline-block;
		background-color: #fff;
		overflow-y: auto;
		padding-top: 5px;
		text-align: center;

	}
	.ui-hour-style p,.ui-minute-style p{
		margin: 0px;
		padding: 0px;
		height: 25px;
		line-height: 25px;
		transition: all 0.02s;
		font-size: 14px;
	}
	.ui-hour-style p:hover,.ui-minute-style p:hover{
		background: rgb(245, 245, 245);

		font-size: 20px;
		cursor: pointer;
	}
	input{
		background-color: #fff;
		background: url(./images/arrow3.svg) no-repeat;
		background-size: 9px 9px;
    background-position: 90px center;   
	}
}
