

.ui-select-time{
	.ui-time-select-all{
		position: absolute;
	}
	.ui-hour-style,.ui-minute-style{
		margin:0;
		padding:0;
		width: 38px;
		height: 218px;
		border:1px solid #dfdfdf;
		border-radius: 4px;
		// border-right: none;
		display: inline-block;
		background-color: #fff;
		overflow-y: auto;
		padding-top: 5px;
		text-align: center;

	}
	.ui-minute-style{
		height:150px;
		vertical-align: top;
	}
	.ui-hour-style p,.ui-minute-style p{
		margin: 0px;
		padding: 0px;
		height: 25px;
		line-height: 25px;
		transition: all 0.02s;
		font-size: 14px;
	}
	.ui-hour-style p:hover,.ui-minute-style p:hover{
		background: rgb(245, 245, 245);
		
		font-size: 20px;
		cursor: pointer;
	}
	input{
		background-color: #fff;
		background: url(./images/arrows.svg) no-repeat;
		background-size: 13px 13px;
      	background-position: 96% center;   
	}
}
