
.HeavilyActivation{
  .stageImg{
    width: 100%;
    height: 80px;
    background: url(images/import.jpg) no-repeat;
    background-position: center center;
    border-bottom: 1px dashed #dfdfdf;
  }
  .activeImg{
    width: 100%;
    height: 80px;
    background: url(images/activation.jpg) no-repeat;
    background-position: center center;
    border-bottom: 1px dashed #dfdfdf;
  }
  .cardNum{
    font-size: 48px;
  }
  .normal{
    color: #499df1;
  }
  .warn{
    color: #ff6868;
  }
}
