
.ui-watch-detail{
	margin-top:46px;
}
.ui-detail-bottom{
	max-width:1334px;
	margin:0 auto;
	.detail-left{
		display:inline-block;
		margin-right:34px;
		float:left;
		margin-top: 33px;
	}
	.detail-right{
		display:inline-block;
		width:74%;
		.btn-left{
			float:left;
		}
	}
}
.ui-btn-center{
	margin-right:30px;
	display:inline-block;
}
.ui-quit-wrap{
	margin-top:45px !important;
}
.ui-receive-money{
	//margin-left: -14px;
}
.ui-length-textarea{
	padding-right:25px !important;
}
