
.ui-watch-detail{
  margin-top:46px;
}
.ui-detail-bottom{
  max-width:1334px;
  margin:0 auto;
  .detail-left{
    display:inline-block;
    margin-right:34px;
    float:left;
    margin-top: 33px;
  }
  .detail-right{
    display:inline-block;
    width:74%;
    .btn-left{
      float:left;
    }
  }
}
.ui-btn-center{
  margin-right:30px;
  display:inline-block;
}
.ui-quit-wrap{
  margin-top:35px !important;
}
.ui-switch-wrap{
  margin-top:35px !important;
  margin-left:34px;
}
.ui-receive-money{
  //margin-left: -14px;
  width:100%;
  border-bottom:solid 1px #d7d7d7;
  padding-bottom:30px;
}
.ui-length-textarea{
  padding-right:15px !important;
}
.historyIncome{
  position:absolute !important;
  cursor:pointer;
  display:inline-block;
  right: 35px;
    top: -0.5px;
  width:80px;
  height:23px;
  background:url(images/incomed.svg) no-repeat right center;
}
.historyIncomeGray{
  position:absolute !important;
  display:inline-block;
  right: 35px;
  top: -0.5px;
  width:80px;
  height:23px;
  background:url(images/incomedGray.svg) no-repeat right center;
}
.historyIncome .ui-tooltip.center,.historyIncomeGray .ui-tooltip.center{
  left:0%;
  width: 70px;
    .top-arrow:after {
    border-top: 5px solid rgba(0, 0, 0, 0);
}
}
.historyIncome .ui-tooltip,.historyIncomeGray .ui-tooltip{
  top: -40px !important;
    margin-left: 60px;
    padding: 7px 10px;
    .top-arrow:after {
    border-top: 5px solid rgba(0, 0, 0, 0);
}
}

.receiveRightClose{
  width:21px;
  height:18px;
  background:url(images/closeIcon.png) no-repeat right center;
  position:absolute;
  right:40px;
  top:25px;
  cursor:pointer;
}
.finance-receive-title{
   margin-top:53px;
   margin-left:39px;
   margin-right:40px;
}
.addReceivePic{
  width:74px;
  height:42px;
  background:url(images/receive-detail.png) no-repeat left center;
  padding-left:52px;
  display:inline-block;
  font-size:18px;
  color:#333;
  line-height:42px;
  font-weight:500;
  font-family: 'Adobe 黑体 Std R';
}
.currentReceivePic{
  margin-top:8px;
  margin-right:12px;
  width:47px;
  height:26px;
  background:url(images/self.png) no-repeat left center;
  padding-left:23px;
  display:inline-block;
  font-size:18px;
  color:#333;
  line-height:26px;
  font-weight:500;
  font-family: 'Adobe 黑体 Std R';
}
.sumMoneyRange{
   display:inline-block;
  font-size:18px;
  color:#333;
  font-family: 'Adobe 黑体 Std R';
  line-height:26px;
}
.receive-detail-table{
  width:100%;
    margin-top:28px;
    border:solid 1px #dfdfdf;
    border-bottom:none;
    .table-head{
      background:#f2f2f2;
      line-height:36px;
      height:36px;
      margin:0;
      padding:0;
      border-bottom:solid 1px #dfdfdf;
      li{
        width:20%;
        float:left;
        font-size:14px;
        color:#333;
        font-weight:500;
        box-sizing: border-box;
        font-family: 'Adobe 黑体 Std R';
        text-align: center;
        border-right:solid 1px #eee;
        &:last-child{
         border-right:none; 
        }
      }
    }
    .admin-ul,.joinBook ul:nth-child(2){
      padding:0;
      margin:0;
      height:30px;
      border-bottom:solid 1px #dfdfdf;
      li{
         width:20%;
         float:left;
         font-size:14px;
        color:#666;
        line-height:30px;
        height:30px;
        font-weight:500;
        box-sizing: border-box;
        font-family: 'Adobe 黑体 Std R';
        text-align: center;
        border-right:solid 1px #eee;
        &:last-child{
         border-right:none; 
        } 
      }
    }
}
.joinBook ul:nth-child(1){
  padding:0;
      margin:0;
      height:30px;
      li{
         width:20%;
         float:left;
         font-size:14px;
        color:#666;
        line-height:30px;
        height:30px;
        font-weight:500;
        box-sizing: border-box;
        font-family: 'Adobe 黑体 Std R';
        text-align: center;
        border-right:solid 1px #eee;
        border-bottom:solid 1px #dfdfdf;
        &:first-child{
         border-bottom:none;
         line-height:60px;  
        } 
      }
    }
.receive-form-middle{
   margin-top:30px;
   margin-left:35px;
   margin-right:40px;
   .ui-checkbox{
     display:block;
   }
}
.depositMoney-render{
   margin-top:10px;
}

.receive-form-middle .ui-group-checkbox>div{
     &:last-child{
       width:600px;
     }
   
}
.leftBottomValue,.rightBottomValue{
   display:inline-block;
}
.rightBottomValue{
  margin-left:28px;
}


