.g-compnay-list{

	.m-filter{
		padding-top:20px;
		.tab-navs{
			height:50px;
			border-bottom:1px solid #ddd;
			background: #f6f6f6;
		}
		.tab-content{
			height:300px;
			background-color:#fff;
		}


		ul{
			li{
				display:inline-block;
				height:50px;
				line-height:50px;
				text-align:center;
				color:#333;
				font-size:14px;
				padding: 0 20px;
				background-color:'#f4f5f6';
			}
		}

	}

	.m-result{

		padding-top:10px;

		.tab-title{
			height:50px;
			border-bottom:1px solid #ddd;
			background: #f6f6f6;
		}


		.tab-content{
			min-height:300px;
			background-color:#fff;
			position:relative;
		}

		ul{
			display:flex;
			list-style-type:none;
			li{
				flex:1;
				height:50px;
				line-height:50px;
				text-align:center;
				color:#333;
				font-size:14px;
				padding: 0 20px;
				background-color:'#f4f5f6';
			}
		}



		.company-item{
			padding:5px 20px;
			height:80px;
			display:flex;
			border-bottom:1px solid #ddd;

			.item-title{
				flex:1;
			}

		}


	}

}








