.g-deal-newthings{
    font-family: PingFangSC-Regular;
    .first-main{
        .item{
            position: relative;
            width: 92px;
            height: 160px;
            display: inline-block;
            margin-left: 60px;
            margin-right: 13px;
            cursor: pointer;
            &:hover{
                .close{
                    display: inline-block;
                }
            }
            &:last-child{
                margin-right: 0;
            }
            .top-circle{
                position: absolute;
                top: 12px;
                left: 0;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                span{
                    display: inline-block;
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    text-align: center;
                    transform: translateY(-50%);
                    font-size: 18px;
                    color: #FFFFFF;
                }
            }
            .item-text{
                position: absolute;
                width: 120px;
                top: 102px;
                line-height: 20px;
                left: -20px;
                text-align: center;
                font-size: 14px;
                color: #6C7B96;
            }
            .class-1{
                background-color: #FC93A2;
            }
            .class-2{
                background-color: #FFB695;
            }
            .class-3{
                background-color: #C5E1A5;
            }
            .class-4{
                background-color: #81D4FA;
            }
            .class-5{
                background-color: #80DEEA;
            }
            .class-6{
                background-color: #C2ACEA;
            }
            .class-7{
                background-color: #FF8FB5;
            }
            .close{
                width: 20px;
                height: 20px;
                position: absolute;
                right: 0;
                top: 0;
                background: url('./images/close.svg') no-repeat center center;
                background-size: cover;
                display: none;
            }
        }
    }
    .second-main{
        overflow: hidden;
    }
}