.arrow-wrap{
      width:64px;
      margin:0 auto;
      margin-top: 12px;
      cursor:pointer;
	 .arrow-open{
		color:#499df1;
		font-size:16px;
		display:inline-block;
		float: left;
		margin-right:10px;
	}
	.arrow-pic{
		width:17px;
		height:15px;
		background:url(images/twoArrow.svg) no-repeat center;
		background-size: 100%;
		display:inline-block;
		margin-top: 3px;
	 }
	 .arrow-pic-do{
	 	width:17px;
		height:15px;
		background:url(images/arrowDown.svg) no-repeat center;
		background-size: 100%;
		display:inline-block;
		margin-top: 2px;
	 }
	}