.m-web-community{
    .list-outSearch{
      display:inline-block;
      .search-form .search-val{
          padding-left:8px;
      }
    .renderFilter{
        width:298px;
    }
  } 
   .list-btn-center{
    margin-right: 30px;
    display: inline-block;
  }
}
.web-communityList-m{
   padding: 35px 45px 45px;
   margin-left: 42px;
  .community-listDate{
    margin-top:-11px;
  }
  .community-list-time{
    .ui-form-controller{
      width:110px;
    }
  }
  .community-line-down{
     display: inline-block;
     margin-top: 20px;
  }
  .list-btn-center{
    margin-right: 30px;
    display: inline-block;
  }
  .cheek{
   .two-round{
     left:-42px;
   }
  }

  .title{
    .list-icon{
     display: inline-block;
    width: 42px;
    height: 42px;
    vertical-align: middle;
     background:url(images/community.svg) no-repeat center;
     background-size: 100%;
   }
  }

 .addBtn{
  width:24px;
  height:24px;
  background:url(images/add.svg) no-repeat center;
  background-size: 200% 200%;
  display:inline-block;
  margin-left:8px;
  margin-right:5px;
  margin-bottom: -5px;
  cursor:pointer;
}
.minusBtn{
  width:24px;
  height:24px;
  background:url(images/minus.svg) no-repeat center;
  background-size: 200% 200%;
  display:inline-block;
  margin-bottom: -5px;
  cursor:pointer;
}
li{
	&:nth-child(1){
	  .minusBtn{
	  	display:none;
	  }
	}
 }

 .title{
    position: relative;
    font-size: 18px;
    margin-left: -5px;
    label{
      vertical-align:middle;
      display: inline-block;
      margin-left: 10px;
    }
  }
.krFlied-box{
  display: inline-block;
  .unit{
    display: inline-block;
    height: -3px;
    margin-top: 37px;
    margin-left: 5px;
  }

}
  .cheek{
    position: relative;
    margin-left: 15px;
    border-left: 1px dashed #3c9df1;
    padding: 0 0 0 34px;
    margin-top: 35px;

    .end-round,.middle-round{
      position: absolute;
      background: url(images/middle-icon.svg) no-repeat;
      background-position: center center;
      background-color: #fff;

      width: 16px;
      height: 16px;
    }
    .end-round{
      left: -8px;
      top:100%;
      margin-top: -8px;

    }
    .middle-round{
      left: -42px;
      top: 50%;
      margin-top: -8px;
    }

  }

  .titleBar{
    position: absolute;
    line-height: 40px;
    margin-left: -55px;
    margin-top: -17px;
    .order-number{
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 43px;
      text-align: center;
      font-size: 16px;
      border: 1px solid #3c9df1;
      border-radius: 50%;
      top: 0px;
      background: white;
      color: #3c9df1;
    }
    .wire{
      height: 1px;
      position: absolute;
      width: 20px;
      top:21px;
      left:42px;
      background-color: #3c9df1;
    }
    .small-title{
      line-height: 35px;
      margin-left: 65px;
      color: #3c9df1;
    }
  }

  .small-cheek{
    position: relative;
    padding-top: 30px;
    padding-bottom:25px;
  }

.list-outSearch{
  display:inline-block;
  .renderFilter{
     width:298px;
  }
 }
 .list-length-textarea{
   margin-right:60px;
 }
 .list-len-textarea{
   margin-right: -26px;
 }
 .upload-pic-first{
     display:inline-block;
     margin-left:28px;
  }
}
