.m-role-role{
    margin-left: 35px;
    margin-top: 25px;
}
.role-len-textarea{
      width: 100% !important;
      text-align: right;
      float:none !important;
}
.role-code{
    display:inline-block;
    .ui-label-text{
        padding-top:3px;
    }
}