.ui-div-title{
	display: block;
	border-left:1px dotted #499DF1;
	position: relative;
	margin-left: 30px;
	.ui-div-header{
		.ui-div-index{
			width:40px;
			height: 40px;
			display: inline-block;
			text-align: center;
			line-height: 40px;
			border: 1px solid #499DF1;
			color: #499DF1;
			font-size: 16px;
			border-radius: 20px;
			position: absolute;
			background-color: #fff;
			left: -22px;
			top: -3px;
		}
		.header-line{
			width: 27px;
			display: inline-block;
			border-top: 1px solid #499df1;
			vertical-align: middle;
			margin-left: 21px;
		}
		.ui-div-name{
			font-size: 16px;
			color: #499DF1;
		}
	}
	.ui-div-big-circle{
		width:16px;
		height: 16px;
		border:1px solid red;
		border-radius: 10px;
		position: absolute;
		left: -9px;
	}
}