.appointment-visit{
	min-height: 500px;
	.appointment-visit-form{
		width: 100%;
	    position: relative;
	    height: 36px;
	    margin-top: 6px;
		.searchForm-col{
			display: inline-block;
			width: 254px;
			float: right;
			.ui-form-controller.inline {
				width: 100%;
				max-width: 100%;
			}
		}
	}
	.all-read{
		text-align: right;
		font-size: 14px;
		color: #499DF1;
		height: 20px;
		line-height: 20px;
		margin-top: 9px;
		margin-bottom: 5px;

	}
	.appointment-visit-content{
		width: 462px;
		text-align: left;
	}
	.appointment-visit-spot{
		display: inline-block;
		width: 8px;
		height: 8px;
		position: absolute;
		left: -14px;
    	top: 18px;
		background: #499DF1; 
		border-radius: 4px;
	}
	.appointment-visit-time{
		width: 120px;
	}
	.appointment-visit-read{
		width: 28px;
	}
	.tfoot td{
		width: 650px;
    	position: absolute;
    	right: 395px;
	}
}