
.station-reservation-from{
		.searchForm-col{
			float: left;
			position: relative;
			display: inline-block;
		}
		.searchForm-col-select{

		}
		.date-component{
			min-width: 125px;
		}
        font-size: 14px;
        .ui-form-controller.inline{
            width: 252px;
            max-width:100%;
            padding-left: 10px;
        }
        .Select--single > .Select-control{
            width: 252px;
        }
        .ui-form-label{
           
            display: inline-block;
            vertical-align: top;
            line-height: 40px;
            padding-bottom: 0px;
        }
        .Select.Select--single.is-searchable{
            display: inline-block;
        }

        .ui-form-controller{
            display: inline-block
        }
        .meeting-reservation-select{
            margin-top: 3px;margin-left: -35px;
            display: inline-block;
            .ui-form-controller.inline{
                width: 100px;
                max-width:100%;
                .Select-control{
                    width: 100px;
                }
            }
            .ui-form-label.inline{
                padding-left: 10px;
            }
        }
	}
