


.ui-table-wrap{


.table-tools{
      padding-top:20px;
      padding-bottom:20px;
      min-height:50px;
      .sidebar{
          display:inline-block;
      }

}
.not-table-data {
    height:200px;
}

}

