.m-or-enable{
       display:inline-block;
       .ui-form-controller{
           margin-top:10px;
       }
   }
.m-or-role{
    margin-left: 35px;
    margin-top: 25px;
}
.role-len-textarea{
      width: 100% !important;
      text-align: right;
      float:none !important;
}