.type-list-textarea{
  width:100% !important;
  text-align: right;
  float:none !important;
}

.pessi-form-add{
    margin-left: 42px;
    padding: 38px 45px 48px 62px;
 .customer-close{
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        right: 0px;
        top:0px;
        cursor: pointer;
        background: url(./images/close1.png) no-repeat;
        background-position: center center;
      }
.title{
  position: relative;
  font-size: 18px;
  margin-left: -42px;
  .new-icon{
    display: inline-block;
    width: 42px;
    height: 42px;
    vertical-align:middle;
    background: url(./images/meeting.svg) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }

  label{
    vertical-align:middle;
    display: inline-block;
    margin-left: 10px;
  }
 }
}
.m-form-radio{
  .ui-form-item{
    .ui-form-controller{
      padding-bottom:17px;
      padding-top:7px;
      span:nth-child(1){
        padding-right: 36px !important;
      }
    }
  }
}
.form-mask{
  display:inline-block;
}
