.appointment-visit{
	min-height: 500px;
	.appointment-visit-form{
		width: 100%;
	    position: relative;
	    height: 36px;
	    margin-top: 6px;
		.searchForm-col{
			display: inline-block;
			width: 220px;
			float: right;
			.ui-form-controller.inline {
				width: 100%;
				max-width: 100%;
			}
		}
	}
	.all-read{
		text-align: right;
		font-size: 14px;
		color: #499DF1;
		height: 20px;
		line-height: 20px;
		margin-top: 9px;
		margin-bottom: 5px;
		cursor: pointer;

	}
	.appointment-visit-content{
		width: 405px;
		text-align: left;
		cursor: pointer;
		text-align: left;
		word-break: normal;
		display: block;
		white-space: pre-wrap;
		word-wrap: break-word;
		overflow: hidden;
		vertical-align: text-top;
		span{font-size: 14px;}
	}
	.appointment-visit-spot{
		display: inline-block;
	    width: 8px;
	    height: 8px;
	    position: absolute;
	    left: -16px;
	    margin-top: 18px;
	    background: #499DF1;
	    border-radius: 4px;
	}
	.appointment-visit-time-urge{
		width: 138px;
		font-size: 14px;
		vertical-align: top;
		height: 100%;
		line-height: 42px;
		padding-left: 36px;
		padding-right: 20px;
	    span{
	    	font-size: 14px;
				vertical-align: top;
	    }

	}
	.appointment-visit-read-urge{
		font-size: 14px;

		vertical-align: text-top;
	    height: 100%;
	    box-sizing: border-box;

    	line-height: 42px;
	    span{
	    	font-size: 14px;
	    }
	}
	.tfoot td{
		width: 650px;
    	position: absolute;
    	right: 0;
    	margin-bottom: 48px;
	}
	.ui-table td{
		max-width: 100%;
	}
	.ui-form-controller.search-content{
		width: 76%;
	}
    .m-message-community{
		display:inline-block;
	   .ui-form-controller.inline{
		   width:160px;
		   margin-top:-8px;
		   margin-left:-15px;
	   }
   }
}
