@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?sblmbk');
    src:    url('fonts/icomoon.eot?sblmbk#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?sblmbk') format('truetype'),
        url('fonts/icomoon.woff?sblmbk') format('woff'),
        url('fonts/icomoon.svg?sblmbk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e916";
}
.icon-article:before {
    content: "\e917";
}
.icon-report:before {
    content: "\e90a";
}
.icon-qiye:before {
    content: "\e90b";
}
.icon-research:before {
    content: "\e90c";
}
.icon-talk .path1:before {
    content: "\e90d";
    color: rgb(215, 231, 255);
}
.icon-talk .path2:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(215, 231, 255);
}
.icon-talk .path3:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-talk .path4:before {
    content: "\e94a";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-talk .path5:before {
    content: "\e94b";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-talk .path6:before {
    content: "\e94c";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-talk .path7:before {
    content: "\e94d";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-view .path1:before {
    content: "\e94e";
    color: rgb(215, 231, 255);
}
.icon-view .path2:before {
    content: "\e94f";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-view .path3:before {
    content: "\e950";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-view .path4:before {
    content: "\e951";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-brand .path1:before {
    content: "\e952";
    color: rgb(215, 231, 255);
}
.icon-brand .path2:before {
    content: "\e953";
    margin-left: -1em;
    color: rgb(215, 231, 255);
}
.icon-brand .path3:before {
    content: "\e954";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-brand .path4:before {
    content: "\e955";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-brand .path5:before {
    content: "\e956";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-brand .path6:before {
    content: "\e957";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-overall .path1:before {
    content: "\e958";
    color: rgb(215, 231, 255);
}
.icon-overall .path2:before {
    content: "\e959";
    margin-left: -1em;
    color: rgb(215, 231, 255);
}
.icon-overall .path3:before {
    content: "\e95a";
    margin-left: -1em;
    color: rgb(215, 231, 255);
}
.icon-overall .path4:before {
    content: "\e95b";
    margin-left: -1em;
    color: rgb(215, 231, 255);
}
.icon-overall .path5:before {
    content: "\e95c";
    margin-left: -1em;
    color: rgb(215, 231, 255);
}
.icon-overall .path6:before {
    content: "\e95d";
    margin-left: -1em;
    color: rgb(215, 231, 255);
}
.icon-overall .path7:before {
    content: "\e95e";
    margin-left: -1em;
    color: rgb(215, 231, 255);
}
.icon-overall .path8:before {
    content: "\e95f";
    margin-left: -1em;
    color: rgb(215, 231, 255);
}
.icon-overall .path9:before {
    content: "\e960";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-overall .path10:before {
    content: "\e961";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-overall .path11:before {
    content: "\e962";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-overall .path12:before {
    content: "\e963";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-overall .path13:before {
    content: "\e964";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-overall .path14:before {
    content: "\e965";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-overall .path15:before {
    content: "\e966";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-overall .path16:before {
    content: "\e967";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-linkuser .path1:before {
    content: "\e968";
    color: rgb(215, 231, 255);
}
.icon-linkuser .path2:before {
    content: "\e969";
    margin-left: -1em;
    color: rgb(215, 231, 255);
}
.icon-linkuser .path3:before {
    content: "\e96a";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-linkuser .path4:before {
    content: "\e96b";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-linkuser .path5:before {
    content: "\e96c";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-linkuser .path6:before {
    content: "\e96d";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-highquality .path1:before {
    content: "\e96e";
    color: rgb(215, 231, 255);
}
.icon-highquality .path2:before {
    content: "\e96f";
    margin-left: -1em;
    color: rgb(215, 231, 255);
}
.icon-highquality .path3:before {
    content: "\e970";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-highquality .path4:before {
    content: "\e971";
    margin-left: -1em;
    color: rgb(66, 133, 244);
}
.icon-uniE900 .path1:before {
    content: "\e900";
    color: rgb(230, 192, 38);
}
.icon-uniE900 .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(230, 192, 38);
}
.icon-uniE900 .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(230, 192, 38);
}
.icon-uniE900 .path4:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(230, 192, 38);
}
.icon-uniE900 .path5:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(230, 192, 38);
}
.icon-uniE900 .path6:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(230, 192, 38);
}
.icon-uniE900 .path7:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-uniE900 .path8:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-uniE908 .path1:before {
    content: "\e908";
    color: rgb(199, 155, 115);
}
.icon-uniE908 .path2:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(199, 155, 115);
}
.icon-uniE908 .path3:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(199, 155, 115);
}
.icon-uniE908 .path4:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(199, 155, 115);
}
.icon-uniE908 .path5:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(199, 155, 115);
}
.icon-uniE908 .path6:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(199, 155, 115);
}
.icon-uniE908 .path7:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-uniE908 .path8:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-uniE910 .path1:before {
    content: "\e918";
    color: rgb(136, 167, 183);
}
.icon-uniE910 .path2:before {
    content: "\e973";
    margin-left: -1em;
    color: rgb(136, 167, 183);
}
.icon-uniE910 .path3:before {
    content: "\e974";
    margin-left: -1em;
    color: rgb(136, 167, 183);
}
.icon-uniE910 .path4:before {
    content: "\e975";
    margin-left: -1em;
    color: rgb(136, 167, 183);
}
.icon-uniE910 .path5:before {
    content: "\e976";
    margin-left: -1em;
    color: rgb(136, 167, 183);
}
.icon-uniE910 .path6:before {
    content: "\e977";
    margin-left: -1em;
    color: rgb(136, 167, 183);
}
.icon-uniE910 .path7:before {
    content: "\e978";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-uniE910 .path8:before {
    content: "\e979";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-uniE918:before {
    content: "\e919";
}
.icon-uniE919:before {
    content: "\e91a";
}
.icon-h5-school:before {
    content: "\e601";
}
.icon-wechat:before {
    content: "\e604";
}
.icon-weibo:before {
    content: "\e605";
}
.icon-add:before {
    content: "\e607";
}
.icon-hexinziyuan:before {
    content: "\e608";
}
.icon-display:before {
    content: "\e609";
}
.icon-jingpinfenxi:before {
    content: "\e60b";
}
.icon-link:before {
    content: "\e60d";
}
.icon-jiejuefangan:before {
    content: "\e60e";
}
.icon-user:before {
    content: "\e60f";
}
.icon-yonghutongdian:before {
    content: "\e615";
}
.icon-big-add:before {
    content: "\e618";
}
.icon-gototop:before {
    content: "\e619";
}
.icon-feedback:before {
    content: "\e61a";
}
.icon-turn-left:before {
    content: "\e61b";
}
.icon-turn-right:before {
    content: "\e61c";
}
.icon-mail:before {
    content: "\e61e";
}
.icon-search:before {
    content: "\e61f";
}
.icon-calculate:before {
    content: "\e622";
}
.icon-mobile:before {
    content: "\e800";
}
.icon-trash:before {
    content: "\e91b";
}
.icon-edit:before {
    content: "\e91c";
}
.icon-image:before {
    content: "\e91d";
}
.icon-file-text2:before {
    content: "\e91f";
}
.icon-star-empty:before {
    content: "\e91e";
}
.icon-non-support:before {
    content: "\e920";
}
.icon-share-normal:before {
    content: "\e921";
}
.icon-star-solid:before {
    content: "\e922";
}
.icon-supported:before {
    content: "\e923";
}
.icon-file-picture:before {
    content: "\e924";
}
.icon-share-hover:before {
    content: "\e925";
}
.icon-file-picture2:before {
    content: "\e926";
}
.icon-cancel-circle:before {
    content: "\e927";
}
.icon-del:before {
    content: "\e928";
}
.icon-select:before {
    content: "\e929";
}
.icon-hezi:before {
    content: "\e92a";
}
.icon-play2:before {
    content: "\e92b";
}
.icon-circle-up:before {
    content: "\e92c";
}
.icon-circle-right:before {
    content: "\e92d";
}
.icon-circle-down:before {
    content: "\e92e";
}
.icon-circle-left:before {
    content: "\e92f";
}
.icon-alike:before {
    content: "\e930";
}
.icon-android:before {
    content: "\e931";
}
.icon-apple:before {
    content: "\e932";
}
.icon-down:before {
    content: "\e933";
}
.icon-empty-heart:before {
    content: "\e934";
}
.icon-entity-heart:before {
    content: "\e935";
}
.icon-future:before {
    content: "\e936";
}
.icon-invested-manage:before {
    content: "\e937";
}
.icon-lamp:before {
    content: "\e938";
}
.icon-left:before {
    content: "\e939";
}
.icon-message:before {
    content: "\e93a";
}
.icon-passive-investor:before {
    content: "\e93b";
}
.icon-pdf:before {
    content: "\e93d";
}
.icon-right:before {
    content: "\e93c";
}
.icon-up:before {
    content: "\e93e";
}
.icon-error:before {
    content: "\e93f";
}
.icon-success:before {
    content: "\e940";
}
.icon-n9:before {
    content: "\e941";
}
.icon-n8:before {
    content: "\e942";
}
.icon-n7:before {
    content: "\e943";
}
.icon-n6:before {
    content: "\e944";
}
.icon-n5:before {
    content: "\e945";
}
.icon-n4:before {
    content: "\e946";
}
.icon-n3:before {
    content: "\e947";
}
.icon-n2:before {
    content: "\e948";
}
.icon-n1:before {
    content: "\e949";
}
.icon-n0:before {
    content: "\e972";
}
.icon-qq:before {
    content: "\f1d6";
}
.icon-more-down:before {
    content: "\e97a";
}
.icon-more-up:before {
    content: "\e97b";
}

