.m-sql-add{
    margin-left: 35px;
    margin-top: 25px;
}
.m-sql-add{
  .sql-add-des{
    .sql-len-textarea{
      width:542px !important;
      text-align:right;
    }
  } 
}
.m-sql-list{
  .tooltipParent{
    .ui-tooltip{
      max-width:421px;
      word-wrap: break-word;
      white-space:normal;
    }
  }
}