.m-map-main {
    position: relative;
    min-height:700px;
    top:25px;
    width:100%;
    padding-left:320px;
    box-sizing: border-box;
  }
  .m-inner-main{
    width:100%;
    border: solid 1px #ccc;
    min-height:700px;
  }