
.button-list{
	margin-right: 10px;
}
.seconde-dialog{
	font-size:0;
	padding :40px 0 0 20px;
	height:85%;
	h1{
		font-size:18px;
	}
	h1:before{
		content:url(images/activity.svg);
		display: inline-block;
	    width: 47px;
	    height: 47px;
	    margin: 10px;
	    vertical-align: middle;
	}
}
.close-dialog{
	float:right;
	width:18px;
	height:18px;
	margin-right: 50px;
}
.detail-list-equipment{
	border-left: dashed 1px #499DF1;
	margin:-25px 0 0 35px;
	padding: 10px 0;

	dt,dd{
		display:inline-block;
		margin:5px 0;
	}
	dl{
		font-size: 14px;
		width:100%;
		margin-left: 20px;
	}
	dt{
		width:50%;
	}
	dd{
		width:46%;
		text-align:right;
		padding-right:20px;
		box-sizing: border-box;
	}
}
.end-img{
	width: 20px;
    margin-left: 25px;
    height: 20px;
}
.btn-div{
	width:80px;
	margin:20px auto;
}
.search-equipment{
	padding:10px 40px 10px 0;
	height:80%;
	.table-box{
		height:100%;
		font-size: 14px;
		padding: 0 20px;
		box-sizing: border-box;
	}
	.table-header{
		height:10%;
		display: flex;
		font-size:0;
    	justify-content: center;
    	align-items: center;
    	border-top: 1px solid #f2f2f2;
    	border-bottom: 1px solid #f2f2f2;
	}
	.table-body{
		height:90%;
		overflow-y: scroll;
		border-bottom: 1px solid #f2f2f2;
		padding-bottom:10px;
	}
	.table-item{
		display: flex;
		height:40px;
		line-height: 40px;
		font-size:14px;
		display: flex;
	    justify-content: center;
	    align-items: center;
		.table-item-index{
			height:40px;
			width:16%;
			text-align: center;
		}
		.table-item-index{

		}
		.table-item-last {
		    color: #499df1;
		    cursor: pointer;
		}
		
	}
	.header-item{
		width:16%;
		text-align: center;
		font-size: 14px;
	}
}












