.g-oa{
    .main{
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 5px 3% 20px;
        .item{
            width: 200px;
            height: 260px;
            background-position:cover; 
            margin: 25px 2%;
            position: relative;
            cursor: pointer;
            &:hover .item-edit{
                display: inline-block;
            }
            .item-edit{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                position: absolute;
                right: 15px;
                top: 15px;
                background: url('./images/edit.svg') no-repeat center;
                background-size: 17px 17px;
                display: none;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.3)
                }
            }
            .item-text{
                display: inline-block;
                position: absolute;
                top: 44px;
                left: 40px;
                width: 123px;
                height: 66px;
                font-size: 24px;
                color: #fff;
            }
        }
        .item-add{
            background: url('./images/add.svg') no-repeat center;
        }
    }
    .ui-btn-center{
        margin-right: 40px;
        display: inline-block;
    }
}