.print-section{
	width:100%;
	height:100%;
	display:inline-block;
	background:#ffffff;

}
.print-text{
	width:790px;
	height:50px;
	margin:15px auto 0;
	position:relative;
	.border-b{
		height:0;
		border-bottom:1px solid #c2c2c2;
		display:inline-block;
		position:absolute;
		
	}
	.one-text{
		width:666px;
		top:20px;
		left:124px;
	}
	.two-text{
		width:100%;
		top:50px;
		left:0px;
	}
}
.text-content{
	font-size:14px;
}