.print-section{
	width:100%;
	height:100%;
	display:inline-block;
	background:#ffffff;

}

.text-content{
	font-size:14px;
}
.station-after{
	width: 700px;
	margin: 0 auto;
	line-height: 40px;
	font-family: "[FZLTHJW -GB1-0]";
	font-size: 14px;
}
