.g-dynamics-detail{
    width: 860px;
    background-color:#FFFFFF ;
    margin: 10px auto;
    border: 1px solid #FFFFFF ;
    margin-bottom: -30px;
    position: relative;
    .g-dynamics-detail-left{
        width: 30px;
        height: 30px;
        background-color: #F9F9FC;
        border-radius: 50%;
        position: absolute;
        top:147px;
        left: -15px;
    }
    .g-dynamics-detail-right{
        width: 30px;
        height: 30px;
        background-color: #F9F9FC;
        border-radius: 50%;
        position: absolute;
        top:147px;
        right: -15px;

    }
    .g-dynamics-detail-container{
        width: 760px;
        background-color: #FFFFFF;
        margin: 30px auto;
       padding-top: 30px
    }
    .g-dynamics-detail-content{
        width: 760px;
        min-height: 200px;
        background-color: #FFFFFF;
        margin:auto;

    }
     .g-dynamics-detail-title{
        height: 28px;
        color: #333333; 
        font-size: 20px;
        margin-top: -30px;
    }
    .g-dynamics-detail-time{
        height: 40px;
        font-size: 14px;
        color: #666666;
        border-bottom: 1px solid #E1E6EB ;
        margin-top: 10px;
    }
    .g-dynamics-detail-img{
        width: 760px;
        height: 340px;
        background-color: red;
        margin-top: 20px;
    }
  
}
    
