.plan-map-content{
    width:100%;
    overflow:scroll;
    position: relative;
    
    .plan-map-title{
        height:86px;
        border-bottom: 5px solid #ccc; 
    }
    .num-type{
    	height: 40px;
        line-height: 40px;
        display: inline-block;
        width: 250px;
        top: 8px;
        margin-left: 10px;
        position: relative;
    }
}
