.g-opcode-create{
	min-height:420px;
	display:inline-block;
	overflow-x:hidden;
	.ui-form-controller{
		width:300px;
		&:last-child{
			width:508px;
		}
	}
	.ui-form-item:nth-child(5){
		padding-left: 23px !important;
		.ui-form-controller{
			padding-left: 21px !important;
		}
	}
	.ui-form-label{
		font-size:14px;
		color:#333333;
		padding-right:20px;
		padding-left:20px;
		margin-bottom:10px;
	}

	.u-error-tip{
		color:red;
		font-size:14px;
		margin-top:14px;
		text-align: center;
	}

}
.ui-btn-center{
	display:inline-block;
	margin-right:20px;
}
.u-method-contentE{
	margin-top: -37px;
}
.dialog-body{
	padding-right:0 !important;
}
.u-audit-close{
    width:18px;
    height:18px;
    float:right;
    display:inline-block;
    background:url('images/close.svg') no-repeat center center;
    background-size: cover;
}