.order-table{
	display: block;
	.search-content{
		display: inline;
		position: absolute;
		right: 4%;
	}
	.table-content{
		font-size: 12px;
		a{
			text-decorationnone: none;
			margin: 3px;
			color: rgb(0, 0, 238);
			display: block;
		}
	}

}