.m-newMerchants{
    .ui-tabel-edit{
        width: 100%;
    }
    .m-form-intro{
        background:#fff7ea;
        border: 1px solid #ffe9ca;
        border-radius: 4px;
        display:inline-block;
        width:526px;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 30px;
        .intro-pic{
            width:100%;
            div{
                width: 25px;
                height: 25px;
                color: #333;
                font-size: 14px;
                background: url(images/tip.svg) no-repeat left center;
                background-size: 100%;
                display: inline-block;
                margin-right: 10px;
            }
            span{
                display: inline-block;
                margin-top: 3px;
                vertical-align: top;
            }
        }
        .intro-text{
            color:#666;
            font-size:14px;
            padding-left: 35px;
            word-wrap: break-word;
            white-space: normal;
        }
    }
}