.g-DataPermission{
  .leftSec{
    width: 96%;
    height: 280px;
    border: 1px solid #dfdfdf;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 4px;
    overflow: auto;
    display: inline-block;
    margin-right: 35px;
  }
  .ui-list-group{
    width:80%;
  }
  .rightSec{
    width: 190px;
    height: 280px;
    border: 1px solid #dfdfdf;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 4px;
    overflow: auto;
    display: inline-block;
  }
}
