.m-station-importData {
    padding-top: 20px;
    padding-right: 6px;
    padding-left: 28px;
    .import-title{
      .import-detail{
        padding:0;
        margin:0;
        margin-top: 12px;
        margin-bottom: 20px;
        li{
          line-height: 24px;
          font-size:14px;
          color:#666;
        }
      }
    }
    .import-title-two{
      .import-first{
        font-size:14px;
        color:#666;
        margin-top: 12px;
      }
    }
    .m-upload-file{
       display: inline-block;
       margin-right: 10px;
       vertical-align: top;
       margin-top: 38px;
   }
    .import-logo{
      width:150px;
      height:90px;
      background:#f6f6f6;
      color: #7ab55c;
      display: inline-block;
      font-size: 80px;
      text-align: center;
      position: relative;
      border-radius: 5px;
      margin:0;
      .chooce-file{
        height: 90px;
        width:100%;
      }
      .import-pic{
        width:27px;
        height:27px;
        background:url(../images/Upload.svg) no-repeat center;
        background-size: 27px 27px;
          display: inline-block;
          margin-bottom: 22px;
      }
    }
    .load-demo{
      display: inline-block;
      text-align: center;
      margin:20px 0;
      cursor: pointer;
      width:78px;
      height:18px;
      background:url(../images/download.svg) no-repeat left center;
      background-size: 16px 16px;
      color:#499df1;
      padding-left:8px;
      margin-left:22px;
      margin-top: 0;
            margin-bottom: 0;
    }
    .load-demo:before{
      content:'';
    }
    .file-name{
      display:block;
      width: 100%;
      text-align: center;
      margin: 0;
        margin-top: 15px;
        margin-bottom: -4px;
    }
    .chooce-file{
      position: absolute;
      width: 100px;
      left: 0;
      transform:translateX(0px);
      opacity: 0;
      cursor: pointer;
    }

}
