.m-noneClick{
    height: 47px;
    background: #fff;
    position: absolute;
    top: 65px;
    line-height: 48px;
    text-align: center;
    color: #999;
    font-weight: 400;
    right: 50px;
}
.m-newMerchants.m-lookCustomerList span{
		font-weight: 400;
		

}
.every-noneClick{
    display: inline-block;
}