.g-hold-list{
  .ui-table td{
    max-width: 200px;
  	&:nth-child(2){
      max-width:260px;
  		.ui-tooltip{
  			display:inline-block;
  			width:360px;
  			white-space:normal;
  		  word-wrap:break-word;
  		  word-break: normal;
        .top-arrow{
          display: none;
        }
      }
  	}
  }
  .u-table-list{
    padding:18px 50px 30px 48px;
    border-bottom:1px solid #d7d7d7;
    overflow-x:hidden;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .u-table{
    width:630px;
     border-collapse: collapse;
     font-size:14px;
     margin-left:15px;
    th{
      height:34px;
      background:#f2f2f2;
      font-size:14px;
      color:#333333;
      font-weight:100;
      border:1px solid #eeeeee;
    }
    tr{
      td{
        height:40px;
        text-align:center;
        color:#666666;
        border-left:1px solid #eeeeee;
        border-bottom:1px solid #eeeeee;
        &:last-child{
          border-right:1px solid #eeeeee;
        }
        
      }
    }

  }
  .search-form .icon-searching {
    margin-left: 11px !important;
  }
  .ui-tooltip.center {
    left: 49%;
    text-align: center;
    .top-arrow{
      display: none;
    }
  }
  .list-group-item {
      padding-right: 0px !important;
  }
  .renderFilter{
    width:296px; 
    .search-filter{
      ul{
        z-index: 20;
        list-style: none;
      }
    }
  }
}
.u-font-green{
  color:#77cd50;
}
.u-font-red{
  color:#ff6868;
}

.u-create-title{
    position: relative;
    font-size: 18px;
    height:45px;
    .title-text{
    padding-left:83px;
  }
}
.u-create-close{
    vertical-align:middle;
    display: inline-block;
    margin-right: 20px;

}
.u-create-close{
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      right: 0px;
      top:0px;
      cursor: pointer;
      background: url(./images/closeIcon.svg) no-repeat;
      background-position: center center;    
}

.g-create-opinoin{
  position: relative;
  padding: 35px 0 48px 0;
 }
