.g-hold-list{
  .ui-table td{
  	&:nth-child(3){
  		.ui-tooltip{
  			display:inline-block;
  			width:360px;
  			white-space:normal;
  		  word-wrap:break-word;
  		  word-break: normal;
        .top-arrow{
          display: none;
        }
      }
  	}
  }

  .search-form .icon-searching {
    margin-left: 11px !important;
  }
  .ui-tooltip.center {
    left: 49%;
    text-align: center;
    .top-arrow{
      display: none;
    }
  }
  .list-group-item {
      padding-right: 0px !important;
  }
  .renderFilter{
    width:296px; 
    .search-filter{
      ul{
        z-index: 20;
        list-style: none;
      }
    }
  }
}

 