.g-oa-labour{
  display: flex;
  .search-form .icon-searching {
    margin-left: 11px !important;
  }
  .left{
    padding: 10px 10px 0 10px;
    background: #F0F1F6;
    border-radius: 4px 0 0 4px;
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
    flex: 1;
    .oa-tree{
      margin-left: 1px;
      margin-top: 9px;
    }
    .search{
      width:96%;
      line-height: 38px;
      height: 38px;
      background: #fff;
      border: 1px solid #DFDFDF;
      border-radius: 4px;
      position: relative;
      margin-left: 2%;
      margin-top: 8px;
      input{
        height: 38px;
        width: 86%;
        display: inline-block;
        border: none;
        padding: 0;
        margin-left: 2px;
        vertical-align: top;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding-left: 15px;
      }
      .searching{
        width: 13%;
        height: 38px;
        background: url('./images/search.svg') no-repeat center;
        background-size: 45%;
        border-left:1px solid #dfdfdf;
        display: inline-block;
        position: absolute;
        right: 0;
      }
    }
  }
  .right{
      display: inline-block;
      background: #fff;
      padding: 0 1.5%;
      vertical-align: top;
      flex:4;
      min-height: 910px;
      .right-center{
        padding-top:16px;
      }
    }
}
