
.f-footer{

	background-color:#2d3237;
	position:absolute;
	width:100%;
	bottom:0;
	padding:20px 0;
	display:none;

	ul{

		display:flex;
		flex-direction:row;
		list-style-type:none;

		li{
			flex:1;
		}

	}

	a{
		color: #b1d1e8;
		padding-right:10px;
	}

	.title{
		color:#fff;
		margin-bottom:20px;
	}

	.item{

		height:40px;
		line-height:40px;
		font-size:14px;

		span{
			color: #aaaaaa;
			padding-right:10px;
		}

	}



}



