.u-clearfix { zoom:1; }
.btn-center {
    margin-right: 16px;
    display: inline-block;
}
.u-clearfix:after {
  clear: both;
  content: '.';
  height: 0;
  display: block;
  visibility: hidden;
}
.u-messge-red{
	font-size:14px;
	color:red;
}
.m-todo-audit{

.ui-table th{
	&:last-child{
		width:150px;
	}
}
.ui-detailContents,.ui-textInfos{
		border-left:1px dashed #499df1;
	}
.ui-table td{
	&:nth-child(12){
		.ui-tooltip{
			display:inline-block;
			width:360px;
			white-space:normal;
		    word-wrap:break-word;
		    word-break: normal;
		}

	}
}
  .list-delete{
	 .sureIncome{
	 	   font-size: 14px;
		    color: #333;
		    width: 100%;
		    text-align: center;
		    margin-top: 44px;
		    margin-bottom: 46px;
	 }
   .sureAudit{
      font-size: 14px;
      color: #333;
      width: 80%;
      padding-left: 10%;
      margin-top: 44px;
      margin-bottom: 46px;
   }
}
	.u-search{
		margin:26px 0;
	}
	.u-span{
		width:20px;
		height:30px;
		display:inline-block;
	}
	.u-high-search{
		width:24px;
		height:24px;
		display:inline-block;
		float:right;
		margin:2px 0 0 28px;
		background:url(images/search.svg) no-repeat center center;
		background-size: cover;
	}
}
.u-audit-add{

	position:relative;
	padding:45px 45px 80px 48px;
	.u-audit-add-title{
		width:100%;
		height:42px;
		color:#333333;
		font-size:18px;
		font-family:'FZLTZHJW  GB1 0';
		span{
			vertical-align: middle;
		}
	}
  .u-table-list{
    padding:18px 50px 30px 48px;
    border-bottom:1px solid #d7d7d7;
    overflow-x:hidden;
  }
  .ui-textInfos,.ui-detailContents{
    width:690px;
    margin-left:48px;
    padding-left:68px !important;
  }
  .u-add-total-count{
    width:600px;
  }
  .u-order-title{
    font-size:14px;
    margin:16px 0;
  }
  .u-order-list{
    font-size:14px;
    color:#666666;
    .u-order-name{
      margin-bottom:16px;
    }
    .u-order-font-list{
      width:260px;
      float:left;
      margin-bottom:16px;
      .u-order-deatil{
        font-family:'FZLTZHJW  GB1 0';
        margin-bottom:16px;
        .u-font-red{
          color:#ff6868;
        }
      }


    }
  }
	.spinner2{
		position:absolute;
		left:50%;
		top:75%;
		margin-left:-27.5px;

	}
	.u-audit-add-icon{
		width:40px;
		height:40px;
		margin-right:6px;
		display:inline-block;
		background:url(images/icon.svg) no-repeat center center;
		background-size: cover;
	}
	.u-audit-close{
		width:18px;
		height:18px;
		float:right;
		display:inline-block;
		background:url('images/close.svg') no-repeat center center;
		background-size: cover;
	}
	.u-add-total-count{
		font-size:16px;
		font-family:'FZLTZHJW  GB1 0';
		color:#333333;
		margin-bottom:10px;
		.u-add-total-icon{
			width:16px;
			height:18px;
			display:inline-block;
			background:url('images/pay.svg') no-repeat center center;
			background-size: cover;
		}
		.u-add-total-title{
			margin-left:6px;
		}
		span{
			vertical-align: middle;
		}
	}
	.u-audit-content-null{
		width:100%;
		height:165px;
		.u-audit-content-null-icon{
			height:146px;
			width:104px;
			margin:0 auto;
			background:url('images/nothings.png') no-repeat center center;
			background-size: cover;
		}
		.u-audit-content-null-title{
			margin-top:14px;
			font-size:14px;
			font-family:'MicrosoftYaHei';
			color:#666666;
			text-align:center;
		}

	}

	.leftBottomValue,.rightBottomValue{
	   float:left;
	   .ui-form-item{
	      margin-top:8px;
        .btn-center{
            margin-right: 16px;
            display: inline-block;
        }
	   }
	}
	.rightBottomValue{
	  margin-left:31px;
	}




}
