  .search-form{
    .click{
     margin-left: 12px !important;
     }
  }
  .ui-btn-center {
    margin-right: 30px;
    display: inline-block;
}
.m-fundt {
  .ui-table td{
		&:nth-child(5){
			.ui-tooltip{
				display:inline-block;
				width:360px;
				white-space:normal;
			    word-wrap:break-word;
			    word-break: normal;
			}

		}
	}
}
