.switchhover .tableOver{
	display:block;
	max-width: 160px ;
    text-overflow: ellipsis;
    overflow: hidden;
    // white-space: nowrap;
    //background: #fff url() 0 0 no-repeat;
		background-color:#fff;
}
