.ui-map-component{
	position: relative;
	input{
		max-width: 100%;
		min-width: 90%;
		height: 30px;
		border:none;
		color: #666;
		font-size: 14px;
		&:focus {outline: none;}
		text-overflow:ellipsis;
		overflow: hidden;
		white-space: nowrap;
		border: 1px solid #ddd;
	    border-radius: 4px;
	}
	#mapcomponent{
		position:absolute;
		right: 0;
		z-index: 10;
	}
	.ui-map-img{
		width:16px;
		position:absolute;
		right: 0;
		height: 19px;
		top: 50%;
		margin-top: -10px;
		cursor: pointer;
	}
}