.lyh-create{
  .Select{
    .Select-control{
      height: 40px;
    }
  }

}

.detailList{
	width:85%;
	margin-left: 100px !important;
}
.stationList{
	width:100%;
	display:inline-block;
	max-height:286px;
	overflow:hidden;
}
.txt{
	span{
	font-size:18px;
	}
}





