.section{
	background:#ffffff;
    border:1px solid #ddd;
	border-radius:4px;
	margin-Bottom:20px;
}

.section-header{
	border-bottom:1px solid #ddd;
}


.section-title{
	padding-left:10px;
    background-color: rgb(232, 232, 232);
	cursor: pointer;
	height:50px;
	line-height:50px;
	display:flex;
	flex-direction:row;
	align-items:center;

	.left-icon{
		align-items:center;
		display:flex;
		padding-right:10px;
	}

	.title{
	}

	.right-element{
		flex:1;
		display:flex;
		flex-direction:row;
		justify-content: flex-end;
	}

}

.section-body{
	padding:30px;
	background:#ffffff;
}

.description{
	background:#ffffff;
	overflow:auto;
	padding:10px 20px 0;
	margin-top: 0;
	margin-bottom: 0;
}

