.ui-labelText{
	width:900px;
	display:inline-block;
}
.ui-textLeft{
	display:inline-block;
	font-size:14px;
	font-family:'微软雅黑';
	color:#333;
}
.ui-textRight{
	display:inline-block;
	font-size:14px;
	font-family:'微软雅黑';
	color:#666;
}


