.m-new-create{
	.ui-title-mid {
	    height: 35px;
	    width: 140px;
	    position: absolute;
	    line-height: 35px;
	    left: 50%;
	    top: -22px;
	    margin: 0 auto;
	    font-size: 18px;
	    font-family: '\65B9\6B63\5170\4EAD\4E2D\9ED1';
	    line-height: 35px;
	    -webkit-border-radius: 20px;
	    -moz-border-radius: 20px;
	    -ms-border-radius: 20px;
	    border-radius: 20px;
	    text-align: center;
	    padding: 0px;
	    display: inline-block;
	    background: #499df1;
	    color: #fff;
	    transform: translateX(-50%);
	}
	.ui-title{
		margin-bottom: 20px;
		padding:0px;
	}
}
.m-new-dialog-create{
	.ui-form-label span,
	.Select-placeholder,
	.Select-value,
	.ui-label-text span,
	.calendar-value span,
	span.Select-value-label,
	span.Select-value-label span,
	.Select-placeholder,
	.Select-input div,
	.bottom-tip,
	.all-rent span,
	.file-button span,
	button span,
	.error-wrap span
	{
		font-size: 14px;
	}
	.ui-title-mid{
		font-size: 16px;
	}
	.ui-tooltip.center{
		left: 50%;
	}
	.ui-form-controller .ui-tooltip.center {
	    position: absolute;
	    left: 50%;
	    transform: translateX(-50%) translateY(-50%);
	    top: -40px;
	    width: 252px;
	    margin-top: -15px;
	    line-height: 20px;
	}
	.ui-label-text .ui-label-text-span{
		display: inline-block;
	    height: 30px;
	    overflow: hidden;
	    white-space:nowrap; 
		text-overflow:ellipsis; 
		width: 252px;
		
	}
	.top-arrow:after{
		display: none;
	}
	.lessor-address{
		display: inline-block;
		.ui-form-controller .ui-tooltip.center {
			margin-top: 15px;
		}
	}
	.titleBar .small-title{
		margin-top: 5px;
		display: inline-block;
	}
}