
.second-equipment-table{
	position: inherit;
	.list-div:hover{
		background :#f2f2f2;
	}
	tr:hover{
		background-color: #deeeff;
	}
	tr:nth-child(odd):hover{
		background-color: #deeeff;
	}
	thead {
		background-color: #fff;
		tr:first-child:hover{
			background-color: #fff;
		}
	}
	.tfoot tr:hover{
		background-color: #fff;
	}
	tr>td:first-child{
		width:30px;
	}
	tr>th:first-child{
		width:30px;
	}
}
.button-list{
	margin-right: 10px;
}
.seconde-dialog{
	font-size:0;
	padding :40px 0 0 20px;
	height:85%;
	h1{
		font-size:18px;
	}
	h1:before{
		content:url(images/activity.svg);
		display: inline-block;
	    width: 47px;
	    height: 47px;
	    margin: 10px;
	    vertical-align: middle;
	}
}
.close-dialog{
	float:right;
	width:18px;
	height:18px;
	margin-right: 50px;
	cursor: pointer;
}

.detail-list-equipment{

	.string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
    .tr-line{
    	vertical-align: top;
    	font-size: 16px;
	    display: inline-block;
	    width: 47%;
	    box-sizing: border-box;
	    padding-left: 30px;
    	.td-left{
    		width:135px;
		    float:left;
		    padding:5px; 
		    font-weight: 500;
    	}
    	.td-right{
		    float: left;
		    padding: 5px;
		    width: 272px;
		    word-break: break-all; 
    	}
    }
    .tr-line-last{
    	font-size: 16px;
	    display: inline-block;
	    box-sizing: border-box;
	    padding-left: 30px;
	    .td-left{
	    	
	    	font-weight:500;
	    	padding:5px;
	    }
	    .td-right{
	    	
	    	padding:5px;
	    }
    }
    .tr-line-bottom{
    	font-size: 0;
    	padding-left:30px;
    	.td-left{
    		font-size: 16px;
			padding:5px;
			font-weight: 500;
    	}
    	.td-right{
			font-size:16px;
    	}
    }
}
.end-img{
	width: 20px;
    margin-left: 25px;
    height: 20px;
}
.btn-div{
	width:180px;
	margin:20px auto;
}
.search-equipment{
	border-left: dashed 1px #499DF1;
	margin:-25px 0 0 35px;
	padding: 10px 0;
	padding:10px 40px 10px 0;
	height:80%;
	.table-box{
		height:100%;
		font-size: 14px;
		padding: 0 20px;
		box-sizing: border-box;
	}
	.table-header{
		height:10%;
		display: flex;
		font-size:0;
    	justify-content: center;
    	align-items: center;
    	border-top: 1px solid #f2f2f2;
    	border-bottom: 1px solid #f2f2f2;
	}
	.table-body{
		height:90%;
		overflow-y: scroll;
		border-bottom: 1px solid #f2f2f2;
		padding-bottom:10px;
	}
	.table-item:hover{
		background-color: #deeeff;
	}
	.table-item:nth-child(odd):hover{
		background-color: #deeeff;
	}
	.table-item{
		display: flex;
		height:40px;
		line-height: 40px;
		font-size:14px;
		display: flex;
	    justify-content: center;
	    align-items: center;
		.table-item-index{
			height:40px;
			width:20%;
			text-align: center;
		}
		.table-item-index:nth-child(2){
			width:10%
		}
		.table-item-index:nth-child(3){
			width:10%
		}

		.table-item-index-cache{
			height:40px;
			width:25%;
			text-align: center;
		}
		
		.table-item-last {
			width: 50%;
		    display: inline-block;
		    color: #499df1;
		    padding:0 5px;
		    cursor: pointer;
		    box-sizing: border-box;
		    text-align: right;
		}
		.table-item-last:last-child {
			text-align: left;
		}
		
	}
	.table-item:nth-child(odd){
		background-color:#eee; 
	}
	.header-item{
		width:20%;
		text-align: center;
		font-size: 14px;
	}
	.header-item:nth-child(2){
		width:10%
	}
	.header-item:nth-child(3){
		width:10%
	}
	.header-item-cache{
		width:25%;
		text-align: center;
		font-size: 14px;
	}
}
.second-equipment-search .fir-span .ui-form-controller{
	width:150px;
	margin-left:5px;
	
}
.second-equipment-search .sec-span .ui-form-controller{
	width:60px!important;
	margin-left:5px;
	min-width: 60px;
}
.second-equipment-search .thir-span .ui-form-controller{
	width:100px;
	margin-left:5px;
}
.second-equipment-search .fouth-span .ui-form-controller{
	width:90px;
	margin-left:5px;
}

.second-equipment-search{
	.show-li{
		margin-top: -20px;
		z-index:100;
	}
	.filter-container{
		height:30px;
	}
	.search-form .filter-container em{
		display: none;
	}
}





















