.g-notice{
  .ui-table td{
    &:nth-child(4){
      .ui-tooltip{
        display:inline-block;
        width:500px;
        white-space:normal;
          word-wrap:break-word;
          word-break: normal;
      }

    }
  }

}
.g-create-notice{
	position: relative;
	padding: 35px 0 48px 0;
  .u-view{
    color:#499df1;
    cursor:pointer;
    margin-top:20px;
    margin-left:10px;
  }
	form{
		padding-left: 103px;
	}
	.u-create-title{
		height:45px;
	}
	.u-create-close{
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      right: 0px;
      top:0px;
      cursor: pointer;
      background: url(./images/closeIcon.svg) no-repeat;
      background-position: center center;    
    }
    .u-create-title{
	  position: relative;
	  font-size: 18px;
	  .title-text{
		padding-left:103px;
	  }
	  .u-create-close{
	  	  vertical-align:middle;
	      display: inline-block;
	      margin-right: 20px;

	  }
	   
  }
  .u-img-list{
    width:540px;
  	.u-list-title{
  		color:#333;
  		text-indent:15px;
  		margin-bottom:16px;
  	}
  	img{
  		margin-left:15px;
  		width:150px;
  		height:150px;
  	}
  }
  

}
.ui-btn-center {
    margin-right: 30px;
    display: inline-block;
}