.m-commonCity{
  .city-name{
    width:100%;
    font-size: 18px;
    color: #555;
    font-weight: 500;
  }
  ul{
    width:100%;
    padding: 0;
    margin: 0;
    margin-top: 11px;
    margin-bottom: 11px;
    .community-name{
    width: 15.5%;
    display: inline-block;
    text-align: center;
    height: 70px;
    line-height: 70px;
    border-bottom: solid 1px #e7ebee;
    border-left: solid 1px #e7ebee;
    border-right: solid 1px #e7ebee;
    border-top: solid 6px #499df1;
    font-size: 14px;
    color: #555;
    margin-right: 15px;
    cursor:pointer;
    }
  }
}
