.ui-dialog-header{
	background-color: #f6f6f6;
	padding: 10px !important;
	
}
.cancle-dialog{
	position: absolute;
	top: 20px;
	right: 18px;
	width: 13px;
	height: 13px;
	background-image: url('./images/close.png');
	background-size: 100% 100%;
}
.ui-content{
	margin-top: 20px;
}