.g-operation{
	.searchForm{
		position:relative;
		z-index:9 !important;
	}
	.u-operations-edit-title{
		color: #333;
		font-size: 18px;
		padding-left: 20px;
		margin-bottom: 20px;
		font-family: PingFangSC-Medium;
	}
	.ui-tooltip.center {
    left: 49%;
		text-align: center;
		.top-arrow{
			display: none;
		}
}
}
