.ui-icon-wrap{
    display: inline-block;
    width: auto;
    text-align: center;
    position: relative;
.little-icon{
  width:12px;
  height:12px;
  display:inline-block;
  background:url(./images/tip.svg) no-repeat center;
  background-size: 100%;
}
.ui-iconTip{
  padding:12px;
	border-radius: 4px;
  position:absolute;
  z-index: 100;
  background:#fff;
  border: 1px solid #DFDFDF;
  font-size: 12px;
  color: #666666;
  //width: 330px;
  display:inline-block;
  word-wrap: break-word;
  line-height: 18px;
  left: 50%;
  transform: translateX(-50%);
  //visibility: hidden;
}
.ui-iconArrow{
    width: 8px;
    height: 8px;
    background: #fff;
    display: inline-block;
    position: absolute;
    border: 1px solid #DFDFDF;
    border-right: none;
    border-bottom: none;
    left: 50%;
    transform: rotate(43deg) translateX(-50%);
    top: -2px;
}
}
