.line{
	.date-component{
		width: 100px;
		.date-operation{
			input{
				width: 100px;
			}
		}
	}
}

.date-component{
		display:inline-block;
		border:1px solid #ddd;
		height:35px;
		width: 150px;
		border-radius:4px;
		position:relative;

	
	.date-input,
	.date-operation{
		display:block;
		top:0;
		left:0;
		right:0;
		bottom:0;
		position:absolute;
	}
	.date-input{

	line-height:35px;
	padding-left:10px;
	padding-right:10px;

	}

	.date-operation {
		position:absolute;
		z-index:2;
	}

}


