ul,li{
	list-style:none;
}

.ui-adminBook{
	height:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	background: -moz-linear-gradient(right, #499df1, #499df1);
	background: -webkit-linear-gradient(right, #03ec56, #499df1);
	background: -ms-linear-gradient(right, #03ec56, #499df1);
	margin-bottom:25px;
}
.ui-circle{
   width:35px;
   height:35px;
   -moz-border-radius:50%;
	-ms-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	border:2px solid #499df1;
	position: relative;
	background:#fff;
	margin-top:-8px;
	display:block;
	margin-right:auto;
	margin-left:auto;
	&:before{
		content:'';
		width: 25px;
		height: 25px;
		position: absolute;
		border-radius: 25px;
		background-color: #499df1;
		top: 5px;
		left: 5px;
	}
}

.ui-circle-dot{
   width:25px;
   height:25px;
   border:dotted 3px #499df1;
   -moz-border-radius:50%;
	-ms-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	background:#fff;
	margin-top:-6px;
	display:block;
	margin-right:auto;
	margin-left:auto;
}
.ui-adminBook li{
	width:16.6%;
	float:left;

}
.ui-remark{
	margin-left:30px;
	width:auto;
	color:#999;
	font-size:14px;

}
.ui-orderDetail{
	margin:30px 0;
}
.ui-remark{
	width:280px;
	margin:0 auto;
}
.ui-circle-remark{
	display:inline-block;
}
.remark-green-text{
	font-size:14px;
	color:#666;
	margin-left:10px;
}
.ContractNameTitle{
	font-weight:500;
}
.adminTitle{
	position: relative;
	.adminName{
		width: 60%;
		font-size: 14px;
		display: inline-block;
	}

}
.content{
	width:900px;
	margin-left:auto;
	margin-right:auto;
}
span{
	font-size:14px;
}
 .ui-label-text span{
	max-width: 160px !important;
}
.disabled{
    color: #dfdfdf  !important;
    box-shadow: 1px 1px 3px #dfdfdf !important;
}
.createButton{
	&.disabled{
		&:hover{
			background-color: #dfdfdf !important;
			color: #fff !important;
	    }
	}
}
