.circle-color{
	width: 8px;
	height: 8px;
	border-radius: 10px;
	// border:2px solid red;
	margin-right: 10px;
	display: inline-block;
}
span.over-circle{
	border:2px solid #77cd50;
}
span.section-circle{
	border: 2px solid #ff9a48;
}
span.no-pay{
	border:2px solid #686868;
}
.ContractName{
	margin: 10px 0;
}