.circle-color{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	// border:2px solid red;
	display: inline-block;
}
span.over-circle{
	border:2px solid #77cd50;
}
span.section-circle{
	border: 2px solid #ff9a48;
}
span.no-pay{
	border:2px solid #686868;
}