.ui-tabel-edit{
    width: 544px;
    table{
        border:1px solid #E1E6EB;
        border-bottom: 0px;
        border-right: 0px;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        .hander{
            td{
                background: #F5F6FA;
            }
        }
        tr{
            width: auto;
            td{
                width: auto;
                padding: 5px 10px;
                border-bottom:1px solid #E1E6EB;
                border-right:1px solid #E1E6EB;

            }
        }
        
    }
    .add{
        display: inline-block;
        height: 25px;
        width: 25px;
        background:url(images/add.svg) no-repeat;
        background-size: 25px 25px;
        cursor: pointer;
    }
    .sub{
        display: inline-block;
        height: 25px;
        width: 25px;
        background:url(images/sub.svg) no-repeat;
        background-size: 25px 25px;
        cursor: pointer;
    }
    .add:hover{
        background:url(images/add-active.svg) no-repeat;
        background-size: 25px 25px;
    }
    .sub:hover{
        background:url(images/sub-active.svg) no-repeat;
        background-size: 25px 25px;
    }
}