.swper-list{
   .ui-table th{
       border-left: solid 1px #E1E6EB; 
       border-top: solid 1px #E1E6EB; 
       
   } 
   .ui-table tr td{
       border-left: solid 1px #E1E6EB; 
       border-top: solid 1px #E1E6EB; 
       border-right: solid 1px #E1E6EB;
   }
   .ui-table tfoot tr td{
       border: solid 0px #E1E6EB; 
       
   }
   .ui-table thead tr th{
       border: solid 1px #E1E6EB;
   }
   .ui-table tbody{
       border-right: solid 1px #E1E6EB; 
       border-bottom: solid 1px #E1E6EB; 
   }
   .ui-table tbody tr{
       background-color: #fff;
   }
 
   .oa-swper-delete{
       text-align: center;
       .oa-swper-content{
           margin: 50px 0px;
       }
   }
   .swper-img{
       width: 105px;
       margin-top: 5px;
       margin-left: 5px;
       
   }
   a{
        ont-size: 14px;
        color: #4A90E2;
        cursor: pointer;
   }
}