.first-menu{
    .second-title,.first-title,.third-title{
        padding: 0 25px;
    }
    div{
        display: inline-block
    }
    .btn{
        line-height: 30px;
        padding: 0 25px;
        border-radius: 6px;
    }
    .first-title-row{
        line-height: 50px;
        .first-title{
            font-size: 25px;
        }
        
    }
    .main{
        .second-menu{
            .second-title-row{
                line-height: 40px;
                .second-title{
                    font-size: 20px;
                 }
            }
           
        }
    }
}
