.first-menu{
    padding:30px;
    border: 1px solid #e8e9e9;
    margin: 20px 0 50px 0;
    .ui-button{
        margin-right: 20px;
        line-height: initial;
        float: right;
    }
    .second-title,.first-title,.third-title{
        padding-left:25px;
        display: inline-block;
    }
    .btn{
        line-height: 30px;
        padding: 0 25px;
        border-radius: 6px;
    }
    .first-title-row{
        
        line-height: 50px;
        .first-title{
            padding: 0 15px;
            display: inline-block;
            font-size: 25px;
            font-weight: 600;
        }
        .ui-button{
            margin-top: 8px;
        }
        
    }
    .main{
        .second-menu{
            
            margin: 10px 0;
            .second-title-row{
                display: inline-block;
                line-height: 40px;
                width: 100%;
                position: relative;
                .second-items{
                  width: 65%;   
                }
                div{
                    display: inline-block;
                }
                .second-title{
                    font-size: 18px;
                    font-weight: 600;
                    width: 20%;
                    vertical-align: top;
                    line-height: 46px;
                 }
                 .ui-button{
                    margin-top: 5px;
                }
            }
           
        }
    }
    .ui-dialog{
        .Select{
            width:169px;
        }
        .ui-button{
            float: none;
        }
        .ui-btn-center{
                display: inline-block;
        }
        .ui-form-label{
            margin-right: 20px;
        }
    }
}
