.input-card-form{
	.ui-btn-center{
		display:inline-block;
		margin-right: 20px;

	}
	.tip-box{
		padding-left: 10px;
		margin-top: 10px;
		p{
			margin-top: 0;
			margin-bottom: 4px;
			.yellow{
				color : #d79e15;
			}
		}
	}
	.submit-suc-style{
		color : #5ebd5e;
		padding-left:10px;
		text-align: center;
		.tip-img{
			background:url(images/suc.svg);
			background-size: 100%;
		}
	}
	.submit-fail-style{
		color : #ff6868;
		padding-left:10px;
		text-align: center;
		.tip-img{
			background:url(images/fail.svg); 
			background-size: 100%;
		}
	}
	.tip-img-same{
		width: 20px;
	    height: 20px;
	    display: inline-block;
	    vertical-align: middle;
	    margin-right: 5px;
	}
}