.all-equipment{
    box-sizing: border-box;
    .section-body{
        padding-top: 20px;
        
    }
    .ui-dialog{
        width:1000px!important;
    }
    
}
.all-device-list-line-low{
    td{
        height:30px;
    }
    .tfoot{
        td{
            padding:20px 0 0 0 ;
        }
    }
}
.authoriazation-time{
    .ui-calendar {
        .calendar-wrap{
            // top:-295px;
            height:300px;
        }
        .calendar{
            height :278px;
        }
        .calendar-input{
            padding-top:10px;
            .line{
                margin-top:10px;
            }
        }
        .calendar-toolbar{
            padding-top:0px;
        }
        .calendar-day-display{
            margin : 0 0 0 32px;
        }
        .calendar-month-date{
            margin-left:32px;
        }
        .calendar{
            .calendar-day{
                margin-right:6px;
            }
            .calendar-day-display{
                margin-left:32px;
                span{
                    margin-right: 6px;
                }
            }
        }
    }
}