.search-payment-remind-form{
	.ui-form-controller{
		width:155px;
	}
	.search-form-endDate{
		.ui-form-label{
			margin-right: 10px;
    		padding-left: 0;
		}
		.date-component{
			width:165px;
		}
	}
	.search-form .show-form .search-val {
	    width: 98%;
	}
}