.ui-set-num{
	display: inline-block;
  	position : relative;
  	.ui-btn{
  		display: inline-block;
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    font-size: 30px;
	    font-weight: bold;
	    cursor: pointer;
	    text-align: center;
  	}
  	.ui-num{
  		font-size: 30px;
  		font-weight: bold;
  	}
}