.ui-chip{
   display:inline-block;
   line-height: 30px;
   padding-left:15px;
   padding-right:15px;
  .label{
    line-height: 30px;
    display:inline-block;
  }
  .del{
      width: 12px;
      height: 12px;
      display:inline-block;
      background: url(./images/del.svg) no-repeat center ;
  }
  .edit{
      width: 12px;
      height: 12px;
      display:inline-block;
      background: url(./images/edit.svg) no-repeat center ;
  }
}
