.ui-chip{
   display:inline-block;
   line-height: 30px;
   padding-left:15px;
   padding-right:15px;
   border-radius: 6px;
  .label{
    line-height: 30px;
    display:inline-block;
    padding: 0 20px;
  }
  .del,.edit{
      width: 16px;
      height: 16px;
      display:inline-block;
      cursor: pointer;
  }
  .del{
      background: url(./images/del.svg) no-repeat center ;
      background-size: cover;
  }
  .edit{
      background: url(./images/edit.svg) no-repeat center ;
      background-size: cover;
  }
}
