.print-Footer{
  width: 760px;
  position: relative;
  margin: 0 auto;
  //overflow: hidden;
  p:nth-child(1){
    font-size: 14px;
    color: #333;
    line-height: 42px;
    text-align: right;
    margin: 0;

  }
  .print-Bottom{
    margin: 0;
    position: relative;
    line-height: 88px;
    color: #666;
    width: 100%;
    border-top: 4px solid #2d8dcd;
    text-align: center;
    span{
      font-size: 18px;
    }
    .dott{
      width: 0;
      height: 0;
      font-size: 0;
      display: inline-block;
      position: absolute;
      top:43px;
      border:1.5px solid #666;
      border-radius: 100%;
      font-family: "FZLTHJW  GB1 0";
    }
    .tel{
      font-size: 14px;
      position: absolute;
      right: 0;
    }
  }
}
