.m-stage-list{
    margin-left: 42px;
    padding: 35px 53px 48px 43px;
   .title{
       position: relative;
       font-size: 18px;
       margin-left: -5px;
       .new-icon-add{
       display: inline-block;
       width: 42px;
       height: 42px;
       vertical-align:middle;
       background: url(../images/community.svg) no-repeat;
       background-position: center center;
       background-size: 100% 100%;
       }
       label{
       vertical-align:middle;
       display: inline-block;
       margin-left: 14px;
       }
   }
   .person-close{
       position: absolute;
       display: block;
       width: 20px;
       height: 20px;
       right: 0px;
       top:0px;
       cursor: pointer;
       background: url(../images/closeIcon.svg) no-repeat;
       background-position: center center;
   }
}

.m-stage-add{
    margin-left: 42px;
    padding: 35px 53px 48px 43px;
    .m-add-field{
        margin-top: 10px;
        margin-left: -20px;
    }
    .m-floor{
        .checkBox-componet .ui-form-controller{
            padding-left:10px;
        }
    }
   .title{
       position: relative;
       font-size: 18px;
       margin-left: -5px;
       .new-icon-add{
       display: inline-block;
       width: 42px;
       height: 42px;
       vertical-align:middle;
       background: url(../images/community.svg) no-repeat;
       background-position: center center;
       background-size: 100% 100%;
       }
       label{
       vertical-align:middle;
       display: inline-block;
       margin-left: 14px;
       }
   }
   .person-close{
       position: absolute;
       display: block;
       width: 20px;
       height: 20px;
       right: 0px;
       top:0px;
       cursor: pointer;
       background: url(../images/closeIcon.svg) no-repeat;
       background-position: center center;
   }
}