.uploadWarn{
	z-index: 100;
	position: fixed;
	top: 25px;
	left: 44%;
	padding:8px 30px;
	font-size:14px;
	background: #ffe9e9;
	border: solid 1px #ffb8b8;
    border-radius: 4px;
    .tipImg{
    	width:23px;
    	vertical-align:middle;
    	margin-right:9px;
    }
}
.upload-img-box{
	.upload-img-title{
		width:100%;
		margin-top:15px;
		text-align:center;
		.upload-img-right{
			width:18px;
			vertical-align:middle;
			margin-right:8px;
		}
		.upload-img-tip{
			color:#5cbd5c;
		}
	}
}