
.table{
	width:100%;
	border-collapse:collapse;
	border-radius:4px 4px 0 0;

	th{
		height:45px;
		text-align:center;
		font-size:14px;
		color:#333;
		font-weight:100;
		background-color:#e8e8e8;
	}

	thead{
		border:1px solid #ddd;
	}

	td{
		height:45px;
		text-align:center;
		font-size:14px;
		color:#333;
		font-weight:100;
		padding:0;
	}

	tr{
		border:1px solid #ddd;
	}

	&.table-bordered{
		td{
			border:1px solid #eaeaea;
		}
	}

	&.table-striped{

	}



}
