.wait-audit{
    .wait-audit-delete{
        text-align: center;
        .wait-audit-delete-content{
            margin: 50px 0px;
        }
    }
    .ui-form-controller.inline{
        box-sizing: border-box;
        padding-left: 20px;
    }
    .dynamics-img{
       width: 40px;
       margin-top: 5px;
       margin-left: 5px;
   }
}
