.shadow{
  height: 120%;
  width: 100%;
  background:rgba(54, 70, 93, 0.7);
  position: absolute;
  right:0;
  bottom:0;
  left: 0;
  top: 0;
  z-index: 15;
}
.message_box{
  width: 443px;
  min-height: 236px;
  background-color: #fff;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  margin-top: -88px;
  margin-left: -222px;
  position: absolute;
  z-index: 1600;
  box-shadow:0 0 30px rgba(0, 2, 49,0.25),0 0 30px rgba(0, 2, 49,0.25),0 0 30px rgba(0, 2, 49,0.25),0 0 30px rgba(0, 2, 49,0.25);
  -webkit-animation-name: MessagePulse;
  animation-name: MessagePulse;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  //-webkit-animation-fill-mode: both;
  //animation-fill-mode: both;
}
.message_box{
  top: 200px;
  left: 50%;
  position: absolute;
}
.waiting{
  background:url(images/data.jpg) no-repeat center 14px;
  width: 100%;
  margin: 0px;
  height: 240px;
  background-size: 156px 156px;
  text-align: center;
  overflow: hidden;
  span{
    margin-top: 187px;
    display: inline-block;
    font-size: 14px;
    color: #333333;
    font-family: "Adobe 黑体 Std R";
    word-break:break-all;
    width: 80%;
  }
}
