.member-door-permmision{
    .section-body{
        padding-left:0;
        padding-right:0;
        padding-bottom:20px ;
    }
    .member-info{
        border-bottom: solid 1px #eee;
    }
   
   .authoriazation-equipment-box{
     
       .can-operate-equipment{
           padding:20px;
       }
   }
}