.member-door-permmision{
    tbody{
        tr:hover{
            background : #d4e7fe;
        }
    }
    .section-body{
        padding-left:0;
        padding-right:0;
        padding-bottom:20px ;
    }
    .member-info{
        border-bottom: solid 1px #eee;
    }
   
   .authoriazation-equipment-box{
     
       .can-operate-equipment{
           padding:20px;
       }
   }
   .renderFilter{
        width: 260px;
    }
}
.personsal-door-permmision{
    .section{
        margin-bottom:0;
    }
    .section-body{
        padding:10px;
    }
    .personal-permmision-item{
        // border: solid 2px #eee;
        // border-radius: 15px;
        box-shadow: 10px 10px 20px #eee;
        overflow: hidden;
        &:nth-of-type(3){
            .section-body{
                padding-top: 20px;
            }
        }
        .member-info-top{
            background: #fff;
           padding:5px 10px; 
        }
    }
    .person-info{
        border-bottom: solid 1px #b9b9b9;
    }
    .belong-of-equipment{
        border-bottom: solid 1px #b9b9b9;
    }
}

