.change-member-item-box{
    .section-body{
        padding:0;
        padding-top:20px;
        .ui-form-controller{
            margin-bottom: 0px;
        }
    }
    .table-group-equipment{
        min-height:450px;
        margin-top:-15px;
        .title{
            height:45px;
            border-top:solid 1px #eee;
            border-bottom:solid 1px #eee;
            font-size:12px;
        }
        .item-line{
             height:45px; 
             border-bottom:solid 1px #eee;
             span{
                 font-size:12px;
             }
             
        }
        .item-line-span{
             display:inline-block;
             width:18%;
             height:45px;
             line-height:45px;
             text-align:center;
             vertical-align: top;
            &:nth-of-type(4){
                 width:14%;
            }
            
            &:nth-of-type(5){
                width:25%;
            }
            &:nth-of-type(6){
                width:13%;
            }
        }
        // .community-id-item{
        //     width:16%;
        // }
        .last-line-span{
            width:6%;
            cursor: pointer;
            color: #499df1;
        }
        .first-line-item{
            display:inline-block;
            width:4%;
            cursor: pointer;
            
        }
        .deviceId-line-span{

        }
    }
    
    .group-member-search{
        margin-bottom:20px;
    }
}