.u-creat-drawer{
    .u-audit-add-icon{
		width:40px;
		height:40px;
		margin-right:6px;
		display:inline-block;
		background:url(images/icon.svg) no-repeat center center;
		background-size: cover;
	}
	.u-audit-close{
		width:18px;
		height:18px;
		float:right;
		display:inline-block;
		background:url('images/close.svg') no-repeat center center;
		background-size: cover;
	}
}