.g-basic-setting{
      background: #fff;
      padding: 0 1.5%;
      min-height: 910px;
      .center-row{
        height: 72px;
        box-sizing: border-box;
        padding: 16px 0;
        position: relative;
        border-bottom: 1px solid #e8e9e9;
        margin-bottom: 25px;
        .department{
          position: absolute;
          top: 16px;
          left: 0;
          height: 50px;
          width: 100%;
          .department-logo{
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            background: #FF6868;
            border-radius: 4px;
            span{
                display: inline-block;
                width: 100%;
                position: absolute;
                text-align: center;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                color: #fff;
                font-size: 14px;
            }
          }
          .department-name{
            position: absolute;
            top: 0px;
            left: 50px;
            font-size: 14px;
            color: #333333;
          }
          .department-tab-list{
            position: absolute;
            top: 21px;
            left: 50px;
            white-space: nowrap;
            .department-tab{
              display: inline-block;
              height: 35px;
              font-size: 14px;
              color: #666;
              border: none;
              margin-right: 15px;
              cursor: pointer;
            }
            .department-tab-active{
              font-family: PingFangSC-Medium;
              color: #4990E2;
              background: url('./images/sel_line.png') no-repeat center bottom;
              background-size: 100% 3px;
            }
          }
        }
        .button-group{
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          div{
            box-shadow: none !important;
          }
          .btn-center{
            display:inline-block;
            margin-right:10px;
          }
        }
      }
  .ui-btn-center{
        margin-right: 29px;
        display: inline-block;
    }
  .u-delete-title{
      width:100%;
      float:left;
      margin:36px 0 25px;
      text-align:center;
	}
  .tfoot td{
    padding-top: 34px;
    padding-bottom: 34px;
  }
  .ui-form-controller textarea{
    height: 76px;
  }
  .g-initiator{
    .detail-header{
        background: #F5F6FA;
        border:solid 1px #E1E6EB;
        border-left:solid 1px #E1E6EB;
    }
    .detail-header .header-row{
        border-right:solid 1px #E1E6EB; 
    }
    .ui-table tbody tr.detail-row{
        border:solid 1px #E1E6EB;
        border-left:solid 1px #E1E6EB;
    }
    .ui-table tbody tr:nth-child(2n+1) {
        background-color: #fff;
    }
    .ui-table tbody tr:hover {
      background-color: #f6f6f6;   
    }
  }
    
}







