    .m-rank-post{
           margin-top: 35px;
           margin-left: 20px;
            .list-len-textarea{
                width: 100% !important;
                text-align: right;
                float:none !important;
             }
             .m-post-enable{
                 display:inline-block;
                .ui-form-controller{
                    margin-top:10px;
                } 
             }
     }
