.high-load{
    padding-left: 70px;
    margin-top: 60px;

.loading-progress{
	position: relative;
	width: 270px;
    height: 16px;
    border:solid 1px #dfdfdf;
    background: #f6f6f6;
    border-radius:50px;
	.progress{
		position: absolute;
		display:block;
		text-align: center;
		width: 100%;
		color: #666;
		font-size:14px;
		background: rgba(73,157,241,0.70);
        border-radius:50px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
	}
	.progress-two{
      border-bottom-right-radius:50px;
      border-top-right-radius:50px;
	}
  }

}
.sure-tip{
	max-width:243px;
	margin:0 auto;
	text-align: center;
	font-size:14px;
	color:#333;
	margin-top: 44px;
	word-wrap: break-word;
    word-break: normal;
    line-height: 20px;
}
.m-upload-sure{
  margin-left: 50px;
}
