.ui-moveIcon{
  background: url(images/move.jpg) no-repeat;
	background-position:center;
}
.ui-groupMould:hover{
  background: #f5f5f5;
}
.ui-iconDown{
  background: url(images/iconDown.svg) no-repeat;
  background-position: center center;
}
.ui-iconUp{
  background: url(images/iconUp.svg) no-repeat;
  background-position: center center;
}
