.m-control-table{
    .Select-control{
        width: 150px;
    }
    .m-control-table-head{
        width: 100%;
        .m-control-table-head-td{
            float: left;
            height: 120px;
            line-height: 120px;
            text-align: center;
            width: 10%;
            background: #499df1;
            color: #fff;
            box-sizing: border-box;
            
            border-right: 1px solid #eee;
            .m-control-table-head-tr{
              height: 40px;
              box-sizing: border-box;
              border-bottom: 1px solid #eee;
              line-height: 40px;

            }
            .m-control-table-head-tr:last-child{
                 border-bottom: 0px solid #eee;
            }
        }
        .head-td1{
            width: 20%;
        }
    }
    
}