.detail-report{
    margin: 0 36px;
  .detail-header{
    background: #F5F6FA;
    border:solid 1px #E1E6EB;
    border-left:solid 1px #E1E6EB;
 }
 .detail-header .header-row{
    border-right:solid 1px #E1E6EB; 
 }
  .ui-table tbody tr.detail-row{
    border:solid 1px #E1E6EB;
    border-left:solid 1px #E1E6EB;
 }
  .ui-table tbody tr:nth-child(2n+1) {
    background-color: #fff;
  }
  .ui-table tbody tr:hover {
   background-color: #f6f6f6;   
 }
 .ui-table .tfoot td{
   padding-bottom:0;
   padding-top:30px;
 }
 .tableOver{
	display:inline-block;
	max-width:100px;
	padding-bottom:5px;
  }
  .tooltipParent .ui-tooltip.center {
    left:50%;
  }
  .report-search{
     margin-top: 20px;
     margin-bottom: 20px;
     display: inline-block;
     float: right;
  }
}

