ul,li{
	list-style:none;
	padding:0;
	margin:0;
}

a{
	text-decoration:none;
	color:rgba(0, 0, 0, 0.65);
	font-family:Roboto, sans-serif;
}

.g-header-nav{
	width:100%;
	height:60px;
	background:#fff;
	position: fixed;
	left:0;
	top:0;
	z-index:200;
	overflow:hidden;
	border-bottom:1px solid #eee;
	.u-header-sidebar{
		width:180px;
		height:60px;
		cursor: pointer;
		text-align: center;
		background:#fff;
		position:fixed;
		left:0;
		top:0;
		&:hover{
				background:rgba(153,153,153,0.2);
				border-radius:2px;
		}
	}
	.u-header-sidebar-icon{
	    height: 36px;
	    width: 36px;
	    display:inline-block;
	    position:absolute;
	}
	.u-header-icon-heng{
		left:75px;
    	margin-top: 20px;
		background: url(images/hide_heng.png) -7px -3px no-repeat;
    	background-size: 36px 30px;
	}
	.u-header-icon-shu{
		left:80px;
		margin-top: 15px;
		background: url(images/hide_shu.png) -7px -3px no-repeat;
    	background-size: 30px 36px;
	}
	.u-header-logo{
		width:120px;
		height:60px;
		position:absolute;
		left:180px;
		top:0;
		background: url(images/logo.png) center center no-repeat;
		background-size:110px 110px;
		&:hover{
				background:rgba(153,153,153,0.2) url(images/logo.png) center center no-repeat;
				background-size:110px 110px;
				border-radius:2px;
		}
	}
	.u-header-nav{
		width:848px;
		height:60px;
		background:#fff;
		position:absolute;
		left:300px;
		top:0;
		overflow:hidden;
		li{
			min-width:88px;
			height:60px;
			line-height:60px;
			display:inline-block;
			text-align:center;
			cursor: pointer;
			a{
				padding:0 16px;
				display:inline-block;
				height:100%;
			}
			&:hover{
				background:rgba(153,153,153,0.2);
				border-radius:2px;
			}
		}
	}
	.u-header-more{
		color:rgba(0, 0, 0, 0.65);
		font-size:14px;
		float:right;
	 	margin-right:100px;
		height:60px;
		line-height:60px;
		text-align:center;
		width:35px;
	}
	.ui-bellIcon{
		position:fixed;
		right:70px;
		top:20px;
	}
	.u-header-more-person{
		width:48px;
		height:60px;
		display:inline-block;
		background:pink;
		position:fixed;
		right:10px;
		top:0;
	}
	.u-header-more-list{
		width:848px;
		height:60px;
		background:#fff;
		position:absolute;
		left:300px;
		top:65px;
		li{
			min-width:88px;
			height:60px;
			line-height:60px;
			display:inline-block;
			text-align:center;
			cursor: pointer;
			a{
				padding:0 16px;
				display:inline-block;
				height:100%;
			}
			&:hover{
				background:rgba(153,153,153,0.2);
				border-radius:2px;
			}
		}
	}
	

}
.u-header-active{
	color: rgb(57, 68, 87);
	font-weight: 600;
}
