.g-create{
		width:775px;
		height:420px;
		overflow-x:hidden;

	.u-delete-title{
		width:100%;
		float:left;
		margin:60px 0 25px;
		text-align:center;
	}
	.u-operation-lable{
		float:left;
		width:50px;
		font-size:14px;
		color:#666;
		.u-require{
			color:red;

		}

	}
}
.u-method-contentE{
	margin-top: -30px
}
.ui-btn-center{
	display:inline-block;
	margin-right:20px;
}
.u-add-delete{
	cursor: pointer;
}
.dialog-body{
	padding-right:0 !important;
}
