.w-left{
    width: 230px;
    height: 476px;
    display: inline-block;
    margin-right: 10px;
    float: left;
    background: #FFFFFF;
    border: 1px solid #E1E6EB;
    border-radius: 4px;
    ul{
      li{
        line-height: 36px;
        height: 36px;
        border-bottom: solid 1px #E1E6EB;
        cursor:pointer;
      }
    }
}
.w-right{
    width: 230px;
    height: 476px;
    display: inline-block;
    float: left;
    background: #FFFFFF;
    border: 1px solid #E1E6EB;
    border-radius: 4px;
    ul{
      li{
           line-height: 36px;
           height: 36px;
           border-bottom: solid 1px #E1E6EB;
           cursor:pointer;
      }
    }
}