.ui-print-header{
	height:166px;
	width:790px;
	margin:0 auto;
	border-bottom:4px solid #2d8dcd;
	overflow:hidden;
	.logo-info{
		width:292px;
		float:left;
		font-size:14px;
		color:#333333;
		.print-logo{
			background:url('images/print-logo.svg') no-repeat center center;
			width:108px;
			height:36px;
			background-size: cover;
			margin-top:63px;
		}
	}
	.print-code{
		margin-top:9px;
	}
	.print-title{
		width:206px;
		float:left;
		font-size:34.3px;
		color:#2d8dcd;
		padding-top:76px;
		font-weight:500;
	}

}