.ui-print-header{
	height:100px;
	width:700px;
	margin:0 auto;
	border-bottom:2px solid #2d8dcd;
	overflow:hidden;
	position:relative;
	.logo-info{
		width:292px;
		float:left;
		color:#333333;
		.print-logo{
			background:url('images/print-logo.svg') no-repeat center center;
			width:80px;
			height:36px;
			background-size: cover;
			margin-top:14px;
		}
	}
	.print-code{
		span{
			font-size:13px;
		}
	}
	.print-title{
		position:absolute;
		top:46px;
		left:50%;
		transform:translateX(-50%);
		font-size:34.3px;
		color:#2d8dcd;
		font-weight:500;
	}
	.print-QRCode{
		width:81px;
		height:80px;
		border:2px solid #2d8dcd;
		float:right;
		margin-top:10px;
		padding:2px 2.5px;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-ms-border-radius:4px;
	}

}

