.ui-print-header{
	height:90px;
	width:700px;
	margin:0 auto;
	border-bottom:3px solid #2d8dcd;
	overflow:hidden;
	position:relative;
	.logo-info{
		width:292px;
		float:left;
		color:#333333;
		.print-logo{
			background:url('images/print-logo.svg') no-repeat center center;
			width:80px;
			height:36px;
			background-size: cover;
			margin-top:8px;
		}
	}
	.print-code{
		span{
			font-size:14px;
		}
	}
	.print-code-list{
		margin-bottom:5px;
	}
	.print-title{
		width:100%;
		position:absolute;
		top:20px;
		left:0;
		font-size:30px;
		color:#2d8dcd;
		font-weight:500;
		text-align:center;
	}
	.print-QRCode{
		width:71px;
		height:70px;
		border:2px solid #2d8dcd;
		float:right;
		margin-top:3px;
		padding:2px 2.5px;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-ms-border-radius:4px;
	}

}
@media print{
.ui-print-header{
	.print-QRCode{
		margin-top:1px;
	}
	}
}
