.g-view-integration{
	position: relative;
	padding: 35px 0 20px 0;
	table{
		width:96%;
		th,td{
			&:nth-child(1){
				width:100px;
			}
			&:nth-child(2){
				width:150px;
			}
			&:nth-child(3){
				width:80px;
			}
			&:nth-child(4){
				width:100px;
			}
			&:nth-child(5){
				width:150px;
			}

		}

	}
	
	.u-create-close{
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      right: 0px;
      top:0px;
      cursor: pointer;
      background: url(./images/closeIcon.svg) no-repeat;
      background-position: center center;    
    }
    .u-create-title{
	  position: relative;
	  font-size: 18px;
	  height:45px;
	  .u-view-customerName{
			color:#333333;
	 }
	  .title-text{
		padding-left:55px;
	  }
	  .u-create-close{
	  	  vertical-align:middle;
	      display: inline-block;
	      margin-right: 20px;

	  }
	   
  }
  

}
.g-integration-searchform{
	min-width:320px;
	height:80px;
	display: inline-block;
	float:right;
	.search-form {
		margin-left:20px;
	}
	.ui-form-label{
		margin-right: 16px;
	}
	.ui-form-controller{
		width:200px;
		max-width:200px;
	}
}

.g-recharge{
	position: relative;
	.ui-form-item{
		&:nth-child(2){
			.ui-form-label{
				margin-right: 30px;
			}
		}
	}
	.u-txt{
		position: absolute;
		left:265px;
		top:85px;
	}
}
.g-checked{

	.u-checked-label{
		text-indent:50px;
		margin-bottom:10px;
		.u-require{
			color:red;
			margin-right: 9px;
			vertical-align: -webkit-baseline-middle;
		}
		.u-txt{
			color:#333;
			font-size:14px;
		}
	}
	.u-password{
		box-sizing: border-box;
	    width: 230px;
	    display: block;
	    height: 38px;
	    padding-left: 10px;
	    padding-right: 10px;
	    border: 1px solid #ddd;
	    border-radius: 4px;
		margin-left: 60px;
	}
}

.ui-btn-center {
    margin-right: 30px;
    display: inline-block;
}