.ui-community-list-box{
	width: 400px;
	height: 400px;
	background-color:#fff;
	border: solid 2px #eee;
	.ui-community-list-left{
		width: 40%;
		height: 100%;
		margin-right:10%; 
		.ui-community-list-all{
			width :100%;
			height:80%;
			border:solid 2px #eee;
			.ui-community-list-title{
				border-bottom: solid  1px #eee;
			}
			.ui-community-list-all-table{
				
				.ui-community-list-all-ul{
					margin:0;
					padding:0;
					.ui-community-list-all-cityLi{
						list-style:none;
					}
				}
			}
		}
	}
}