.search-form-control-table.searchList{
    .ui-form-item{
        float: left;
    }
    .search-form .show-form .search-val{
       width: 148px;
    }
    .Select-menu-outer{
      width: 150px;
    }
    .Select-clear{
      height: 0px;
      overflow: hidden;
    }
    
      .Select-clear-zone{
      width: 0px;
      height: 0px;
      display: inline-block;
    }
    
    
}
