.checkBox-componet{
    .ui-form-controller{
        padding-left: 0px;
        .disabled{
            display: inline-block;
            height: 12px;
            width: 12px;
            background-color:#eaeaea;
            border-spacing: 2px; 
            cursor: not-allowed;
            border-radius: 2px;
            border:1px solid gray;
            box-sizing: border-box; 
        }
        .disabled-true{
            display: inline-block;
            height: 12px;
            width: 12px;
            background-color:gray;
            border-spacing: 2px; 
            cursor: not-allowed;
            border-radius: 2px;
        }
    }
}