.m-o-voucher{
    .pswp-thumbnail{
      width: 90px;
      height: 90px;
      display: inline-block;
      border: 1px solid #dfdfdf;
      padding: 3px 4px 4px 3px;
      cursor: pointer;
      img{
        border: 1px solid #dfdfdf;
      }
      margin-right: 10px;
    }
    .m-voucher-d{
          .tabs-lines{
            border-right: none !important;
          }
    }
}
