.m-o-voucher{
    .pswp-thumbnail{
      width: 90px;
      height: 90px;
      display: inline-block;
      border: 1px solid #dfdfdf;
      padding: 3px 4px 4px 3px;
      cursor: pointer;
      img{
        border: 1px solid #dfdfdf;
      }
      margin-right: 10px;
    }
    .m-voucher-d{
          .tabs-lines{
            border-right: none !important;
          }
    }
}

.u-audit-detail{
  padding-top:40px;
  margin-left:-20px;
  .ui-detailContents,.ui-textInfos{
  		border-left:1px dashed #499df1;
  	}
    .u-add-total-count{
      font-size:16px;
      font-family:'FZLTZHJW  GB1 0';
      color:#333333;
      margin-bottom:10px;
      .u-add-total-icon{
        width:16px;
        height:18px;
        display:inline-block;
        background:url('images/pay.svg') no-repeat center center;
        background-size: cover;
      }
      .u-add-total-title{
        margin-left:6px;
      }
      span{
        vertical-align: middle;
      }
    }
    .u-order-list{
  		font-size:14px;
  		color:#666666;
  		.u-order-name{
  			margin-bottom:16px;
  		}
  		.u-order-font-list{
  			width:260px;
  			float:left;
  			margin-bottom:16px;
  			.u-order-deatil{
  				font-family:'FZLTZHJW  GB1 0';
  				margin-bottom:16px;
  				.u-font-red{
  					color:#ff6868;
  				}
  			}


  		}
  	}
}
.ui-btn-center {
    margin-right: 30px;
    display: inline-block;
}
