.m-wrap-node{
    margin-top:15px;
}
.m-add-node{
    margin-left: 42px;
    padding: 38px 45px 48px 62px;
}
.m-watch-node{
   .m-title-node{
    margin-left: 42px;
    padding: 35px 45px 0px 0px;
   }
   .role-tab{
     width: 658px;
     margin: 0 auto;
   }
}
.m-node-basic{
    margin-top: 25px;
    margin-left: 38px;
    .basic-btn{
        width:100%;
        text-align: center;
        margin-top:30px;
    }
}