.g-group-manages{
	width:100%;
	height:100%;
	.m-searchform{
		height:60px;
		width:100%;
	}

.u-delete-title{
	color:rgba(0,0,0,0.6);
	line-height:50px;
	font-size:14px;
}

}

.ui-btn-center {
    margin-right: 30px;
    display: inline-block;
}
.g-searchform{
	min-width:400px;
	height:80px;
	display: inline-block;
	.search-form {
		margin-left:20px;
	}
	.ui-form-label{
		margin-right: 16px;
	}
	.ui-form-controller{
		width:200px;
		max-width:200px;
	}
}


.g-create-group{
	position: relative;
	padding: 35px 0 48px 0;
	form{
		padding-left: 103px;
	}
	
	.u-view-img{
		margin-bottom:16px;
		p{
			color:#333333;
			display: inline-block;
		    vertical-align: top;
		    margin-top: 50px;
		}
		.u-person-img{
			width:130px;
			height:130px;
			border-radius: 50% 50%;
		}
	}
	.u-view-group{
		.ui-form-label,.ui-form-controller,.ui-label-text{
			padding-left:0;
		}
	}
	
	.u-create-title{
		height:45px;
	}
	.u-create-close{
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      right: 0px;
      top:0px;
      cursor: pointer;
      background: url(./images/closeIcon.svg) no-repeat;
      background-position: center center;    
    }
    .u-create-title{
	  position: relative;
	  font-size: 18px;
	  .title-text{
		padding-left:103px;
	  }
	  .u-create-close{
	  	  vertical-align:middle;
	      display: inline-block;
	      margin-right: 20px;

	  }
      
	   
  }

	
}