.tree-personnel{
    height: 525px;
    background: #fff;
    text-align: center;
    .personnel-title{
        text-align: left;
        height: 40px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        .personnel-title-icon{
            display: inline-block;
            width: 40px;
            height: 40px;
            vertical-align: middle;
            background: url('./images/personnel.svg') no-repeat center;
        }
        .personnel-title-text{
          vertical-align: middle;  
          margin-left: 10px;
        }
    }
    .serch{
        background: #FFFFFF;
      
       
        .search-icon{
          margin-top: -25px;
          margin-right: 9px;
        }
    }
    .tree-content-left-right{
        border: 1px solid #E1E6EB;
        height: 376px;
         border-radius: 4px;
         margin-top: 10px;
          overflow: auto;
    }
    .content-left{
        width: 395px;
        display: inline-block;
       
        float: left;

    }
    .content-right{
        width: 230px;
        float: left;
      
        margin-left: 10px;
        display: inline-block;
        left:10px;
        
        background: #FFFFFF;
       
        .everyHave{
            position: relative;
            min-height: 36px;
            line-height: 17px;
            box-sizing: border-box;
            padding: 10px;
            border-bottom:1px solid #E1E6EB;
            cursor: pointer;
          
        }
        
    }

    .tree-content-left-right:hover{
        border: 0.6px solid #499df1;
        box-shadow: 0px 0px 4px #499df1;
    }

    .botton{
        display: inline-block;
        padding: 0px 25px;
        cursor: pointer;    
    }
    .botton:hover{
        color:#499df1;
    }
    .tree-dialog-bottom{
        background: #F6F6F6;
        height: 40px;
        width: 100%;
        text-align: center;
        line-height: 40px;
        position: absolute;
        bottom: 0px;
    }
    .tree-content{
        display: inline-block;
        text-align:left;
    
    }
}