.titlelist{
	background-color: rgba(248, 250, 249, 1);
	border:1px solid rgba(228, 228, 228, 1);
	height: 30px;
	font-size: 13px;
	line-height: 30px;
	padding-left: 5px;
	.list{
		display: inline-flex;
		&:after{
			content:'>';
			margin: 0 3px;
		}
	}
	.list:last-child{
		&:after{
			content:'';
		}
	}
}