.g-operation{
	.searchForm{
		position:relative;
		z-index:9 !important;
	}
	.u-operations-edit-title{
		color: #333;
		font-size: 18px;
		padding-left: 20px;
		margin-bottom: 20px;
		font-family: PingFangSC-Medium;
	}
	.ui-tooltip.center {
    left: 49%;
		text-align: center;
		.top-arrow{
			display: none;
		}
}
	.searchList{
		.ui-button{
			width: 70px;
			height: 26px;
			div{
				width: 70px !important;
				height: 26px !important;
				line-height: 26px !important;	
			}
			button{
				width: 70px !important;
				height: 26px !important;
			}	
		}
	}

	
}

.search-filter{
	ul{
		list-style: none;
	}
}
.g-operations-create{
	.u-edit-list{
		width:800px;
	    word-break: break-all;
	    min-height: 20px;
	    height: auto;
	    font-size: 14px;
	    color: #666;
	    margin: 10px 0;
	    text-align: left;
	    .u-add-delete{
	    	float:right;
	    	color:#499df1;
	    }
	}
	.u-edit-list:hover{
		background:#c3e0fd;
	}
}