.pessi-type-add{
  margin-top: 35px;
  margin-left: 20px;
}
.type-list-textarea{
  width:100% !important;
  text-align: right;
  float:none !important;
}
.basic-type-list{
  .ui-table th{
    font-weight:300;
  }
  .tooltipParent{
    .ui-tooltip{
      width:220px;
      word-wrap: break-word;
      white-space:normal;
    }
  }
}
