.pessi-type-add{
  margin-top: 35px;
  margin-left: 20px;
}
.type-list-textarea{
  width:100% !important;
  text-align: right;
  float:none !important;
}
.basic-post-list{
  .ui-table th{
    font-weight:300;
  }
}
