

.ui-change-num{
    display: inline-block;
    .ui-change-num-img{
        width : 30px;
        height: 30px; 
        vertical-align: middle;
        cursor:pointer;
    }
    .ui-change-num-input{
        outline: none;
        vertical-align: middle;
        border: none;
        width: 115px;
        height: 56px;
        line-height: 56px;
        padding: 0 10px;
        box-sizing: border-box;
        font-size: 56px;
        text-align: center;
        margin-top: -4px;
        font-weight: bold;
    }
}