.tree-dialog{
    .content-left{
        width: 190px;
        overflow: auto;
        height: 300px;
        border: 1px solid #ccc;
    }
    .content-right{
        width: 190px;
        position: absolute;
        top: 0px;
        right: 10px;
        border:1px solid #ccc;
        height: 300px;
    }
}