.message_box{
  width: 443px;
  height: 236px;
  background-color: #fff;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  margin-top: -118px;
  margin-left: -222px;
  position: absolute;
  z-index: 1400;
  box-shadow:0 0 30px rgba(0, 2, 49,0.25),0 0 30px rgba(0, 2, 49,0.25),0 0 30px rgba(0, 2, 49,0.25),0 0 30px rgba(0, 2, 49,0.25);
}
.zhezhao{
  height: 100%;
  width: 100%;
  background:rgba(54, 70, 93, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1301;
}
.hide{
  display: none;
}
.message_box{
  top: 50%;
  left: 50%;
  position: absolute;
}
.success{
  background:url(images/success.png) no-repeat center 14px;
  width: 100%;
  margin: 0px;
  text-align: center;
  overflow: hidden;
}
.error{
  background:url(images/error.png) no-repeat center 14px;
  width: 100%;
  margin: 0px;
  text-align: center;
  overflow: hidden;

}

.message_box>span{
  width: 10px;
  height: 10px;
  background:url(images/guanbi.png) no-repeat center;
  float: right;
  margin: 26px 26px 0 0;
  display: inline-block;
}
.wai p>span{
  margin-top: 137px;
  display: inline-block;
  font-size: 18px;
  color: #333333;
  font-family: "Adobe 黑体 Std R"
}
