
table{
	button{
		span{
				color:#499df1 !important;
			}
	}
}

.parentTable{
	.even{
		background:#fff !important;
	}
	.odd{
		background:#f2f2f2  !important;
	}

}
.childTable{
	width:90%;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:40px;
	th{
		background:#499df1;
		color:#ffffff;
	}
	tbody{
		tr:nth-child(2n+1){
			background:#f6f7ff;
		}
		tr:nth-child(2n){
			background:#ffffff;
		}
		
	}
	
	
}
.bottom{
		width:25px;
		height:23px;
		margin:14px auto;
		background:url('images/bottom.png') no-repeat center center;
		background-size:100% 100%;
	}