.m-addPerson{
     margin-left: 42px;
     padding: 35px 45px 48px 53px;
     .ui-form-item:nth-child(3){
         .ui-form-controller{
             margin-top: 10px;
         }
     }
    .title{
        position: relative;
        font-size: 18px;
        margin-left: -5px;
        .new-icon-add{
        display: inline-block;
        width: 42px;
        height: 42px;
        vertical-align:middle;
        background: url(./images/people.svg) no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        }

        label{
        vertical-align:middle;
        display: inline-block;
        margin-left: 10px;
        }
    }
    .person-close{
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        right: 0px;
        top:0px;
        cursor: pointer;
        background: url(./images/close.svg) no-repeat;
        background-position: center center;
    }
}