.community-collect-box{
	.search-form{
		width:100%;
		height:50px;
		line-height:50px;
		img{
			width:24px;
			height:24px;
			vertical-align: middle;
			margin:0 7px 0 9px;

		}
		.title{
			display:inline-block;
			vertical-align:top;
			margin:0;

		}
		
		.right-cont{
			float:right;
			.ui-list-group{
				height: 50px;
    			line-height: 50px;
			}
			.ui-form-label{
				width:0;
			}
			.calendar-content{
				width:200px;
			}
			.Select{
				width:200px;
			}
			.Select-menu-outer{
				position:relative;
				top:0;
				left:0;
				/*div{
					display:block;
				}*/
			}
			
		}
	}
}
