.community-collect{
	padding-bottom: 65px;
}
.community-collect-box{
	.search-form-community-collect{
		fontSize:14px;
		width:100%;
		height:40px;
		line-height:40px;
		.title-img{
			width:24px;
			height:24px;
			vertical-align: middle;
			margin:17px 7px 0 9px;
		}
		.title{
			display:inline-block;
			vertical-align:top;
			margin:0;
			margin-top:11px;
			font-size:14px;
			.black{
				color:#333;
			}
		}
		
		.right-cont{
			float:right;
			
		}
	}
	.community-collect-table-box{
		background:#fff;
		margin-top:30px;
		padding-bottom: 43px;
	}
	.table-box{
		position:relative;
		border: solid 1px #ccc;
		width:100%;
		overflow:hidden;
		.table-title{
			position:fixed;
			background:#fff;
			top:60px;
		    height: 80px;
		    overflow: hidden;
		}
		.left-title-header-header{
			border: solid 1px #fff;
	    	box-sizing: border-box;
			top:60px;
			display:none;
			overflow:hidden;
			width:140px;
			text-align:center;
			height :82px;
			line-height :80px;
			background:#5cb2ff;
			z-index:12;
			color:#fff;
			font-size:14px;
		}
		.table-left-title{
			position:absolute;
			display:none;
			background:#fff;
			width:140px;
			min-height:100px;
			border:solid 1px #eee;
			border-left:none;
			box-sizing:border-box;
			z-index:11;
			.left-title-item{
				width:100%;
				height:40px;
				line-height:40px;
				text-align:center;
				border:solid 1px #eee;
				border-top:none;
				font-size:14px;
				box-sizing: border-box;
			}
			
			.left-title-header{
				position: absolute;
			    overflow: hidden;
			    margin-top: -1px;
			    width: 100%;
			    text-align: center;
			    height: 80px;
			    line-height: 80px;
			    background: #5cb2ff;
			    z-index: 10;
			    color: #fff;
			    font-size: 14px;
			}
			.left-title-box{
				position:absolute;
				margin-top:79px;
				width:100%;
				background:#fff;
			}
		}
		.table-data{

			width:100%;
			height:100%;
			overflow:scroll;
			
			.date-items{
				width:1410px;
				margin-top: 80px;
				.item-div{
					display:inline-block;
					width:10%;
					height:40px;
					line-height:40px;
					border-right:solid 1px #eee;
					border-bottom:solid 1px #eee;
					text-align:center;
					font-size:14px;
					vertical-align: top;
					box-sizing:border-box;
				}
			}
		}

		.table-container{
			position:absolute;
			border-collapse: collapse;

			tr{
				height:40px;
			}
			td{
				width:140px;
				border:solid 1px #eeeeee;
				padding:0;
				padding-top:0;
				box-sizing:border-box;
				div{
					text-align:center;
					font-size: 14px;
					box-sizing: border-box;
	    			padding: 0px 5px;
				}
				.header-div{
					width:140px;
					height:40px;
					line-height:40px;
					font-size:16px;
				}
				.header-div-box{
					/*width:280px;*/
					text-align: center;
				}
				.header-div-bot{
					height:25px;
				}
				.full-height{
					height:40px;
					line-height: 40px;
					
				}
				.half-height{
					height:25px;
					line-height: 25px;
					

				}
			}

			.dark-color{
				background:#319eff;
				div{
					color:#fff;
					font-size:14px;
				}
			}
			.light-color{
				background:#5cb2ff;
				div{
					color:#fff;
					font-size:14px;
				}
			}
		}
	}
	.export{
		position:absolute;
		width:40px;
		height:25px;
		line-height:25px;
		text-align:center;
		background:#319eff;
		border-radius:3px;
		font-size:14px;
		color:#fff;
		margin:10px 10px;
		cursor: pointer;
	}
}





