.community-collect-box{
	.search-form-community-collect{
		fontSize:14px;
		width:100%;
		height:50px;
		line-height:50px;
		.title-img{
			width:24px;
			height:24px;
			vertical-align: middle;
			margin:17px 7px 0 9px;
		}
		.title{
			display:inline-block;
			vertical-align:top;
			margin:0;
			margin-top:11px;
			font-size:14px;

		}
		
		.right-cont{
			float:right;
			
		}
	}
	.table-box{
		height:100%;
	}
	
}

